@use "sass:map";
.pgn-doc__example-props-form {
  background: $warning-100;
  padding: map.get($spacers, 3) map.get($spacers, 3) 0 map.get($spacers, 3);
  border-radius: 10px;
  border: 2px dashed black;
  margin-bottom: map.get($spacers, 3);
}
