.pgn-doc__example-props-form {
  background: var(--pgn-color-warning-100);
  padding: var(--pgn-spacing-spacer-3) var(--pgn-spacing-spacer-3) 0 var(--pgn-spacing-spacer-3);
  border-radius: 10px;
  border: 2px dashed black;
  margin-bottom: var(--pgn-spacing-spacer-3);
}
