// Code

$code-font-size: var(--pgn-code-font-size) !default;
$code-color: var(--pgn-code-color) !default;

$kbd-box-shadow: var(--pgn-code-kbd-box-shadow) !default;
$nested-kbd-font-weight: var(--pgn-code-kbd-nested-font-weight) !default;

// HTML Keyboard Input element (<kbd>) styles
$kbd-padding-y: var(--pgn-code-kbd-padding-y) !default;
$kbd-padding-x: var(--pgn-code-kbd-padding-x) !default;
$kbd-font-size: var(--pgn-code-kbd-font-size) !default;
$kbd-color: var(--pgn-code-kbd-color) !default;
$kbd-bg: var(--pgn-code-kbd-bg) !default;

$pre-color: var(--pgn-code-pre-color) !default;
$pre-scrollable-max-height: var(--pgn-code-pre-scrollable-max-height) !default;
