$bubble-success-color: var(--pgn-bubble-color-text-success) !default;
$bubble-success-bg: var(--pgn-bubble-color-bg-success) !default;

$bubble-warning-color: var(--pgn-bubble-color-text-warning) !default;
$bubble-warning-bg: var(--pgn-bubble-color-bg-warning) !default;

$bubble-error-color: var(--pgn-bubble-color-text-error) !default;
$bubble-error-bg: var(--pgn-bubble-color-bg-error) !default;

$bubble-primary-color: var(--pgn-bubble-color-text-primary) !default;
$bubble-primary-bg: var(--pgn-bubble-color-bg-primary) !default;

$bubble-expandable-padding-x: var(--pgn-bubble-expandable-padding-x) !default;
$bubble-expandable-padding-y: var(--pgn-bubble-expandable-padding-y) !default;
