$bubble-variants: (
    "success":    ( "background-color": $success, "color": $white ),
    "warning":    ( "background-color": $warning, "color": $white ),
    "error":      ( "background-color": $danger, "color": $white ),
    "primary":    ( "background-color": $primary, "color": $white ),
) !default;
