.pgn__bubble {
  line-height: normal;
  min-height: 1.5rem;
  min-width: 1.5rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--pgn-typography-font-size-xs);
  color: var(--pgn-bubble-color, inherit);
  background-color: var(--pgn-bubble-bg, transparent);

  &:disabled,
  &.disabled {
    background: var(--pgn-color-gray-500);
  }

  &.expandable {
    padding: var(--pgn-spacing-bubble-expandable-padding-y) var(--pgn-spacing-bubble-expandable-padding-x);
  }
}

.pgn__bubble-primary {
  --pgn-bubble-color: var(--pgn-color-bubble-text-primary);
  --pgn-bubble-bg: var(--pgn-color-bubble-bg-primary);
}

.pgn__bubble-success {
  --pgn-bubble-color: var(--pgn-color-bubble-text-success);
  --pgn-bubble-bg: var(--pgn-color-bubble-bg-success);
}

.pgn__bubble-warning {
  --pgn-bubble-color: var(--pgn-color-bubble-text-warning);
  --pgn-bubble-bg: var(--pgn-color-bubble-bg-warning);
}

.pgn__bubble-error {
  --pgn-bubble-color: var(--pgn-color-bubble-text-error);
  --pgn-bubble-bg: var(--pgn-color-bubble-bg-error);
}
