.pgn__sheet-skrim {
  width: 100%;
  height: 100%;
  background-color: rgba(196,196,196,0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  &.hidden {
    display: none;
  }
  z-index: $zindex-sheet-backdrop;
}
.pgn__sheet-component {
  position: fixed;
  padding: 1.25rem;
  background-color: white;
  z-index: $zindex-sheet;
  &.pgn__sheet__dark {
    background-color: $dark-500;
    color: $light-300;
  }
  &.bottom {
    bottom: 0px;
    box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 0px -8px 16px 0px rgba(0,0,0,0.15);
  }
  &.top {
    top: 0px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.15);
  }
  &.left {
    left: 0px;
    box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 8px 0px 16px 0px rgba(0,0,0,0.15);
  }
  &.right {
    right: 0px;
    box-shadow: -4px 0px 10px 0px rgba(0,0,0,0.15);
    box-shadow: -8px 0px 16px 0px rgba(0,0,0,0.15);
  }

  &.bottom, &.top {
    width: 100%;
    left: 0px;
  }
  &.left, &.right {
    height: 100%;
    top: 0px;
  }
}
