$dropzone-padding: var(--pgn-dropzone-padding) !default;
$dropzone-border-default: var(--pgn-dropzone-border-default) !default;
$dropzone-border-hover: var(--pgn-dropzone-border-hover) !default;
$dropzone-border-focus: var(--pgn-dropzone-border-focus) !default;
$dropzone-border-active: var(--pgn-dropzone-border-active) !default;
$dropzone-border-error: var(--pgn-dropzone-border-error) !default;
$dropzone-error-wrapper-color: var(--pgn-dropzone-error-wrapper-color) !default;
$dropzone-restriction-msg-font-size: var(--pgn-dropzone-restriction-msg-font-size) !default;
$dropzone-restriction-msg-color: var(--pgn-dropzone-restriction-msg-color) !default;
