@import "variables";

.pgn__dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: $dropzone-padding;
  border: $dropzone-border-default;
  box-sizing: border-box;
  cursor: pointer;

  &:hover,
  &:focus,
  &.pgn__dropzone-validation-error,
  &.pgn__dropzone-active {
    border-color: transparent;
  }

  &:hover {
    box-shadow: $dropzone-box-shadow-hover;
  }

  &:focus {
    box-shadow: $dropzone-box-shadow-focus;
  }

  &.pgn__dropzone-validation-error {
    box-shadow: $dropzone-box-shadow-error;
  }

  &.pgn__dropzone-active {
    box-shadow: $dropzone-box-shadow-active;
  }
}

.pgn__dropzone-error-wrapper {
  text-align: center;
  color: $dropzone-error-wrapper-color;
}

.pgn__dropzone-generic-alert {
  width: 100%;
  margin-bottom: map_get($spacers, 4);

  .pgn__alert-message-wrapper .alert-message-content {
    > span {
      display: block;
    }
  }
}

.pgn__dropzone__upload-icon-wrapper {
  height: 56px;
  width: 56px;
  background: $light-300;
  border-radius: 50%;
  position: relative;
  margin-bottom: map-get($spacers, 4);
}

.pgn__dropzone__upload-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 32px;
  width: 32px;
}

.pgn__dropzone__upload-restriction-message {
  font-size: $dropzone-restriction-msg-font-size;
  color: $dropzone-restriction-msg-color;
}
