%pagination-icon-button-right {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

%pagination-icon-button-left {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.pagination {
  display: flex;
  margin: 0;

  .dropdown {
    z-index: 4;
  }

  .page-of-count {
    margin: 0 .5rem;
    border: 0;
  }

  .page-item {
    &:first-child .page-link {
      margin-left: 0;

      @include border-left-radius(var(--pgn-size-border-radius-base));
    }

    &:last-child .page-link {
      @include border-right-radius(var(--pgn-size-border-radius-base));
    }

    &:first-child .btn-icon.page-link {
      @extend %pagination-icon-button-left;
    }

    &:last-child .btn-icon.page-link {
      @extend %pagination-icon-button-right;
    }

    &.active .page-link {
      z-index: 3;
    }

    > .btn {
      transition: none;
      line-height: var(--pgn-typography-pagination-line-height);
    }
  }

  @include list-unstyled();
  @include border-radius();

  &-small {
    .page-link {
      font-size: $pagination-font-size-sm;
      line-height: $pagination-line-height;
      padding: .375rem .78rem;

      &.previous,
      &.next {
        padding: 0 $pagination-padding-y;
        line-height: $pagination-secondary-height-sm;

        div {
          display: flex;
          align-items: center;
        }
      }
    }

    &:not(.pagination-default) .page-link {
      &.previous,
      &.next {
        padding: 0;
        width: $pagination-icon-width;
      }
    }
  }

  &-secondary {
    button.next,
    button.previous {
      height: $pagination-secondary-height;
      padding: 0 $pagination-padding-y;
    }

    &.pagination-small {
      button.next,
      button.previous {
        height: $pagination-secondary-height-sm;
        line-height: $pagination-line-height;
      }
    }
  }

  .ellipsis {
    border: 0;
    margin-left: 0;
  }

  &-inverse {
    .ellipsis {
      color: $white;
    }

    .dropdown .dropdown-toggle::after {
      border-top: var(--pgn-size-pagination-toggle-border-base) solid $pagination-dropdown-color-inverse;
    }
  }

  &-reduced {
    &-dropdown-menu {
      overflow-y: auto;
      max-height: var(--pgn-size-pagination-reduced-dropdown-max-height);
      min-width: var(--pgn-size-pagination-reduced-dropdown-min-width);

      a {
        text-align: center;
      }
    }

    .dropdown-toggle::after {
      width: 0;
      height: 0;
      border-left: $pagination-toggle-border solid transparent;
      border-right: $pagination-toggle-border solid transparent;
      border-top: $pagination-toggle-border solid $gray-700;
      transform: rotate(0);
      inset-inline-start: .5rem;
      top: 0;
      margin-inline-end: 1rem;
    }

    button.next,
    button.previous {
      height: $pagination-secondary-height;
      padding: 0 $pagination-padding-y;
    }

    &.pagination-small {
      .btn.dropdown-toggle {
        font-size: $pagination-font-size-sm;

        &::after {
          border-left-width: $pagination-toggle-border-sm;
          border-right-width: $pagination-toggle-border-sm;
          border-top-width: $pagination-toggle-border-sm;
        }
      }

      button.previous,
      button.next {
        line-height: $pagination-icon-height;
        height: $pagination-icon-height;
      }
    }
  }

  &-minimal {
    .page-item:first-child {
      margin-inline-end: .3rem;
    }

    button.next,
    button.previous {
      padding: $pagination-padding-y;
      height: $pagination-secondary-height;
    }

    &.pagination-small {
      button.next,
      button.previous {
        padding: 0 $pagination-padding-y;
        height: $pagination-secondary-height-sm;
      }
    }
  }
}

.page-link {
  border: none;
  margin-left: -var(--pgn-size-pagination-border-width);

  &:focus {
    z-index: 3;
  }

  div {
    display: flex;
  }

  [dir="rtl"] & {
    svg {
      transform: scale(-1);
    }
  }
}
