@import "variables";
@import "~bootstrap/scss/pagination";

.pagination {
  align-items: center;

  .dropdown {
    z-index: 4;
  }
}

%pagination-icon-button-right {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

%pagination-icon-button-left {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.pagination-icon-button-right {
  @extend %pagination-icon-button-right;
}

.pagination-icon-button-left {
  @extend %pagination-icon-button-left;
}

.pagination-default {
  .page-link {
    &.previous .pgn__icon {
      margin-inline-start: 0;
      margin-inline-end: var(--pgn-pagination-margin-x);
    }

    &.next .pgn__icon {
      margin-inline-start: var(--pgn-pagination-margin-x);
      margin-inline-end: 0;
    }
  }

  .page-item {
    &:first-child .page-link {
      [dir="rtl"] & {
        border-radius: 0 var(--pgn-pagination-border-radius-lg) var(--pgn-pagination-border-radius-lg) 0;
      }
    }

    &:last-child .page-link {
      [dir="rtl"] & {
        border-radius: var(--pgn-pagination-border-radius-lg) 0 0 var(--pgn-pagination-border-radius-lg);
      }
    }
  }
}

.page-link {
  border: none;

  &.btn-primary:not(:disabled):not(.disabled):focus {
    background-color: var(--pgn-pagination-bg-base);
    color: var(--pgn-pagination-focus-color-text);
  }

  &:focus {
    box-shadow: none;
  }

  &.btn-primary:focus::before {
    border: var(--pgn-pagination-focus-border-width) solid var(--pgn-pagination-focus-color-base);

    @include
      button-size(var(--pgn-btn-padding-y-base),
      var(--pgn-btn-padding-x-base),
      var(--pgn-btn-font-size-base),
      var(--pgn-btn-line-height-base),
      var(--pgn-btn-border-radius-base));
  }

  div {
    display: flex;
  }

  [dir="rtl"] & {
    svg {
      transform: scale(-1);
    }
  }

  &:focus::before,
  &.focus::before {
    border-radius: 0;
  }
}

.page-item {
  > .btn {
    transition: none;
    line-height: var(--pgn-pagination-line-height);
  }

  &.active .page-link.btn-primary:not(:disabled):not(.disabled):focus {
    background-color: var(--pgn-pagination-focus-color-base);
    color: var(--pgn-pagination-bg-base);
  }
}

.pagination-small {
  .page-link {
    font-size: var(--pgn-pagination-font-size-sm);
    line-height: var(--pgn-pagination-line-height);
    padding: .375rem .78rem;

    &.previous,
    &.next {
      padding: 0 var(--pgn-pagination-padding-y-base);
      line-height: var(--pgn-pagination-secondary-height-sm);

      div {
        display: flex;
        align-items: center;
      }
    }
  }

  &:not(.pagination-default) {
    .page-link {
      &.previous,
      &.next {
        padding: 0;
        width: var(--pgn-pagination-icon-width);
      }
    }
  }
}

.pagination-secondary {
  button.next,
  button.previous {
    height: var(--pgn-pagination-secondary-height-base);
    padding: 0 var(--pgn-pagination-padding-y-base);
  }

  &.pagination-small {
    button.next,
    button.previous {
      height: var(--pgn-pagination-secondary-height-sm);
      line-height: var(--pgn-pagination-line-height);
    }
  }

  .page-item:first-child .page-link {
    @extend %pagination-icon-button-left;
  }

  .page-item:last-child .page-link {
    @extend %pagination-icon-button-right;
  }
}

.pagination-inverse {
  %dark-styles {
    background-color: transparent;
    color: var(--pgn-color-white);
  }

  .pgn__dark-styles {
    @extend %dark-styles;
  }

  .page-item {
    &.disabled .page-link {
      @extend %dark-styles;
    }

    &.active button.page-link {
      background-color: var(--pgn-pagination-bg-base);
      color: var(--pgn-pagination-color-base);
    }

    button.page-link {
      @extend %dark-styles;

      &:focus {
        box-shadow: none;
      }
    }

    &:not(.active):focus {
      box-shadow: var(--pgn-box-shadow-level-1);
    }
  }

  .page-link {
    &:focus::before,
    &.focus::before {
      display: none;
    }
  }

  .dropdown {
    .btn-tertiary {
      color: var(--pgn-pagination-color-inverse);

      &::after {
        border-top: var(--pgn-pagination-toggle-border-base) solid var(--pgn-pagination-color-inverse);
      }

      &:active,
      &:hover {
        background-color: transparent;
      }

      &:not(:disabled):not(.disabled):active {
        color: var(--pgn-pagination-color-inverse);
      }
    }
  }

  .show > .dropdown-toggle {
    background-color: transparent;
  }
}

.pgn__reduced-pagination-dropdown {
  overflow-y: auto;
  max-height: var(--pgn-reduced-dropdown-height-max);
  min-width: var(--pgn-reduced-dropdown-width-min);

  a {
    text-align: center;
  }
}

.pagination-reduced {
  .dropdown-toggle::after {
    width: 0;
    height: 0;
    border-left: var(--pgn-pagination-toggle-border-base) solid transparent;
    border-right: var(--pgn-pagination-toggle-border-base) solid transparent;
    border-top: var(--pgn-pagination-toggle-border-base) solid var(--pgn-color-gray-700);
    transform: rotate(0);
    inset-inline-start: .5rem;
    top: 0;
    margin-inline-end: 1rem;
  }

  button.next,
  button.previous {
    height: var(--pgn-pagination-secondary-height-base);
    padding: 0 var(--pgn-pagination-padding-y-base);
  }

  &.pagination-small {
    .btn.dropdown-toggle {
      font-size: var(--pgn-pagination-font-size-sm);

      &::after {
        border-left-width: var(--pgn-pagination-toggle-border-sm);
        border-right-width: var(--pgn-pagination-toggle-border-sm);
        border-top-width: var(--pgn-pagination-toggle-border-sm);
      }
    }

    button.previous,
    button.next {
      line-height: var(--pgn-pagination-icon-height);
      height: var(--pgn-pagination-icon-height);
    }
  }

  .page-item:first-child .page-link {
    @extend %pagination-icon-button-left;
  }

  .page-item:last-child .page-link {
    @extend %pagination-icon-button-right;
  }
}

.pagination-minimal {
  .page-item:first-child {
    margin-inline-end: .3rem;
  }

  button.next,
  button.previous {
    padding: var(--pgn-pagination-padding-y-base);
    height: var(--pgn-pagination-secondary-height-base);
  }

  &.pagination-small {
    button.next,
    button.previous {
      padding: 0 var(--pgn-pagination-padding-y-base);
      height: var(--pgn-pagination-secondary-height-sm);
    }
  }

  .page-item:first-child .page-link {
    @extend %pagination-icon-button-left;
  }

  .page-item:last-child .page-link {
    @extend %pagination-icon-button-right;
  }
}
