// Image thumbnails

$thumbnail-padding: var(--pgn-image-thumbnail-padding) !default;
$thumbnail-bg: var(--pgn-image-thumbnail-bg) !default;
$thumbnail-border-width: var(--pgn-image-thumbnail-border-width) !default;
$thumbnail-border-color: var(--pgn-image-thumbnail-border-color) !default;
$thumbnail-border-radius: var(--pgn-image-thumbnail-border-radius) !default;
$thumbnail-box-shadow: var(--pgn-image-thumbnail-box-shadow) !default;

// Figures

$figure-caption-font-size: var(--pgn-image-figure-caption-font-size) !default;
$figure-caption-color: var(--pgn-image-figure-caption-color) !default;
