// Image thumbnails

$thumbnail-padding: var(--pgn-spacing-image-thumbnail-padding) !default;
$thumbnail-bg: var(--pgn-color-image-thumbnail-bg) !default;
$thumbnail-border-width: var(--pgn-size-image-thumbnail-border-width) !default;
$thumbnail-border-color: var(--pgn-color-image-thumbnail-border) !default;
$thumbnail-border-radius: var(--pgn-size-image-thumbnail-border-radius) !default;
$thumbnail-box-shadow: var(--pgn-elevation-image-thumbnail-box-shadow) !default;

// Figures

$figure-caption-font-size: var(--pgn-typography-image-figure-caption-font-size) !default;
$figure-caption-color: var(--pgn-color-image-figure-caption) !default;
