// Image thumbnails

$thumbnail-padding:                 .25rem !default;
$thumbnail-bg:                      var(--pgn-body-bg) !default;
$thumbnail-border-width:            var(--pgn-border-width) !default;
$thumbnail-border-color:            theme-color("gray", "border") !default;
$thumbnail-border-radius:           var(--pgn-border-radius-base) !default;
$thumbnail-box-shadow:              0 1px 2px rgba(var(--pgn-color-black), .075) !default;

// Figures

$figure-caption-font-size:          90% !default;
$figure-caption-color:              theme-color("gray", "light-text") !default;
