.pgn__chip-carousel {
  position: relative;

  .pgn__overflow-scroll-overflow-container {
    --pgn-overflow-scroll-opacity-mask-transparent: rgba(0, 0, 0, 0);
  }

  @each $level, $space in $spacers {
    &.pgn__chip-carousel-gap__#{$level} {
      .pgn__overflow-scroll-overflow-container {
        column-gap: $space;
        padding:
          var(--pgn-spacing-chip-carousel-container-padding-x)
          var(--pgn-spacing-chip-carousel-container-padding-y);
      }
    }
  }

  .pgn__chip-carousel__right-control,
  .pgn__chip-carousel__left-control {
    position: absolute;
    z-index: 2;
    top: calc(var(--pgn-spacing-chip-carousel-controls-top-offset) * -1);
  }

  .pgn__chip-carousel__right-control {
    right: 0;
  }

  .pgn__chip-carousel__left-control {
    left: 0;
  }
}
