$sticky-offset:                       0 !default;
$sticky-shadow-top:                   0 -.5rem 1rem rgb(0 0 0 / 15%), 0 -.25rem .625rem rgb(0 0 0 / 15%) !default;
$sticky-shadow-bottom:                0 .5rem 1rem rgb(0 0 0 / 15%), 0 .25rem .625rem rgb(0 0 0 / 15%) !default;
