$sticky-offset: var(--pgn-spacing-sticky-offset) !default;
$sticky-shadow-top: var(--pgn-elevation-sticky-shadow-top) !default;
$sticky-shadow-bottom: var(--pgn-elevation-sticky-shadow-bottom) !default;
