$max-width-xs: var(--pgn-container-max-width-xs) !default;
$max-width-sm: var(--pgn-container-max-width-sm) !default;
$max-width-md: var(--pgn-container-max-width-md) !default;
$max-width-lg: var(--pgn-container-max-width-lg) !default;
$max-width-xl: var(--pgn-container-max-width-xl) !default;
