// Checkpoints

$checkpoint-background-color:       var(--pgn-color-light-300) !default;

$checkpoint-body-color:             var(--pgn-color-gray-700);

$checkpoint-border-color:           var(--pgn-color-brand-base) !default;
$checkpoint-border-width:           8px !default;

$checkpoint-breadcrumb-color:       var(--pgn-color-primary-base) !default;

$checkpoint-arrow-width:            15px !default;
$checkpoint-max-width:              480px !default;

$checkpoint-z-index:                1060 !default;
