// Checkpoints

$checkpoint-background-color: var(--pgn-color-product-tour-checkpoint-bg) !default;

$checkpoint-body-color: var(--pgn-color-product-tour-checkpoint-body) !default;

$checkpoint-border-color: var(--pgn-color-product-tour-checkpoint-border) !default;
$checkpoint-border-width: var(--pgn-size-product-tour-checkpoint-width-border) !default;

$checkpoint-breadcrumb-color: var(--pgn-color-product-tour-checkpoint-breadcrumb) !default;

$checkpoint-arrow-width: var(--pgn-size-product-tour-checkpoint-width-arrow) !default;
$checkpoint-max-width: var(--pgn-size-product-tour-checkpoint-width-max) !default;

$checkpoint-z-index: var(--pgn-elevation-product-tour-checkpoint-zindex) !default;

$checkpoint-arrow-border-bottom: var(--pgn-size-product-tour-checkpoint-arrow-bottom) !default;
$checkpoint-arrow-border-top: var(--pgn-size-product-tour-checkpoint-arrow-top) !default;
$checkpoint-arrow-border-transparent: var(--pgn-size-product-tour-checkpoint-arrow-transparent) !default;
$checkpoint-box-shadow-color: var(--pgn-color-product-tour-checkpoint-box-shadow) !default;
$checkpoint-arrow-border-color-top: var(--pgn-color-product-tour-checkpoint-arrow-border-top) !default;
$checkpoint-arrow-border-color-transparent: var(--pgn-color-product-tour-checkpoint-arrow-border-transparent) !default;
