{
  "branches": [
    { "name": "release-22.x", "range": "22.x", "channel": "22.x" },
    { "name": "release-23.x" },
    { "name": "next", "prerelease": true, "channel": "next" }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}
