@import "variables";

.pgn__scrollable-body {
    display: flex;
    flex-direction: column;
    padding: $scrollable-inner-padding $scrollable-inner-padding $scrollable-inner-padding / 2;
    position: relative;
    overflow:hidden;

    &::before{
        content:"";
        box-shadow: 2px 7px 10px -1px rgba(0,0,0,0.6);
        display: block;
        height: 16px;
        top: 10px;
        opacity: .5;
        z-index: 2;
        position:absolute
    }
    &::after{
        content:"";
        box-shadow: 2px 7px 10px -1px rgba(0,0,0,0.4);
        display: block;
        height: 26px;
        position: absolute;
        bottom: -3.55rem;
        opacity: .5;
        z-index: 2;
    }

    &.pgn__scrollable-body-scroll-bottom {
        &::before{
        opacity: 0;
        }
        &::after{
        opacity: 0.5;
        }
    }

    &.pgn__scrollable-body-scroll-top {
        &::before{
        opacity: 0.5;
        }
        &::after{
        opacity: 0;
        }
    }

    &.pgn__scrollable-body-scroll-top.pgn__scrollable-body-scroll-bottom {

    }

    .pgn__scrollable-body-content {
        overflow-y: auto;
    }

    .pgn__scrollable-body-content > *:last-child {
        margin-bottom: 0;
    }

    // Avoid doubling up on padding with containers
    .pgn__scrollable-body-content > .container-fluid {
        padding: 0;
    }

    .pgn__modal.pgn__scrollable-scroll-fullscreen & {
        box-shadow: none;
    }
}
