@import "variables";

.pgn__scrollable-body {
    flex-grow: 1;
    padding: $scrollable-inner-padding $scrollable-inner-padding $scrollable-inner-padding / 2;
    overflow: auto;
    position: relative;

    &::before {
      content: "";
      background-color: transparent;
      background-image: linear-gradient(#605c5c, #b8bebe, transparent 50%);
      display: block;
      height: 16px;
      position: sticky;
      top: -$scrollable-inner-padding;
      margin-top: -$scrollable-inner-padding;
      margin-left: -$scrollable-inner-padding;
      margin-right: -$scrollable-inner-padding;
      opacity: 0.5;
      z-index: 2;
    }
    &::after {
      content: "";
      background-color: transparent;
      background-image: linear-gradient(
        360deg,
        #605c5c,
        #b8bebe,
        transparent 50%
      );
      display: block;
      height: 16px;
      position: sticky;
      bottom: -$scrollable-inner-padding / 2;
      margin-bottom: -$scrollable-inner-padding;
      margin-left: -$scrollable-inner-padding;
      margin-right: -$scrollable-inner-padding;
      opacity: 0.5;
    }

    &.pgn__scrollable-body-scroll-bottom {
      &::before {
        opacity: 0.5;
      }
      &::after {
        opacity: 0;
      }
    }

    &.pgn__scrollable-body-scroll-top {
      &::before {
        opacity: 0;
        z-index: 0;
      }
      &::after {
        opacity: 0.5;
      }
    }

    &.pgn__scrollable-body-scroll-top.pgn__scrollable-body-scroll-bottom {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 0;
      }
    }

    .pgn__scrollable-body-content > *:last-child {
      margin-bottom: 0;
    }

    // Avoid doubling up on padding with containers
    .pgn__scrollable-body-content > .container-fluid {
      padding: 0;
    }

    .pgn__scrollable.pgn__scrollable-scroll-fullscreen & {
      box-shadow: none;
    }
  }
