@import "variables";

.pgn__scrollable-body {
    display: flex;
    flex-direction: column;
    padding: $scrollable-inner-padding $scrollable-inner-padding $scrollable-inner-padding / 2;
    position: relative;
    overflow:auto;
    z-index: 1;

    .pgn__scrollable-body-content {
        overflow-y: auto;
        z-index: -1;
        padding: 1rem;
    }

    &.pgn__scrollable-body-scroll-top {
        background: linear-gradient(to bottom, rgba(0,0,0,.3) 0%, transparent 8px);
    }

    &.pgn__scrollable-body-scroll-bottom {
        background: linear-gradient(to top, rgba(0,0,0,.3) 0%, transparent 8px);
    }

    &.pgn__scrollable-body-scroll-top.pgn__scrollable-body-scroll-bottom {
        background: transparent;
    }

    .pgn__scrollable-body-content > *:last-child {
        margin-bottom: 0;
    }

    // Avoid doubling up on padding with containers
    .pgn__scrollable-body-content > .container-fluid {
        padding: 0;
    }

    .pgn__modal.pgn__scrollable-scroll-fullscreen & {
        box-shadow: none;
    }
}
