$chip-padding-x:                    .5rem !default;
$chip-padding-y:                    .125rem !default;
$chip-padding-to-icon:              3px !default;
$chip-icon-padding:                 .25rem !default;
$chip-margin:                       .125rem !default;
$chip-border-radius:                .25rem !default;
$chip-disable-opacity:              .3 !default;
$chip-icon-size:                    1.25rem !default;

$chip-theme-variants: (
  "light": (
    "background": $light-500,
    "color": $black,
  ),
  "dark": (
    "background": $dark-200,
    "color": $white,
  )
) !default;
