$chip-padding-x: var(--pgn-spacing-chip-padding-x) !default;
$chip-padding-y: var(--pgn-spacing-chip-padding-y) !default;
$chip-padding-to-icon: var(--pgn-spacing-chip-padding-to-icon) !default;
$chip-icon-padding: var(--pgn-spacing-chip-padding-icon) !default;
$chip-margin: var(--pgn-spacing-chip-margin) !default;
$chip-border-radius: var(--pgn-size-chip-border-radius) !default;
$chip-disable-opacity: var(--pgn-other-chip-opacity-disabled) !default;
$chip-icon-size: var(--pgn-size-chip-icon) !default;

$chip-light-bg: var(--pgn-color-chip-bg-light) !default;
$chip-light-color: var(--pgn-color-chip-text-light) !default;

$chip-dark-bg: var(--pgn-color-chip-bg-dark) !default;
$chip-dark-color: var(--pgn-color-chip-text-dark) !default;
