$chip-padding-x:                            .5rem !default;
$chip-padding-y:                            1px !default;
$chip-icon-margin:                          .25rem !default;
$chip-margin:                               .125rem !default;
$chip-border-radius:                        .375rem !default;
$chip-disable-opacity:                      .3 !default;
$chip-icon-size:                            1.5rem !default;
$chip-label-color:                          $primary-700 !default;
$chip-border-color:                         $light-800 !default;
$chip-light-bg-color:                       $white !default;
$chip-light-outline-color:                  $chip-label-color !default;
$chip-light-selected-outline-distance:      3px !default;
$chip-light-selected-focus-border-color:    $dark-500 !default;
$chip-light-hover-bg:                       $dark-500 !default;
$chip-light-hover-border-color:             $chip-light-hover-bg !default;
$chip-light-hover-label-color:              $chip-light-bg-color !default;
$chip-light-hover-icon-color:               $chip-light-hover-label-color !default;
$chip-light-focus-outline-distance:         .313rem !default;
$chip-dark-bg:                              $primary-300 !default;
$chip-dark-outline-color:                   $white !default;
$chip-dark-selected-outline-distance:       3px !default;
$chip-dark-selected-focus-border-color:     $chip-dark-outline-color !default;
$chip-dark-label-color:                     $chip-dark-outline-color !default;
$chip-dark-hover-bg:                        $white !default;
$chip-dark-hover-border-color:              $chip-dark-hover-bg !default;
$chip-dark-hover-label-color:               $primary-500 !default;
$chip-dark-hover-icon-color:                $chip-dark-hover-label-color !default;
$chip-dark-focus-outline-distance:          .313rem !default;
$chip-dark-icon-border-color:               transparent !default;
