@import "variables";

@function get-color($element, $color, $type) {
  @return map-get($chip-theme-colors, "#{$color}-#{$element}-#{$type}");
}

@mixin chip-variant($chip-variant-background, $chip-variant-border, $hover-background,
$chip-variant-hover-border, $chip-variant-active-background, $chip-variant-active-border, $color,
$hover-color, $active-color, $focus-border) {
  background-color: $chip-variant-background;
  color: $color;
  border-color: $chip-variant-border;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: $hover-background;
    color: $hover-color;
    border-color: var(--pgn-menu-border-hover);
  }

  &.active,
  &:active {
    background-color: $chip-variant-active-background;
    color: $active-color;
    border-color: $chip-variant-active-border;
  }

  &:focus::before {
    content: "";
    position: absolute;
    top: calc(#{var(--pgn-chip-position-axis)} * -1);
    right: calc(#{var(--pgn-chip-position-axis)} * -1);
    bottom: calc(#{var(--pgn-chip-position-axis)} * -1);
    left: calc(#{var(--pgn-chip-position-axis)} * -1);
    border: var(--pgn-chip-border-width) solid $focus-border;
    border-radius: var(--pgn-chip-border-radius-focus);
  }

  &:disabled {
    cursor: default;
    background-color: $chip-variant-background;
    color: $color;
    border-color: $chip-variant-border;
    opacity: $chip-disable-opacity;
    pointer-events: none;

    &::before {
      display: none;
    }
  }
}

.pgn__chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--pgn-chip-padding-y) var(--pgn-chip-padding-x);
  font-size: var(--pgn-chip-font-size);
  font-weight: var(--pgn-chip-font-weight);
  line-height: var(--pgn-chip-line-height);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--pgn-chip-border-radius-base);
  border: var(--pgn-chip-border-width) solid transparent;
  margin-inline: calc(var(--pgn-chip-margin-inline) / 2);

  &:focus {
    position: relative;
    outline: none;
    box-shadow: none;
  }

  // Empty chip collapse automatically
  &:empty {
    display: none;
  }

  .chip-icon-before {
    margin-inline-end: .5rem;
    margin-left: -.25em;

    [dir="rtl"] & {
      margin-right: -.25em;
      margin-left: .5rem;
    }
  }

  .chip-icon-after {
    margin-inline-start: .5rem;
    margin-right: -.25em;

    [dir="rtl"] & {
      margin-right: .5rem;
      margin-left: -.25em;
    }
  }
}

@each $color in $chip-theme-variants {
  .pgn__chip-#{$color} {
    $chip-variant-background: get-color("background", $color, "inactive");
    $chip-variant-border: get-color("border", $color, "inactive");
    $text: get-color("text", $color, "inactive");

    $hover-background: get-color("background", $color, "hover");
    $chip-variant-hover-border: get-color("border", $color, "hover");
    $hover-text: get-color("text", $color, "hover");

    $chip-variant-active-background: get-color("background", $color, "selected");
    $chip-variant-active-border: get-color("border", $color, "selected");
    $active-text: get-color("text", $color, "selected");

    $focus-border: get-color("border", $color, "focus");

    @include chip-variant(
      $chip-variant-background,
      $chip-variant-border,
      $hover-background,
      $chip-variant-hover-border,
      $chip-variant-active-background,
      $chip-variant-active-border,
      $text,
      $hover-text,
      $active-text,
      $focus-border
    );
  }
}
