.pgn__chip {
  background: var(--pgn-chip-bg, var(--pgn-color-light-500));
  border-radius: var(--pgn-size-chip-border-radius);
  display: inline-flex;
  margin: var(--pgn-spacing-chip-margin);
  box-sizing: border-box;

  .pgn__chip__label {
    font-size: var(--pgn-typography-font-size-sm);
    padding: var(--pgn-spacing-chip-padding-y) var(--pgn-spacing-chip-padding-x);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    cursor: default;

    &.p-before {
      padding-left: var(--pgn-spacing-chip-padding-to-icon);

      [dir="rtl"] & {
        padding-left: var(--pgn-spacing-chip-padding-x);
        padding-right: var(--pgn-spacing-chip-padding-to-icon);
      }
    }

    &.p-after {
      padding-right: var(--pgn-spacing-chip-padding-to-icon);

      [dir="rtl"] & {
        padding-right: var(--pgn-spacing-chip-padding-x);
        padding-left: var(--pgn-spacing-chip-padding-to-icon);
      }
    }
  }

  .pgn__chip__icon-before,
  .pgn__chip__icon-after {
    align-items: center;
    display: flex;
    padding-left: var(--pgn-spacing-chip-padding-icon);
    padding-right: var(--pgn-spacing-chip-padding-icon);
    box-sizing: border-box;
    cursor: default;

    .pgn__icon {
      width: var(--pgn-size-chip-icon);
      height: var(--pgn-size-chip-icon);
    }

    &.active:hover,
    &.active:focus {
      cursor: pointer;
      background: var(--pgn-color-black);

      * {
        color: var(--pgn-color-white);
        fill: var(--pgn-color-white);
      }
    }
  }

  .pgn__chip__icon-before {
    border-radius: var(--pgn-size-chip-border-radius) 0 0 var(--pgn-size-chip-border-radius);

    [dir="rtl"] & {
      border-radius: 0 var(--pgn-size-chip-border-radius) var(--pgn-size-chip-border-radius) 0;
    }
  }

  .pgn__chip__icon-after {
    border-radius: 0 var(--pgn-size-chip-border-radius) var(--pgn-size-chip-border-radius) 0;

    [dir="rtl"] & {
      border-radius: var(--pgn-size-chip-border-radius) 0 0 var(--pgn-size-chip-border-radius);
    }
  }

  * {
    color: var(--pgn-chip-color, inherit);
    fill: var(--pgn-chip-color, inherit);
  }

  &.disabled,
  &:disabled {
    cursor: default;
    opacity: var(--pgn-other-chip-opacity-disabled);
    pointer-events: none;

    &::before {
      display: none;
    }
  }
}

.pgn__chip-light {
  --pgn-chip-color: var(--pgn-color-chip-text-light);
  --pgn-chip-bg: var(--pgn-color-chip-bg-light);
}

.pgn__chip-dark {
  --pgn-chip-color: var(--pgn-color-chip-text-dark);
  --pgn-chip-bg: var(--pgn-color-chip-bg-dark);
}
