@import "mixins";

.pgn__chip {
  border-radius: var(--pgn-size-chip-border-radius);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--pgn-spacing-chip-margin-base);
  border: 1px solid var(--pgn-color-chip-border-base);
  padding: var(--pgn-spacing-chip-padding-y) var(--pgn-spacing-chip-padding-x);
  position: relative;
  outline: none;
  transition: all .3s;

  .pgn__chip__label {
    font-size: var(--pgn-typography-font-size-xs);
    line-height: 1.5rem;
    font-weight: var(--pgn-typography-font-weight-bold);
    color: var(--pgn-color-chip-label-base);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    [dir="rtl"] & {
      margin-left: var(--pgn-spacing-chip-margin-icon);
    }
  }

  .pgn__chip__icon-before {
    margin-right: var(--pgn-spacing-chip-margin-icon);

    [dir="rtl"] & {
      margin-right: 0;
      margin-left: .25rem;
    }
  }

  .pgn__chip__icon-after {
    margin-left: var(--pgn-spacing-chip-margin-icon);

    [dir="rtl"] & {
      margin-left: 0;
    }
  }

  .pgn__chip__icon-before,
  .pgn__chip__icon-after {
    &.btn-icon {
      width: var(--pgn-size-chip-icon);
      height: var(--pgn-size-chip-icon);
    }
  }

  &.pgn__chip-light {
    background-color: var(--pgn-color-chip-bg-light);

    &.selected {
      @include chip-outline(
        var(--pgn-color-chip-outline-light),
        calc(var(--pgn-spacing-chip-outline-selected-distance-light) * -1),
        calc(var(--pgn-size-chip-border-radius) + var(--pgn-spacing-chip-outline-width)),
        var(--pgn-spacing-chip-outline-selected-distance-light)
      );

      &:focus {
        border: 1px solid var(--pgn-color-chip-border-focus-selected-light);
      }
    }

    .pgn__chip__icon-before,
    .pgn__chip__icon-after {
      &.pgn__icon {
        color: var(--pgn-color-chip-label-base);
      }
    }

    &.interactive {
      cursor: pointer;

      @include chip-hover(var(--pgn-color-dark-500), var(--pgn-color-white));

      &:focus {
        @include chip-outline(
          var(--pgn-color-chip-border-focus-selected-light),
          calc(var(--pgn-spacing-chip-outline-focus-distance-light) * -1),
          calc(var(--pgn-size-chip-border-radius) + var(--pgn-spacing-chip-outline-width))
        );
      }
    }
  }

  &.pgn__chip-dark {
    background-color: var(--pgn-color-chip-bg-dark);

    &.selected {
      @include chip-outline(
        var(--pgn-color-chip-outline-dark),
        calc(var(--pgn-spacing-chip-outline-selected-distance-dark) * -1),
        calc(var(--pgn-size-chip-border-radius) + var(--pgn-spacing-chip-outline-width)),
        var(--pgn-spacing-chip-outline-selected-distance-dark)
      );

      &:focus {
        border: 1px solid var(--pgn-color-chip-border-focus-selected-dark);
      }
    }

    .pgn__chip__label {
      color: var(--pgn-color-chip-label-dark);
    }

    .pgn__chip__icon-before,
    .pgn__chip__icon-after {
      &.pgn__icon {
        color: var(--pgn-color-chip-outline-dark);
      }
    }

    &.interactive {
      cursor: pointer;

      @include chip-hover(var(--pgn-color-white), var(--pgn-color-primary-500));

      &:focus {
        @include chip-outline(
          var(--pgn-color-chip-outline-dark),
          calc(var(--pgn-spacing-chip-outline-focus-distance-dark) * -1),
          calc(var(--pgn-size-chip-border-radius) + var(--pgn-spacing-chip-outline-width))
        );
      }
    }
  }

  &.disabled,
  &:disabled {
    opacity: $chip-disable-opacity;
    pointer-events: none;
    user-select: none;

    &::before {
      display: none;
    }
  }
}
