@import "variables";
@import "mixins";

.pgn__chip {
  border-radius: $chip-border-radius;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: $chip-margin;
  border: 1px solid $chip-border-color;
  padding: $chip-padding-y $chip-padding-x;
  position: relative;
  outline: none;
  transition: all .3s;

  .pgn__chip__label {
    font-size: $font-size-xs;
    line-height: 1.5rem;
    font-weight: $font-weight-bold;
    color: $chip-label-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    [dir="rtl"] & {
      margin-left: $chip-icon-margin;
    }
  }

  .pgn__chip__icon-before {
    margin-right: $chip-icon-margin;

    [dir="rtl"] & {
      margin-right: 0;
      margin-left: .25rem;
    }
  }

  .pgn__chip__icon-after {
    margin-left: $chip-icon-margin;

    [dir="rtl"] & {
      margin-left: 0;
    }
  }

  .pgn__chip__icon-before,
  .pgn__chip__icon-after {
    &.btn-icon {
      width: $chip-icon-size;
      height: $chip-icon-size;
    }
  }

  &.pgn__chip-light {
    background-color: $chip-light-bg-color;

    &.selected {
      @include chip-outline(
        $chip-light-outline-color,
        calc($chip-light-selected-outline-distance * -1),
        calc($chip-border-radius + $chip-outline-width),
        $chip-light-selected-outline-distance
      );

      &:focus {
        border: 1px solid $chip-light-selected-focus-border-color;
      }
    }

    .pgn__chip__icon-before,
    .pgn__chip__icon-after {
      &.pgn__icon {
        color: $chip-label-color;
      }
    }

    &.interactive {
      cursor: pointer;

      @include chip-hover($dark-500, $white);

      &:focus {
        @include chip-outline(
          $chip-light-selected-focus-border-color,
          calc($chip-light-focus-outline-distance * -1),
          calc($chip-border-radius + $chip-outline-width)
        );
      }
    }
  }

  &.pgn__chip-dark {
    background-color: $chip-dark-bg;

    &.selected {
      @include chip-outline($chip-dark-outline-color,
      calc($chip-dark-selected-outline-distance * -1),
      calc($chip-border-radius + $chip-outline-width),
      $chip-dark-selected-outline-distance
    );

      &:focus {
        border: 1px solid $chip-dark-selected-focus-border-color;
      }
    }

    .pgn__chip__label {
      color: $chip-dark-label-color;
    }

    .pgn__chip__icon-before,
    .pgn__chip__icon-after {
      &.pgn__icon {
        color: $chip-dark-outline-color;
      }
    }

    &.interactive {
      cursor: pointer;

      @include chip-hover($white, $primary-500);

      &:focus {
        @include chip-outline(
          $chip-dark-outline-color,
          calc($chip-dark-focus-outline-distance * -1),
          calc($chip-border-radius + $chip-outline-width)
        );
      }
    }
  }

  &.disabled,
  &:disabled {
    opacity: var(--pgn-other-chip-opacity-disabled);
    pointer-events: none;
    user-select: none;

    &::before {
      display: none;
    }
  }
}

.pgn__chip-light {
  --pgn-chip-color: var(--pgn-color-chip-text-light);
  --pgn-chip-bg: var(--pgn-color-chip-bg-light);
}

.pgn__chip-dark {
  --pgn-chip-color: var(--pgn-color-chip-text-dark);
  --pgn-chip-bg: var(--pgn-color-chip-bg-dark);
}
