@mixin chip-outline($outline-color: $white, $distance-to-border: 0, $border-radius: 50%, $border-width: .125rem) {
  &::before {
    content: "";
    position: absolute;
    top: $distance-to-border;
    right: $distance-to-border;
    bottom: $distance-to-border;
    left: $distance-to-border;
    border: solid $border-width $outline-color;
    border-radius: $border-radius;
  }
}
