.container {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.container-fluid {
  max-width: 1140px + 2 * $grid-gutter-width;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}
