@import "~bootstrap/scss/utilities";

// Add background, border, and text color utilities
// for all theme color levels.
$color-levels: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $color, $value in $theme-colors {
  @each $level in $color-levels {
    @include bg-variant(".bg-#{$color}-#{$level}", theme-color($color, $level), true);
    @include text-emphasis-variant(".text-#{$color}-#{$level}", theme-color($color, $level), true);
    .border-#{$color}-#{$level} {
      border-color: theme-color($color, $level) !important;
    }
  }
}

.x-small {
  font-size: $x-small-font-size;
}

.micro {
  font-size: $micro-font-size;
  font-weight: normal;
  line-height: $micro-line-height;
}

.mw-xs {
  max-width: $max-width-xs !important;
}

.mw-sm {
  max-width: $max-width-sm !important;
}

.mw-md {
  max-width: $max-width-md !important;
}

.mw-lg {
  max-width: $max-width-lg !important;
}

.mw-xl {
  max-width: $max-width-xl !important;
}

.icon-spin {
  animation: spinner-border 0.75s linear infinite;
  -webkit-animation: spinner-border 0.75s linear infinite;
}
