// Close

$close-font-size: var(--pgn-typography-close-button-font-size) !default;
$close-font-weight: var(--pgn-typography-close-button-font-weight) !default;
$close-color: var(--pgn-color-close-button) !default;
$close-text-shadow: var(--pgn-elevation-close-button-text-shadow) !default;
