// Close

$close-font-size: var(--pgn-close-button-font-size) !default;
$close-font-weight: var(--pgn-close-button-font-weight) !default;
$close-color: var(--pgn-close-button-color) !default;
$close-text-shadow: var(--pgn-close-button-text-shadow) !default;
