// Close

$close-font-size:                   var(--pgn-font-size-base) * 1.5 !default;
$close-font-weight:                 var(--pgn-font-weight-bold) !default;
$close-color:                       var(--pgn-color-black) !default;
$close-text-shadow:                 0 1px 0 var(--pgn-color-white) !default;
