.paragon-fieldset {
  margin-bottom: $spacer * 1.5;

  .form-control {
    height: auto;
  }

  fieldset legend {
    width: auto;
    margin-bottom: 0;
  }
}

.form-control.is-invalid.is-invalid-nodanger {
  @include form-control-focus(true);
  border-color: $input-border-color;
}
