.pgn__modal {
  background: var(--pgn-color-modal-content-bg);
  border-radius: calc(var(--pgn-size-modal-content-border-radius) - var(--pgn-size-modal-content-border-width));
  display: flex;
  flex-direction: column;
  margin: 0 var(--pgn-spacing-modal-dialog-margin);
  max-height: 80vh;
  max-width: var(--pgn-size-modal-md);
  overflow: auto;
  width: 100vw;
  box-shadow: var(--pgn-elevation-modal-content-box-shadow-sm-up);
  border: solid var(--pgn-size-modal-content-border-width) var(--pgn-color-modal-content-border);
  position: relative;

  &:not(.pgn__modal-fullscreen) > *:first-child {
    border-top-left-radius: var(--pgn-size-modal-content-border-radius);
    border-top-right-radius: var(--pgn-size-modal-content-border-radius);
  }

  &:not(.pgn__modal-fullscreen) > *:last-child {
    border-bottom-left-radius: var(--pgn-size-modal-content-border-radius);
    border-bottom-right-radius: var(--pgn-size-modal-content-border-radius);
  }

  &.pgn__modal-scroll-fullscreen {
    max-height: none;
    margin: var(--pgn-spacing-modal-dialog-margin);
  }

  .pgn__modal-header {
    padding-bottom: calc(var(--pgn-spacing-modal-inner-padding-base) / 2);
  }

  .pgn__modal-body {
    padding: calc(var(--pgn-spacing-modal-inner-padding-base) / 2) var(--pgn-spacing-modal-inner-padding-base);

    &::before {
      top: calc(var(--pgn-spacing-modal-inner-padding-base) / 2 * -1);
    }
  }

  &.pgn__modal-visible-overflow {
    overflow: visible;

    .pgn__modal-body {
      overflow: visible;
    }
  }
}

// Sizes

.pgn__modal-sm {
  max-width: var(--pgn-size-modal-sm);
}

.pgn__modal-lg {
  max-width: var(--pgn-size-modal-lg);
}

.pgn__modal-md {
  max-width: var(--pgn-size-modal-md);
}

.pgn__modal-xl {
  max-width: var(--pgn-size-modal-xl);
}

.pgn__modal-fullscreen {
  border-radius: 0;
  margin: 0;
  max-height: none;
  max-width: none;

  .pgn__modal-footer {
    border-top: solid 1px var(--pgn-color-light-base);
    padding-top: var(--pgn-spacing-modal-footer-padding-y);
  }

  .pgn__modal-header {
    border-radius: 0;
  }
}

// Made specific due to a selector in Modal.scss
.pgn__modal-content-container > *.pgn__modal.pgn__modal-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

// Subcomponents

.pgn__modal-close-container {
  position: absolute;
  z-index: 10;
  top: var(--pgn-spacing-dropdown-close-container-top);
  inset-inline-end: var(--pgn-spacing-modal-header-padding-y);
}

.pgn__modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  border-top-left-radius: var(--pgn-size-modal-content-border-radius);
  border-top-right-radius: var(--pgn-size-modal-content-border-radius);
  padding: var(--pgn-spacing-modal-header-padding-base);
  background-color: var(--pgn-color-modal-content-bg);
  transition: box-shadow 150ms ease;
  min-height: 2rem; // height of the icon close button
  box-sizing: content-box;
  flex-shrink: 0;
  box-shadow: none;

  * {
    margin-bottom: 0;
    margin-top: 0;
  }

  .pgn__modal-title {
    font-size: var(--pgn-typography-font-size-h3-base);
    margin-inline-end: 3rem; // roughly accomodate the width of the close buttonn
    text-align: start;
  }
}

.pgn__modal-hero {
  padding: var(--pgn-spacing-modal-header-padding-base);
  position: relative;
  display: flex;
  align-items: center;
  min-height: 10rem;

  .pgn__modal-hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
  }

  .pgn__modal-hero-content {
    position: relative;
    z-index: 1;
    margin-inline-end: 3rem;
    text-align: start;
  }
}

.pgn__modal-body {
  flex-grow: 1;
  padding:
    var(--pgn-spacing-modal-inner-padding-base)
    var(--pgn-spacing-modal-inner-padding-base) calc(var(--pgn-spacing-modal-inner-padding-base) / 2);
  overflow: auto;
  position: relative;

  &::before {
    content: "";
    background-color: transparent;
    background-image: linear-gradient(#605C5C, #B8BEBE, transparent 50%);
    display: block;
    height: 20px;
    position: sticky;
    top: calc(var(--pgn-spacing-modal-inner-padding-base) * -1);
    margin-top: calc(var(--pgn-spacing-modal-inner-padding-base) * -1);
    margin-left: calc(var(--pgn-spacing-modal-inner-padding-base) * -1);
    margin-right: calc(var(--pgn-spacing-modal-inner-padding-base) * -1);
    opacity: .5;
    z-index: 2;
  }

  &::after {
    content: "";
    background-color: transparent;
    background-image:
      linear-gradient(
        360deg,
        #605C5C,
        #B8BEBE,
        transparent 50%
      );
    display: block;
    height: 20px;
    position: sticky;
    bottom: calc(var(--pgn-spacing-modal-inner-padding-base) / 2 * -1);
    margin-bottom: calc(var(--pgn-spacing-modal-inner-padding-bottom) * -1);
    margin-left: calc(var(--pgn-spacing-modal-inner-padding-base) * -1);
    margin-right: calc(var(--pgn-spacing-modal-inner-padding-base) * -1);
    opacity: .5;
  }

  &.pgn__modal-body-scroll-bottom {
    &::before {
      opacity: .5;
    }

    &::after {
      opacity: 0;
    }
  }

  &.pgn__modal-body-scroll-top {
    &::before {
      opacity: 0;
      z-index: -1;
    }

    &::after {
      opacity: .5;
    }
  }

  &.pgn__modal-body-scroll-top.pgn__modal-body-scroll-bottom {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 0;
    }
  }

  .pgn__modal-body-content {
    text-align: start;

    > *:last-child {
      margin-bottom: 0;
    }

    // Avoid doubling up on padding with containers
    > .container-fluid {
      padding: 0;
    }
  }

  .pgn__modal.pgn__modal-scroll-fullscreen & {
    box-shadow: none;
  }
}

.pgn__modal-footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  background-color: var(--pgn-color-modal-content-bg);
  transition: box-shadow 150ms ease;
  padding: var(--pgn-spacing-modal-footer-padding-base);
  padding-top: calc(var(--pgn-spacing-modal-inner-padding-base) / 2);
}

// Color Variants

.pgn__modal-dark {
  .pgn__modal-header,
  .pgn__modal-hero {
    background-color: var(--pgn-color-dark-base);
    color: var(--pgn-color-white);

    * {
      color: inherit;
    }
  }
}

.pgn__modal-warning .pgn__modal-header {
  background-color: var(--pgn-color-warning-100);
}

.pgn__modal-danger .pgn__modal-header {
  background-color: var(--pgn-color-danger-100);
}

.pgn__modal-success .pgn__modal-header {
  background-color: var(--pgn-color-success-100);
}

// Modal types

.pgn__alert-modal {
  &.pgn__modal-default {
    .pgn__modal-header {
      padding-bottom: 0;
    }
  }

  &.pgn__modal-warning {
    .pgn__alert-modal__title_icon {
      color: var(--pgn-color-warning-500);
    }
  }

  &.pgn__modal-success {
    .pgn__alert-modal__title_icon {
      color: var(--pgn-color-success-500);
    }
  }

  &.pgn__modal-danger {
    .pgn__alert-modal__title_icon {
      color: var(--pgn-color-danger-500);
    }
  }

  .pgn__modal-title {
    font-size: var(--pgn-typography-font-size-h4-base);
    display: flex;
    flex-grow: 1;
    align-items: center;

    .pgn__alert-modal__title_icon {
      flex-shrink: 0;
      margin-right: var(--pgn-spacing-spacer-2-5);
    }
  }
}
