

.pgn__modal {
  background: white;
  border-radius: calc(#{$modal-content-border-radius} + 1px);
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
  max-height: 90vh;
  max-width: $modal-md;
  overflow: auto;
  width: 100vw;
  position: relative;
  &:not(.pgn__modal-fullscreen) > *:first-child {
    border-bottom-left-radius: $modal-content-border-radius;
    border-bottom-right-radius: $modal-content-border-radius;
  }
  &:not(.pgn__modal-fullscreen) > *:last-child {
    border-bottom-left-radius: $modal-content-border-radius;
    border-bottom-right-radius: $modal-content-border-radius;
  }
}

// Sizes

.pgn__modal-sm {
  max-width: $modal-sm;
}

.pgn__modal-lg {
  max-width: $modal-lg;
}

.pgn__modal-md {
  max-width: $modal-md;
}

.pgn__modal-xl {
  max-width: $modal-xl;
}

.pgn__modal-fullscreen {
  border-radius: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  width: 100vw;
  height: 100vh;
}

// Subcomponents

.pgn__modal-close-container {
  position: absolute;
  z-index: 10;
  top: $modal-header-padding-y;
  // transform: translateY(-50%);
  right: $modal-header-padding-y;
}

.pgn__modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: $modal-header-padding;
  background-color: white;
  // align-items: center;
  transition: box-shadow 150ms ease;
  min-height: 2rem; // height of the icon close button
  box-sizing: content-box;
  flex-shrink: 0;
  // background: $white;
  // border-bottom: solid 1px $light-300;
  box-shadow: none;
  .pgn__modal-dark & {
    background: $dark-500;
    border-bottom: solid 1px $light-700;
    color: $white;
    padding-bottom: $modal-header-padding-y;
  }
  * {
    margin-bottom: 0;
    margin-top: 0;
  }

  .pgn__modal-title {
    margin-right: 3rem; // roughly accomodate the width of the close buttonn
  }
}
.pgn__modal-hero {
  padding: $modal-header-padding;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 10rem;
  .pgn__modal-hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .pgn__modal-hero-content {
    position: relative;
    z-index: 1;
    margin-right: 3rem;
  }
}

.pgn__modal-body {
  flex-grow: 1;
  padding: $modal-inner-padding $modal-inner-padding $modal-inner-padding / 2;
  overflow: auto;
}

.pgn__modal-footer {
  position: sticky;
  bottom: 0;
  background-color: white;
  transition: box-shadow 150ms ease;
  padding: $modal-footer-padding;
  padding-top: $modal-inner-padding / 2;
}


// Variants

.pgn__modal-default {
  // Default style modals don't have a background on the header which
  // ends up looking spaced too far away from the body content.
  .pgn__modal-header {
    padding-bottom: $modal-inner-padding / 2;
  }
  .pgn__modal-body {
    padding: $modal-inner-padding / 2 $modal-inner-padding;
  }
  // .pgn__modal-footer {
  //   padding-top: $modal-inner-padding / 2;
  // }
}

.pgn__modal-dark {
  .pgn__modal-header,
  .pgn__modal-hero {
    background-color: $dark;
    color: $white;
    * {
      color: inherit;
    }
  }
}

.pgn__modal-warning .pgn__modal-header {
  background-color: $warning-200;
}

.pgn__modal-danger .pgn__modal-header {
  background-color: $danger-200;
}

.pgn__modal-success .pgn__modal-header {
  background-color: $success-200;
}
