// Modals

// Padding applied to the modal body
$modal-inner-padding:               1.5rem !default;

// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
$modal-footer-margin-between:       .5rem !default;

$modal-dialog-margin:               1.5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;

$modal-title-line-height:           var(--pgn-line-height-base) !default;

$modal-content-color:               null !default;
$modal-content-bg:                  var(--pgn-color-white) !default;
$modal-content-border-color:        rgba(var(--pgn-color-black), .2) !default;
$modal-content-border-width:        0 !default;
$modal-content-border-radius:       var(--pgn-border-radius-lg) !default;
$modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width) !default;
$modal-content-box-shadow-xs:       0 .25rem .5rem rgba(var(--pgn-color-black), .5) !default;
$modal-content-box-shadow-sm-up:    0 10px 20px rgba(var(--pgn-color-black), .15),
  0 8px 20px rgba(var(--pgn-color-black), .15) !default;

$modal-backdrop-bg:                 var(--pgn-color-black) !default;
$modal-backdrop-opacity:            .5 !default;
$modal-header-border-color:         var(--pgn-border-color) !default;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding-y:            1rem !default;
$modal-header-padding-x:            1.5rem !default;

// Keep this for backwards compatibility
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default;
$modal-footer-padding-y:            1rem !default;
$modal-footer-padding-x:            1.5rem !default;

// Keep this for backwards compatibility
$modal-footer-padding:              $modal-footer-padding-y $modal-footer-padding-x !default;

$modal-xl:                          1140px !default;
$modal-lg:                          800px !default;
$modal-md:                          500px !default;
$modal-sm:                          400px !default;

$modal-fade-transform:              translate(0, -50px) !default;
$modal-show-transform:              none !default;
$modal-transition:                  transform .3s ease-out !default;
$modal-scale-transform:             scale(1.02) !default;
