
// Collapsible

$collapsible-card-spacer-y:               .45rem !default;
$collapsible-card-spacer-x:               .75rem !default;
$collapsible-card-spacer-y-lg:         $card-spacer-y !default;
$collapsible-card-spacer-x-lg:         $card-spacer-x !default;
