.pgn_collapsible {
  [role="button"] {
    cursor: pointer;
  }
}

.collapsible-card {
  @extend .card;
}

.collapsible-card-header {
  padding: $card-spacer-y $card-spacer-x;
  border-radius: $card-inner-border-radius;
  border-bottom: $card-border-width solid transparent;
  transition: border-color 100ms ease 150ms;
  cursor: pointer;

  & > * {
    margin-bottom: 0;
    margin-top: 0;
  }

  &[aria-expanded] {
    border-radius: $card-inner-border-radius $card-inner-border-radius 0 0;
    border-color: $card-border-color;
    transition: none;
  }
}
.collapsible-card-header-icon {
  float: right;
  padding-left: $card-spacer-x;
}

.collapsible-card-body {
  @extend .card-body;
  & > *:last-child {
    margin-bottom: 0;
  }
}
