// Variables
$collapsible-border: 1px solid silver;

.collapsible {
  border-radius: 4px;

  .btn-collapsible {
    border: $collapsible-border;
    white-space: normal;

    &:hover,
    &:focus {
      background-color: #f5f8ff;
    }
  }

  .btn-collapsible.open {
    border: none;
  }

  .collapsible-body {
    visibility: collapse;
    overflow: hidden;
    padding: 0 10px;
    max-height: 0;
    transition: all 0.3s ease;
  }

  &.open {
    border: $collapsible-border;

    .collapsible-body {
      visibility: visible;
      max-height: max-content;
      padding: 15px 10px;
    }

    .btn-collapsible {
      background-color: white;
    }
  }

  &.expanded {
    .collapsible-body {
      visibility: visible;
      max-height: max-content;
    }
  }
}
