@import "variables";

// TODO: Remove this dependency
@import "../Card/Card.scss";

.collapsible-card {
  @extend .card;

  .collapsible-trigger {
    padding: $collapsible-card-spacer-y $collapsible-card-spacer-x;
    border-radius: $card-inner-border-radius;
    border-bottom: $card-border-width solid transparent;
    transition: border-color 100ms ease 150ms;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > * {
      margin-bottom: 0;
      margin-top: 0;
    }

    &[aria-expanded="true"] {
      border-radius: $card-inner-border-radius $card-inner-border-radius 0 0;
      border-color: $card-border-color;
      transition: none;
    }
  }

  .collapsible-body {
    @extend .card-body;
    padding: $collapsible-card-spacer-y $collapsible-card-spacer-x;
    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

.collapsible-card-lg {
  @extend .collapsible-card;

  .collapsible-trigger {
    padding: $collapsible-card-spacer-y-lg $collapsible-card-spacer-x-lg;
  }

  .collapsible-body {
    padding: $collapsible-card-spacer-y-lg $collapsible-card-spacer-x-lg;
  }
}

.collapsible-basic {
  .collapsible-trigger {
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: underline;
    color: theme-color('primary', 'default');
  }
}
