.collapsible-card {
  // stylelint-disable-next-line
  @extend .card;

  border-radius: 0;

  .collapsible-trigger {
    padding: var(--pgn-spacing-collapsible-card-spacer-y-base) var(--pgn-spacing-collapsible-card-spacer-x-base);
    border-radius: var(--pgn-size-card-border-radius-inner);
    border-bottom: var(--pgn-size-card-border-width) solid transparent;
    transition: border-color 100ms ease 150ms;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;

    & > * {
      margin-bottom: 0;
      margin-top: 0;
    }

    &[aria-expanded="true"] {
      border-radius:
        var(--pgn-size-card-border-radius-inner)
        var(--pgn-size-card-border-radius-inner) 0 0;
      border-color: var(--pgn-color-card-border-base);
      transition: none;
      text-align: start;
    }
  }

  .collapsible-body {
    // stylelint-disable-next-line
    @extend .card-body;

    padding: var(--pgn-spacing-collapsible-card-spacer-y-base) var(--pgn-spacing-collapsible-card-spacer-x-base);
    padding-left: var(--pgn-spacing-collapsible-card-spacer-left-body);
    text-align: start;

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .collapsible-icon {
    margin-inline-start: var(--pgn-spacing-collapsible-card-spacer-icon);
  }
}

.collapsible-card-lg {
  // stylelint-disable-next-line
  @extend .collapsible-card;

  .collapsible-trigger {
    padding: var(--pgn-spacing-collapsible-card-spacer-y-lg) var(--pgn-spacing-collapsible-card-spacer-x-lg);
  }

  .collapsible-body {
    padding: var(--pgn-spacing-collapsible-card-spacer-y-lg) var(--pgn-spacing-collapsible-card-spacer-x-lg);
  }
}

.collapsible-basic {
  .collapsible-trigger {
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: underline;
    color: theme-color("primary", "default");
    padding: var(--pgn-spacing-collapsible-card-spacer-basic-y) var(--pgn-spacing-collapsible-card-spacer-basic-x);
  }

  .collapsible-body {
    padding: var(--pgn-spacing-collapsible-card-spacer-basic-y) var(--pgn-spacing-collapsible-card-spacer-basic-x);
    text-align: start;

    &.collapsing {
      transition: height 300ms ease;
    }
  }

  .collapsible-icon {
    margin-left: var(--pgn-spacing-collapsible-card-spacer-basic-icon);
  }
}
