// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width: var(--pgn-size-dropdown-min-width) !default;
$dropdown-padding-x: var(--pgn-spacing-dropdown-padding-x-base) !default;
$dropdown-padding-y: var(--pgn-spacing-dropdown-padding-y-base) !default;
$dropdown-spacer: var(--pgn-spacing-dropdown-spacer) !default;
$dropdown-font-size: var(--pgn-typography-dropdown-font-size) !default;
$dropdown-color: var(--pgn-color-dropdown-text) !default;
$dropdown-bg: var(--pgn-color-dropdown-bg) !default;
$dropdown-border-color: var(--pgn-color-dropdown-border) !default;
$dropdown-border-radius: var(--pgn-size-dropdown-border-radius-base) !default;
$dropdown-border-width: var(--pgn-size-dropdown-border-width) !default;
$dropdown-inner-border-radius: var(--pgn-size-dropdown-border-radius-inner) !default;
$dropdown-divider-bg: var(--pgn-color-dropdown-divider-bg) !default;
$dropdown-divider-margin-y: var(--pgn-spacing-dropdown-divider-margin-y) !default;
$dropdown-box-shadow: var(--pgn-elevation-dropdown-box-shadow) !default;

$dropdown-link-color: var(--pgn-color-dropdown-link-base) !default;
$dropdown-link-hover-color: var(--pgn-color-dropdown-link-hover-base) !default;
$dropdown-link-hover-bg: var(--pgn-color-dropdown-link-hover-bg) !default;

$dropdown-link-active-color: var(--pgn-color-dropdown-link-active-base) !default;
$dropdown-link-active-bg: var(--pgn-color-dropdown-link-active-bg) !default;

$dropdown-link-disabled-color: var(--pgn-color-dropdown-link-disabled) !default;

$dropdown-item-padding-y: var(--pgn-spacing-dropdown-padding-y-item) !default;
$dropdown-item-padding-x: var(--pgn-spacing-dropdown-padding-x-item) !default;

$dropdown-header-color: var(--pgn-color-dropdown-header) !default;
$dropdown-header-padding: var(--pgn-spacing-dropdown-padding-header) !default;
