// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width: var(--pgn-dropdown-min-width) !default;
$dropdown-padding-x: var(--pgn-dropdown-padding-x-base) !default;
$dropdown-padding-y: var(--pgn-dropdown-padding-y-base) !default;
$dropdown-spacer: var(--pgn-dropdown-spacer) !default;
$dropdown-font-size: var(--pgn-dropdown-font-size) !default;
$dropdown-color: var(--pgn-dropdown-color-base) !default;
$dropdown-bg: var(--pgn-dropdown-bg) !default;
$dropdown-border-color: var(--pgn-dropdown-border-color) !default;
$dropdown-border-radius: var(--pgn-dropdown-border-radius-base) !default;
$dropdown-border-width: var(--pgn-dropdown-border-width) !default;
$dropdown-inner-border-radius: var(--pgn-dropdown-border-radius-inner) !default;
$dropdown-divider-bg: var(--pgn-dropdown-divider-bg) !default;
$dropdown-divider-margin-y: var(--pgn-dropdown-divider-margin-y) !default;
$dropdown-box-shadow: var(--pgn-dropdown-box-shadow) !default;

$dropdown-link-color: var(--pgn-dropdown-link-color) !default;
$dropdown-link-hover-color: var(--pgn-dropdown-link-hover-color) !default;
$dropdown-link-hover-bg: var(--pgn-dropdown-link-hover-bg) !default;

$dropdown-link-active-color: var(--pgn-dropdown-link-active-color) !default;
$dropdown-link-active-bg: var(--pgn-dropdown-link-active-bg) !default;

$dropdown-link-disabled-color: var(--pgn-dropdown-link-disabled-color) !default;

$dropdown-item-padding-y: var(--pgn-dropdown-padding-y-item) !default;
$dropdown-item-padding-x: var(--pgn-dropdown-padding-x-item) !default;

$dropdown-header-color: var(--pgn-dropdown-color-header) !default;
$dropdown-header-padding: var(--pgn-dropdown-padding-header) !default;
