@import "~bootstrap/scss/_dropdown";

// Trying to patch this upstream, then this can
// be removed.
// https://github.com/twbs/bootstrap/pull/23990
.show {
  > a:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.dropdown.has-icon {
  display: flex;
  border: 1px solid $gray-400;
  border-radius: 3px;

  button {
    color: #636c72;
    background: #ffffff !important;
    border: none;
  }

  div.icon-container {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border-right: 1px solid $gray-400;

    img {
      max-width: 100%;
    }
  }
}
