$selectable-box-padding:                   1rem !default;
$selectable-box-border-radius:             .25rem !default;
$selectable-box-space:                     .75rem !default;
$selectable-box-min-width:                 12.5rem !default;
$selectable-box-max-width:                 1fr !default;
