.pgn__searchfield {
    @extend .border;
    @extend .rounded;
    transition: $input-transition;

    &.has-focus {
        box-shadow: $input-focus-box-shadow;
    }

    .form-control {
        @extend .border-0;

        &:focus {
            box-shadow: none;
        }
    }

    label.has-label-text {
        padding-left: 0.75rem;
    }
}
