// Tooltips

$tooltip-font-size: var(--pgn-typography-tooltip-font-size) !default;
$tooltip-max-width: var(--pgn-size-tooltip-max-width) !default;
$tooltip-color: var(--pgn-color-tooltip-text) !default;
$tooltip-bg: var(--pgn-color-tooltip-bg-base) !default;
$tooltip-border-radius: var(--pgn-size-tooltip-border-radius) !default;
$tooltip-opacity: var(--pgn-other-tooltip-opacity) !default;
$tooltip-padding-y: var(--pgn-spacing-tooltip-padding-y) !default;
$tooltip-padding-x: var(--pgn-spacing-tooltip-padding-x) !default;
$tooltip-margin: var(--pgn-spacing-tooltip-margin) !default;
$tooltip-box-shadow: var(--pgn-elevation-tooltip-box-shadow) !default;

$tooltip-arrow-width: var(--pgn-size-tooltip-arrow-width) !default;
$tooltip-arrow-height: var(--pgn-size-tooltip-arrow-height) !default;
$tooltip-arrow-color: var(--pgn-color-tooltip-arrow-base) !default;

$tooltip-color-light: var(--pgn-color-tooltip-light) !default;
$tooltip-bg-light: var(--pgn-color-tooltip-bg-light) !default;
$tooltip-arrow-color-light: var(--pgn-color-tooltip-arrow-light) !default;
