@import "variables";
@import "~bootstrap/scss/tooltip";

.tooltip {
  filter: var(--pgn-tooltip-box-shadow);
}

.tooltip-light {
  .tooltip-inner {
    color: var(--pgn-tooltip-color-light);
    background-color: var(--pgn-tooltip-bg-light);
  }

  &.bs-tooltip-top .arrow {
    &::before {
      border-top-color: var(--pgn-tooltip-arrow-color-light);
    }
  }

  &.bs-tooltip-right .arrow {
    &::before {
      border-right-color: var(--pgn-tooltip-arrow-color-light);
    }
  }

  &.bs-tooltip-bottom .arrow {
    &::before {
      border-bottom-color: var(--pgn-tooltip-arrow-color-light);
    }
  }

  &.bs-tooltip-left .arrow {
    &::before {
      border-left-color: var(--pgn-tooltip-arrow-color-light);
    }
  }
}
