$annotation-padding: var(--pgn-annotation-padding) !default;
$annotation-box-shadow: var(--pgn-annotation-box-shadow) !default;
$annotation-border-radius: var(--pgn-annotation-border-radius) !default;
$annotation-max-width: var(--pgn-annotation-max-width) !default;
$annotation-font-size: var(--pgn-annotation-font-size) !default;
$annotation-line-height: var(--pgn-annotation-line-height) !default;

$annotation-variants: (
  "success": ( "background-color": var(--pgn-color-success-base), "color": var(--pgn-color-white) ),
  "warning": ( "background-color": var(--pgn-color-accent-b), "color": var(--pgn-color-black) ),
  "error":   ( "background-color": var(--pgn-color-danger-base), "color": var(--pgn-color-white) ),
  "light":   ( "background-color": var(--pgn-color-white), "color": var(--pgn-color-primary-500) ),
  "dark":    ( "background-color": var(--pgn-color-dark-base), "color": var(--pgn-color-white) ),
) !default;

$annotation-arrow-side-margin: var(--pgn-annotation-arrow-side-margin) !default;
$annotation-arrow-border-width: var(--pgn-annotation-arrow-border-width) !default;
