@import "mixins";

.pgn__annotation {
  padding: var(--pgn-spacing-annotation-padding);
  border-radius: var(--pgn-size-annotation-border-radius);
  max-width: var(--pgn-size-annotation-max-width);
  filter: var(--pgn-elevation-annotation-box-shadow);
  word-wrap: break-word;
  position: relative;
  display: inline-block;
  font-size: var(--pgn-typography-annotation-font-size);
  line-height: var(--pgn-typography-annotation-line-height);
  text-align: center;
}

// SUCCESS
.pgn__annotation-success-top {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-success),
    var(--pgn-color-annotation-text-success), "top");
}

.pgn__annotation-success-bottom {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-success),
    var(--pgn-color-annotation-text-success), "bottom");
}

.pgn__annotation-success-right {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-success),
    var(--pgn-color-annotation-text-success), "right");
}

.pgn__annotation-success-left {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-success),
    var(--pgn-color-annotation-text-success), "left");
}

// WARNING
.pgn__annotation-warning-top {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-warning),
    var(--pgn-color-annotation-text-warning), "top");
}

.pgn__annotation-warning-bottom {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-warning),
    var(--pgn-color-annotation-text-warning), "bottom");
}

.pgn__annotation-warning-right {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-warning),
    var(--pgn-color-annotation-text-warning), "right");
}

.pgn__annotation-warning-left {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-warning),
    var(--pgn-color-annotation-text-warning), "left");
}

// ERROR
.pgn__annotation-error-top {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-error),
    var(--pgn-color-annotation-text-error), "top");
}

.pgn__annotation-error-bottom {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-error),
    var(--pgn-color-annotation-text-error), "bottom");
}

.pgn__annotation-error-right {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-error),
    var(--pgn-color-annotation-text-error), "right");
}

.pgn__annotation-error-left {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-error),
    var(--pgn-color-annotation-text-error), "left");
}

// DARK
.pgn__annotation-dark-top {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-dark),
    var(--pgn-color-annotation-text-dark), "top");
}

.pgn__annotation-dark-bottom {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-dark),
    var(--pgn-color-annotation-text-dark), "bottom");
}

.pgn__annotation-dark-right {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-dark),
    var(--pgn-color-annotation-text-dark), "right");
}

.pgn__annotation-dark-left {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-dark),
    var(--pgn-color-annotation-text-dark), "left");
}

// LIGHT
.pgn__annotation-light-top {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-light),
    var(--pgn-color-annotation-text-light), "top");
}

.pgn__annotation-light-bottom {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-light),
    var(--pgn-color-annotation-text-light), "bottom");
}

.pgn__annotation-light-right {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-light),
    var(--pgn-color-annotation-text-light), "right");
}

.pgn__annotation-light-left {
  @include annotation-variant(
    var(--pgn-color-annotation-bg-light),
    var(--pgn-color-annotation-text-light), "left");
}
