.pgn__annotation {
  padding: var(--pgn-spacing-annotation-padding);
  border-radius: var(--pgn-size-annotation-border-radius);
  max-width: var(--pgn-size-annotation-max-width);
  filter: var(--pgn-elevation-annotation-box-shadow);
  word-wrap: break-word;
  position: relative;
  display: inline-block;
  font-size: var(--pgn-typography-annotation-font-size);
  line-height: var(--pgn-typography-annotation-line-height);
  text-align: center;
}

// SUCCESS
.pgn__annotation-success-top {
  background-color: var(--pgn-color-annotation-bg-success);
  color: var(--pgn-color-annotation-text-success);
  margin-bottom: calc(var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin));
  margin-top:
    calc(
      #{var(--pgn-size-annotation-arrow-border-width)} + #{var(--pgn-spacing-annotation-arrow-side-margin)}
    );

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-bottom-color: var(--pgn-color-annotation-bg-success);
    border-width: 0 var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width);
    right: 0;
    left: 0;
    top: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: 0 auto;
  }
}

.pgn__annotation-success-bottom {
  background-color: var(--pgn-color-annotation-bg-success);
  color: var(--pgn-color-annotation-text-success);
  margin-bottom: calc(var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin));

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-top-color: var(--pgn-color-annotation-bg-success);
    border-width: var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width) 0;
    right: 0;
    left: 0;
    bottom: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: 0 auto;
  }
}

.pgn__annotation-success-right {
  background-color: var(--pgn-color-annotation-bg-success);
  color: var(--pgn-color-annotation-text-success);
  margin-right:
    calc(
      #{var(--pgn-size-annotation-arrow-border-width)} + #{var(--pgn-spacing-annotation-arrow-side-margin)}
    );

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-left-color: var(--pgn-color-annotation-bg-success);
    border-width:
      var(--pgn-size-annotation-arrow-border-width) 0 var(--pgn-size-annotation-arrow-border-width)
      var(--pgn-size-annotation-arrow-border-width);
    top: 0;
    bottom: 0;
    right: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: auto 0;

    [dir="rtl"] & {
      right: initial;
      left: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
      border-width:
        var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width)
        var(--pgn-size-annotation-arrow-border-width) 0;
      border-right-color: var(--pgn-color-annotation-bg-success);
    }
  }

  [dir="rtl"] & {
    margin-right: 0;
    margin-left:
      calc(
        #{var(--pgn-size-annotation-arrow-border-width)} + #{var(--pgn-spacing-annotation-arrow-side-margin)}
      );
  }
}

.pgn__annotation-success-left {
  background-color: var(--pgn-color-annotation-bg-success);
  color: var(--pgn-color-annotation-text-success);
  margin-left:
    calc(
      #{var(--pgn-size-annotation-arrow-border-width)} + #{var(--pgn-spacing-annotation-arrow-side-margin)}
    );

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-right-color: var(--pgn-color-annotation-bg-success);
    border-width:
      var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width)
      var(--pgn-size-annotation-arrow-border-width) 0;
    top: 0;
    bottom: 0;
    left: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: auto 0;

    [dir="rtl"] & {
      left: initial;
      right: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
      border-width:
        var(--pgn-size-annotation-arrow-border-width) 0 var(--pgn-size-annotation-arrow-border-width)
        var(--pgn-size-annotation-arrow-border-width);
      border-left-color: var(--pgn-color-annotation-bg-success);
    }
  }

  [dir="rtl"] & {
    margin-left: 0;
    margin-right:
      calc(
        #{var(--pgn-size-annotation-arrow-border-width)} + #{var(--pgn-spacing-annotation-arrow-side-margin)}
      );
  }
}

// WARNING
.pgn__annotation-warning-top {
  background-color: var(--pgn-color-annotation-bg-warning);
  color: var(--pgn-color-annotation-text-warning);
  margin-top:
    calc(
      var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin)
    );

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-bottom-color: var(--pgn-color-annotation-bg-warning);
    border-width: 0 var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width);
    right: 0;
    left: 0;
    top: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: 0 auto;
  }
}

.pgn__annotation-warning-bottom {
  background-color: var(--pgn-color-annotation-bg-warning);
  color: var(--pgn-color-annotation-text-warning);
  margin-bottom:
    calc(
      var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin)
    );

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-top-color: var(--pgn-color-annotation-bg-warning);
    border-width: var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width) 0;
    right: 0;
    left: 0;
    bottom: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: 0 auto;
  }
}

.pgn__annotation-warning-right {
  background-color: var(--pgn-color-annotation-bg-warning);
  color: var(--pgn-color-annotation-text-warning);
  margin-right:
    calc(
      var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin)
    );

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-left-color: var(--pgn-color-annotation-bg-warning);
    border-width:
      var(--pgn-size-annotation-arrow-border-width) 0 var(--pgn-size-annotation-arrow-border-width)
      var(--pgn-size-annotation-arrow-border-width);
    top: 0;
    bottom: 0;
    right: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: auto 0;

    [dir="rtl"] & {
      right: initial;
      left: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
      border-width:
        var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width)
        var(--pgn-size-annotation-arrow-border-width) 0;
      border-right-color: var(--pgn-color-annotation-bg-warning);
    }
  }

  [dir="rtl"] & {
    margin-right: 0;
    margin-left:
      calc(
        #{var(--pgn-size-annotation-arrow-border-width)} + #{var(--pgn-spacing-annotation-arrow-side-margin)}
      );
  }
}

.pgn__annotation-warning-left {
  background-color: var(--pgn-color-annotation-bg-warning);
  color: var(--pgn-color-annotation-text-warning);
  margin-left:
    calc(
      var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin)
    );

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-right-color: var(--pgn-color-annotation-bg-warning);
    border-width:
      var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width)
      var(--pgn-size-annotation-arrow-border-width) 0;
    top: 0;
    bottom: 0;
    left: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: auto 0;

    [dir="rtl"] & {
      left: initial;
      right: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
      border-width:
        var(--pgn-size-annotation-arrow-border-width) 0 var(--pgn-size-annotation-arrow-border-width)
        var(--pgn-size-annotation-arrow-border-width);
      border-left-color: var(--pgn-color-annotation-bg-warning);
    }
  }

  [dir="rtl"] & {
    margin-left: 0;
    margin-right:
      calc(
        #{var(--pgn-size-annotation-arrow-border-width)} + #{var(--pgn-spacing-annotation-arrow-side-margin)}
      );
  }
}

// ERROR
.pgn__annotation-error-top {
  background-color: var(--pgn-color-annotation-bg-error);
  color: var(--pgn-color-annotation-text-error);
  margin-top:
    calc(
      var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin)
    );

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-bottom-color: var(--pgn-color-annotation-bg-error);
    border-width: 0 var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width);
    right: 0;
    left: 0;
    top: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: 0 auto;
  }
}

.pgn__annotation-error-bottom {
  background-color: var(--pgn-color-annotation-bg-error);
  color: var(--pgn-color-annotation-text-error);
  margin-bottom:
    calc(
      var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin)
    );

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-top-color: var(--pgn-color-annotation-bg-error);
    border-width: var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width) 0;
    right: 0;
    left: 0;
    bottom: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: 0 auto;
  }
}

.pgn__annotation-error-right {
  background-color: var(--pgn-color-annotation-bg-error);
  color: var(--pgn-color-annotation-text-error);
  margin-right:
    calc(
      var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin)
    );

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-left-color: var(--pgn-color-annotation-bg-error);
    border-width:
      var(--pgn-size-annotation-arrow-border-width) 0 var(--pgn-size-annotation-arrow-border-width)
      var(--pgn-size-annotation-arrow-border-width);
    top: 0;
    bottom: 0;
    right: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: auto 0;

    [dir="rtl"] & {
      right: initial;
      left: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
      border-width:
        var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width)
        var(--pgn-size-annotation-arrow-border-width) 0;
      border-right-color: var(--pgn-color-annotation-bg-error);
    }
  }

  [dir="rtl"] & {
    margin-right: 0;
    margin-left:
      calc(
        #{var(--pgn-size-annotation-arrow-border-width)} + #{var(--pgn-spacing-annotation-arrow-side-margin)}
      );
  }
}

.pgn__annotation-error-left {
  background-color: var(--pgn-color-annotation-bg-error);
  color: var(--pgn-color-annotation-text-error);
  margin-left: calc(var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin));

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-right-color: var(--pgn-color-annotation-bg-error);
    border-width:
      var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width)
      var(--pgn-size-annotation-arrow-border-width) 0;
    top: 0;
    bottom: 0;
    left: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: auto 0;

    [dir="rtl"] & {
      left: initial;
      right: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
      border-width:
        var(--pgn-size-annotation-arrow-border-width) 0 var(--pgn-size-annotation-arrow-border-width)
        var(--pgn-size-annotation-arrow-border-width);
      border-left-color: var(--pgn-color-annotation-bg-error);
    }
  }

  [dir="rtl"] & {
    margin-left: 0;
    margin-right:
      calc(
        #{var(--pgn-size-annotation-arrow-border-width)} + #{var(--pgn-spacing-annotation-arrow-side-margin)}
      );
  }
}

// DARK
.pgn__annotation-dark-top {
  background-color: var(--pgn-color-annotation-bg-dark);
  color: var(--pgn-color-annotation-text-dark);
  margin-top: calc(var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin));

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-bottom-color: var(--pgn-color-annotation-bg-dark);
    border-width: 0 var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width);
    right: 0;
    left: 0;
    top: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: 0 auto;
  }
}

.pgn__annotation-dark-bottom {
  background-color: var(--pgn-color-annotation-bg-dark);
  color: var(--pgn-color-annotation-text-dark);
  margin-bottom: calc(var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin));

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-top-color: var(--pgn-color-annotation-bg-dark);
    border-width: var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width) 0;
    right: 0;
    left: 0;
    bottom: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: 0 auto;
  }
}

.pgn__annotation-dark-right {
  background-color: var(--pgn-color-annotation-bg-dark);
  color: var(--pgn-color-annotation-text-dark);
  margin-right: calc(var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin));

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-left-color: var(--pgn-color-annotation-bg-dark);
    border-width:
      var(--pgn-size-annotation-arrow-border-width) 0 var(--pgn-size-annotation-arrow-border-width)
      var(--pgn-size-annotation-arrow-border-width);
    top: 0;
    bottom: 0;
    right: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: auto 0;

    [dir="rtl"] & {
      right: initial;
      left: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
      border-width:
        var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width)
        var(--pgn-size-annotation-arrow-border-width) 0;
      border-right-color: var(--pgn-color-annotation-bg-dark);
    }
  }

  [dir="rtl"] & {
    margin-right: 0;
    margin-left:
      calc(
        #{var(--pgn-size-annotation-arrow-border-width)} + #{var(--pgn-spacing-annotation-arrow-side-margin)}
      );
  }
}

.pgn__annotation-dark-left {
  background-color: var(--pgn-color-annotation-bg-dark);
  color: var(--pgn-color-annotation-text-dark);
  margin-left: calc(var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin));

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-right-color: var(--pgn-color-annotation-bg-dark);
    border-width:
      var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width)
      var(--pgn-size-annotation-arrow-border-width) 0;
    top: 0;
    bottom: 0;
    left: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: auto 0;

    [dir="rtl"] & {
      left: initial;
      right: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
      border-width:
        var(--pgn-size-annotation-arrow-border-width) 0 var(--pgn-size-annotation-arrow-border-width)
        var(--pgn-size-annotation-arrow-border-width);
      border-left-color: var(--pgn-color-annotation-bg-dark);
    }
  }

  [dir="rtl"] & {
    margin-left: 0;
    margin-right:
      calc(
        #{var(--pgn-size-annotation-arrow-border-width)} + #{var(--pgn-spacing-annotation-arrow-side-margin)}
      );
  }
}

// LIGHT
.pgn__annotation-light-top {
  background-color: var(--pgn-color-annotation-bg-light);
  color: var(--pgn-color-annotation-text-light);
  margin-top: calc(var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin));

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-bottom-color: var(--pgn-color-annotation-bg-light);
    border-width: 0 var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width);
    right: 0;
    left: 0;
    top: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: 0 auto;
  }
}

.pgn__annotation-light-bottom {
  background-color: var(--pgn-color-annotation-bg-light);
  color: var(--pgn-color-annotation-text-light);
  margin-bottom: calc(var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin));

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-top-color: var(--pgn-color-annotation-bg-light);
    border-width: var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width) 0;
    right: 0;
    left: 0;
    bottom: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: 0 auto;
  }
}

.pgn__annotation-light-right {
  background-color: var(--pgn-color-annotation-bg-light);
  color: var(--pgn-color-annotation-text-light);
  margin-right: calc(var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin));

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-left-color: var(--pgn-color-annotation-bg-light);
    border-width:
      var(--pgn-size-annotation-arrow-border-width) 0 var(--pgn-size-annotation-arrow-border-width)
      var(--pgn-size-annotation-arrow-border-width);
    top: 0;
    bottom: 0;
    right: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: auto 0;

    [dir="rtl"] & {
      right: initial;
      left: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
      border-width:
        var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width)
        var(--pgn-size-annotation-arrow-border-width) 0;
      border-right-color: var(--pgn-color-annotation-bg-light);
    }
  }

  [dir="rtl"] & {
    margin-right: 0;
    margin-left:
      calc(
        #{var(--pgn-size-annotation-arrow-border-width)} + #{var(--pgn-spacing-annotation-arrow-side-margin)}
      );
  }
}

.pgn__annotation-light-left {
  background-color: var(--pgn-color-annotation-bg-light);
  color: var(--pgn-color-annotation-text-light);
  margin-left: calc(var(--pgn-size-annotation-arrow-border-width) + var(--pgn-spacing-annotation-arrow-side-margin));

  &::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-right-color: var(--pgn-color-annotation-bg-light);
    border-width:
      var(--pgn-size-annotation-arrow-border-width) var(--pgn-size-annotation-arrow-border-width)
      var(--pgn-size-annotation-arrow-border-width) 0;
    top: 0;
    bottom: 0;
    left: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
    margin: auto 0;

    [dir="rtl"] & {
      left: initial;
      right: calc(#{var(--pgn-size-annotation-arrow-border-width)} * -1);
      border-width:
        var(--pgn-size-annotation-arrow-border-width) 0 var(--pgn-size-annotation-arrow-border-width)
        var(--pgn-size-annotation-arrow-border-width);
      border-left-color: var(--pgn-color-annotation-bg-light);
    }
  }

  [dir="rtl"] & {
    margin-left: 0;
    margin-right:
      calc(
        #{var(--pgn-size-annotation-arrow-border-width)} + #{var(--pgn-spacing-annotation-arrow-side-margin)}
      );
  }
}
