$tab-notification-height: var(--pgn-size-tabs-notification-height) !default;
$tab-notification-width: var(--pgn-size-tabs-notification-width) !default;
$tab-notification-font-size: var(--pgn-typography-tabs-notification-font-size) !default;
$tab-more-link-dropdown-toggle-padding-x:                   .7rem !default;
$tab-more-link-dropdown-toggle-padding-y:                   var(--pgn-spacing-spacer-base) !default;
$tab-more-link-dropdown-toggle-focus-bg:                    var(--pgn-color-primary-500) !default;
$tab-more-link-dropdown-toggle-focus-border-color:          var(--pgn-color-tab-more-link-dropdown-toggle-bg-focus) !default;
$tab-more-link-dropdown-toggle-focus-color:                 var(--pgn-color-white) !default;
$tab-more-link-dropdown-toggle-btn-focus-color:             var(--pgn-color-tab-more-link-dropdown-toggle-text-focus) !default;
$tab-more-link-dropdown-toggle-btn-focus-border-color:      var(--pgn-color-tab-more-link-dropdown-toggle-bg-focus) !default;
$tab-more-link-dropdown-toggle-active-color:                var(--pgn-color-tab-more-link-dropdown-toggle-text-focus) !default;
$tab-more-link-dropdown-toggle-hover-color:                 var(--pgn-color-tab-more-link-dropdown-toggle-bg-focus) !default;
$tab-inverse-pills-link-dropdown-toggle-padding-x:          .625rem !default;
$tab-inverse-pills-link-dropdown-toggle-padding-y:          var(--pgn-spacing-spacer-base) !default;
$tab-inverse-pills-link-dropdown-toggle-focus-bg:           var(--pgn-color-white) !default;
$tab-inverse-pills-link-dropdown-toggle-focus-color:        var(--pgn-color-primary-500) !default;
$tab-inverse-pills-link-dropdown-toggle-focus-border-color: var(--pgn-color-tab-inverse-pills-link-dropdown-toggle-bg-focus) !default;
$tab-inverse-pills-link-dropdown-toggle-active-color: var(--pgn-color-tab-inverse-pills-link-dropdown-toggle-text-focus) !default;
$tab-inverse-pills-link-dropdown-toggle-active-hover-color: var(--pgn-color-tab-inverse-pills-link-dropdown-toggle-bg-focus) !default;
$tab-inverse-pills-link-dropdown-toggle-active-hover-bg:    var(--pgn-color-primary-300) !default;
$tab-inverse-pills-link-dropdown-distance:                  5px !default;
$tab-inverse-tabs-link-dropdown-toggle-padding-x:           .625rem !default;
$tab-inverse-tabs-link-dropdown-toggle-padding-y:           var(--pgn-spacing-spacer-base) !default;
$tab-inverse-tabs-link-dropdown-toggle-hover-bg:            transparent !default;
