$tab-notification-height: var(--pgn-size-tabs-notification-height) !default;
$tab-notification-width: var(--pgn-size-tabs-notification-width) !default;
$tab-notification-font-size: var(--pgn-typography-tabs-notification-font-size) !default;
