$tab-notification-height: var(--pgn-size-tabs-notification-height) !default;
$tab-notification-width: var(--pgn-size-tabs-notification-width) !default;
$tab-notification-font-size: var(--pgn-typography-tabs-notification-font-size) !default;
$tab-more-link-dropdown-toggle-padding-x:                   .7rem !default;
$tab-more-link-dropdown-toggle-padding-y:                   $spacer !default;
$tab-more-link-dropdown-toggle-focus-bg:                    $primary-500 !default;
$tab-more-link-dropdown-toggle-focus-border-color:          $tab-more-link-dropdown-toggle-focus-bg !default;
$tab-more-link-dropdown-toggle-focus-color:                 $white !default;
$tab-more-link-dropdown-toggle-btn-focus-color:             $tab-more-link-dropdown-toggle-focus-color !default;
$tab-more-link-dropdown-toggle-btn-focus-border-color:      $tab-more-link-dropdown-toggle-focus-bg !default;
$tab-more-link-dropdown-toggle-active-color:                $tab-more-link-dropdown-toggle-focus-color !default;
$tab-more-link-dropdown-toggle-hover-color:                 $tab-more-link-dropdown-toggle-focus-bg !default;
$tab-inverse-pills-link-dropdown-toggle-padding-x:          .625rem !default;
$tab-inverse-pills-link-dropdown-toggle-padding-y:          $spacer !default;
$tab-inverse-pills-link-dropdown-toggle-focus-bg:           $white !default;
$tab-inverse-pills-link-dropdown-toggle-focus-color:        $primary-500 !default;
$tab-inverse-pills-link-dropdown-toggle-focus-border-color: $tab-inverse-pills-link-dropdown-toggle-focus-bg !default;
$tab-inverse-pills-link-dropdown-toggle-active-color: $tab-inverse-pills-link-dropdown-toggle-focus-color !default;
$tab-inverse-pills-link-dropdown-toggle-active-hover-color: $tab-inverse-pills-link-dropdown-toggle-focus-bg !default;
$tab-inverse-pills-link-dropdown-toggle-active-hover-bg:    $primary-300 !default;
$tab-inverse-pills-link-dropdown-distance:                  5px !default;
$tab-inverse-tabs-link-dropdown-toggle-padding-x:           .625rem !default;
$tab-inverse-tabs-link-dropdown-toggle-padding-y:           $spacer !default;
$tab-inverse-tabs-link-dropdown-toggle-hover-bg:            transparent !default;
