@import "variables";

.pgn__tabs {
  flex-wrap: nowrap;

  & > * {
    position: relative;
  }

  .pgn__tab-notification {
    position: absolute;
    top: 0;
    right: 0;
    min-height: $tab-notification-height;
    min-width: $tab-notification-width;
    font-size: $tab-notification-font-size;
  }

  .pgn__tab_more.nav-link {
    margin-bottom: 0;
    padding: 0;

    .dropdown .dropdown-toggle {
      display: block;
      border: none;
    }
  }

  // Nav-pills
  &.nav-pills {
    .pgn__tab_more.nav-link {
      margin: 0;

      .dropdown .dropdown-toggle {
        padding: .7rem 1rem;

        &:focus {
          background-color: $primary-500;
          border-color: $primary-500;
          color: $white;

          &.btn.btn-link {
            color: $white;
            border-color: $primary-500;
          }
        }
      }

      &.active {
        .dropdown .dropdown-toggle {
          color: $white;
        }

        &:hover {
          .dropdown .dropdown-toggle {
            background-color: $primary-500;
          }
        }
      }
    }
  }

  // Nav inverse pills
  &.nav-inverse-pills {
    .pgn__tab_more.nav-link {
      .dropdown .dropdown-toggle {
        padding: .625rem 1rem;

        &:focus {
          background-color: $white;
          color: $primary-500;
        }
      }

      &.active {
        .dropdown .dropdown-toggle {
          color: $primary-500;

          &:hover {
            color: $white;
            background-color: $primary-300;
          }
        }
      }
    }
  }

  // Nav tabs
  &.nav-tabs {
    .pgn__tab_more.nav-link {
      .dropdown .dropdown-toggle {
        padding: .563rem 1rem;
      }
    }
  }

  // Nav inverse tabs
  &.nav-inverse-tabs {
    .pgn__tab_more.nav-link {
      .dropdown .dropdown-toggle {
        padding: .625rem 1rem;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .pgn__tab_invisible {
    position: absolute;
    left: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
