.pgn__tabs {
  flex-wrap: nowrap;

  & > * {
    position: relative;
  }

  .pgn__tab-notification {
    position: absolute;
    top: 0;
    right: 0;
    min-height: var(--pgn-size-tabs-notification-height);
    min-width: var(--pgn-size-tabs-notification-width);
    font-size: var(--pgn-typography-tabs-notification-font-size);
  }

  .pgn__tab_more.nav-link {
    margin-bottom: 0;
    padding: 0;

    .dropdown .dropdown-toggle {
      display: block;
      border: none;
    }
  }

  // Nav-pills
  &.nav-pills {
    .pgn__tab_more.nav-link {
      margin: 0;

      .dropdown .dropdown-toggle {
        padding: $tab-more-link-dropdown-toggle-padding-x $tab-more-link-dropdown-toggle-padding-y;

        &:focus {
          background-color: $tab-more-link-dropdown-toggle-focus-bg;
          border-color: $tab-more-link-dropdown-toggle-focus-border-color;
          color: $tab-more-link-dropdown-toggle-focus-color;

          &.btn.btn-link {
            color: $tab-more-link-dropdown-toggle-btn-focus-color;
            border-color: $tab-more-link-dropdown-toggle-btn-focus-border-color;
          }
        }
      }

      &.active {
        .dropdown .dropdown-toggle {
          color: $tab-more-link-dropdown-toggle-active-color;
        }

        &:hover {
          .dropdown .dropdown-toggle {
            background-color: $tab-more-link-dropdown-toggle-hover-color;
          }
        }
      }
    }
  }

  // Nav inverse pills
  &.nav-inverse-pills .pgn__tab_more.nav-link {
    .dropdown .dropdown-toggle {
      padding: $tab-inverse-pills-link-dropdown-toggle-padding-x $tab-inverse-pills-link-dropdown-toggle-padding-y;

      &:focus {
        background-color: $tab-inverse-pills-link-dropdown-toggle-focus-bg;
        color: $tab-inverse-pills-link-dropdown-toggle-focus-color;
      }
    }

    &.active .dropdown .dropdown-toggle {
      color: $tab-inverse-pills-link-dropdown-toggle-active-color;

      &:hover {
        color: $tab-inverse-pills-link-dropdown-toggle-active-hover-color;
        background-color: $tab-inverse-pills-link-dropdown-toggle-active-hover-bg;
      }
    }
  }

  // Nav tabs
  &.nav-tabs .pgn__tab_more.nav-link .dropdown .dropdown-toggle {
    padding: .563rem 1rem;
  }

  // Nav inverse tabs
  &.nav-inverse-tabs .pgn__tab_more.nav-link .dropdown .dropdown-toggle {
    padding: $tab-inverse-tabs-link-dropdown-toggle-padding-x $tab-inverse-tabs-link-dropdown-toggle-padding-y;

    &:hover {
      background-color: $tab-inverse-tabs-link-dropdown-toggle-hover-bg;
    }
  }

  .pgn__tab_invisible {
    position: absolute;
    left: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
