@import "bootstrap-progress";
@import "mixins";

.progress {
  border: var(--pgn-size-progress-bar-border-width) solid var(--pgn-color-progress-bar-border);
}

.progress-bar {
  background-color: var(--pgn-color-progress-bar-bar-bg-base);
}

.pgn__progress-annotated {
  width: 100%;
  position: relative;
  overflow: visible;

  .progress {
    overflow: visible;
    background-color: var(--pgn-color-light-300);
    height: var(--pgn-size-progress-bar-height-annotated);
    border: none;

    .progress-bar {
      background-color: var(--pgn-color-progress-bar-bar-bg-annotated);
      overflow: visible;
      position: relative;
    }

    .pgn__progress-tick--white::after,
    .pgn__progress-tick--black::after {
      content: "";
      position: absolute;
      height: var(--pgn-size-progress-bar-height-annotated);
      width: 1px;
      right: 0;
    }

    .pgn__progress-tick--white::after {
      background: var(--pgn-color-light-300);
    }

    .pgn__progress-tick--black::after {
      background: var(--pgn-color-primary-500);
    }

    .pgn__progress-bar--dark {
      @include progress-bar-variant(var(--pgn-color-primary-500));
    }

    .pgn__progress-bar--success {
      @include progress-bar-variant(var(--pgn-color-success-500));
    }

    .pgn__progress-bar--error {
      @include progress-bar-variant(var(--pgn-color-danger-500));
    }

    .pgn__progress-bar--warning {
      @include progress-bar-variant(var(--pgn-color-accent-b));
    }
  }

  .progress::before,
  .progress::after {
    position: absolute;
    content: "";
    height: var(--pgn-size-progress-bar-height-annotated);
    width: 1px;
    background: var(--pgn-color-primary-500);
  }

  .progress::after {
    right: 0;
  }

  .pgn__progress-info {
    display: inline-block;
    position: relative;
  }

  .pgn__progress-hint {
    box-sizing: border-box;
    padding: 0 var(--pgn-spacing-progress-bar-hint-annotation-gap);
    font-size: var(--pgn-typography-font-size-small-base);
  }
}
