$menu-box-shadow:                                $box-shadow !default;
$menu-border-radius:                             .25em !default;
$menu-bg:                                        $white !default;
$menu-max-height:                                16.813rem !default;
$menu-item-height:                               3rem !default;
$menu-item-width:                                19rem !default;
$menu-item-width-xs:                             13.438rem !default;
$menu-item-color:                                $body-color !default;
$menu-item-bg:                                   transparent !default;
$menu-item-border-color:                         $menu-item-bg !default;
$menu-item-border-width:                         $btn-border-width !default;
$menu-item-hover-border:                         $menu-item-bg !default;
$menu-item-padding-x:                            $btn-padding-x !default;
$menu-item-padding-y:                            $btn-padding-y !default;
$menu-item-hover-color:                          var(--pgn-color-btn-text-tertiary) !default;
$menu-item-hover-border-color:                   $menu-item-bg !default;
$menu-item-hover-bg:                             var(--pgn-color-btn-hover-bg-tertiary) !default;
$menu-item-icon-margin-left:                     .25em !default;
$menu-item-icon-margin-right:                    $menu-item-icon-margin-left !default;
$menu-item-focus-bg:                             var(--pgn-color-btn-active-bg-tertiary) !default;
$menu-item-border:                               $menu-item-border-width solid $menu-item-border-color !default;
$menu-select-btn-link-color:                     $primary-500 !default;
$menu-select-btn-link-text-decoration-line:      underline !default;
$menu-select-btn-link-text-decoration-thickness: .125rem !default;
$background: var(--pgn-color-btn-bg-tertiary);
$border: var(--pgn-color-menu-border-base) !default;
$active-background: var(--pgn-color-menu-bg-active) !default;
$active-border: var(--pgn-color-menu-border-active) !default;
$hover-border: var(--pgn-color-menu-border-hover) !default;
