$menu-box-shadow:                                var(--pgn-elevation-box-shadow-base) !default;
$menu-border-radius:                             .25em !default;
$menu-bg:                                        var(--pgn-color-white) !default;
$menu-max-height:                                16.813rem !default;
$menu-item-height:                               3rem !default;
$menu-item-width:                                19rem !default;
$menu-item-width-xs:                             13.438rem !default;
$menu-item-color:                                var(--pgn-color-body-base) !default;
$menu-item-bg:                                   transparent !default;
$menu-item-border-color:                         var(--pgn-color-menu-item-bg) !default;
$menu-item-border-width:                         var(--pgn-size-btn-border-width) !default;
$menu-item-hover-border:                         var(--pgn-color-menu-item-bg) !default;
$menu-item-padding-x:                            var(--pgn-spacing-btn-padding-x-base) !default;
$menu-item-padding-y:                            var(--pgn-spacing-btn-padding-y-base) !default;
$menu-item-hover-color:                          var(--pgn-color-btn-text-tertiary) !default;
$menu-item-hover-border-color:                   var(--pgn-color-menu-item-bg) !default;
$menu-item-hover-bg:                             var(--pgn-color-btn-hover-bg-tertiary) !default;
$menu-item-icon-margin-left:                     .25em !default;
$menu-item-icon-margin-right:                    var(--pgn-spacing-menu-item-icon-margin-left) !default;
$menu-item-focus-bg:                             var(--pgn-color-btn-active-bg-tertiary) !default;
$menu-item-border:                               var(--pgn-size-menu-item-border-width) solid var(--pgn-color-menu-item-border) !default;
$menu-select-btn-link-color:                     var(--pgn-color-primary-500) !default;
$menu-select-btn-link-text-decoration-line:      underline !default;
$menu-select-btn-link-text-decoration-thickness: .125rem !default;
