$border: var(--pgn-color-menu-border-base) !default;
$active-background: var(--pgn-color-menu-bg-active) !default;
$active-border: var(--pgn-color-menu-border-active) !default;
$hover-border: var(--pgn-color-menu-border-hover) !default;
