.pgn__menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 288px;
  max-width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--pgn-typography-btn-font-family);
  font-weight: var(--pgn-typography-btn-font-weight);
  color: var(--pgn-color-body-base);
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: var(--pgn-size-btn-border-width) solid transparent;
  padding: var(--pgn-spacing-btn-padding-y-base) var(--pgn-spacing-btn-padding-x-base);
  font-size: var(--pgn-typography-btn-font-size-base);
  height: 48px;
  border-radius: 0;

  .pgn__menu-item-content-spacer {
    flex-grow: 1;
  }

  &:hover {
    text-decoration: none;
    color: var(--pgn-color-btn-text-tertiary);
    border-color: var(--pgn-color-menu-border-hover);
    background: var(--pgn-color-btn-hover-bg-tertiary);
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: var(--pgn-other-btn-disabled-opacity);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: var(--pgn-color-btn-text-tertiary);
    background-color: var(--pgn-color-menu-bg-active);
    border-color: var(--pgn-color-menu-border-active);
  }

  &.focus,
  &:focus {
    font-weight: var(--pgn-typography-font-weight-bolder);
    color: var(--pgn-color-btn-text-tertiary);
    background-color: var(--pgn-color-menu-bg-active);
    border-color: var(--pgn-color-menu-border-active);
  }

  .btn-icon-before {
    margin-inline-end: .5rem;
    margin-left: -.25em;

    [dir="rtl"] & {
      margin-right: -.25em;
      margin-left: .5rem;
    }
  }

  .btn-icon-after {
    margin-inline-start: .5rem;
    margin-right: -.25em;

    [dir="rtl"] & {
      margin-right: .5rem;
      margin-left: -.25em;
    }
  }
}

.pgn__menu {
  border-radius: .25em;
  box-shadow: var(--pgn-elevation-box-shadow-base);
  background-color: var(--pgn-color-white);
  overflow: auto;
  max-height: 264px;
}

.pgn__menu-select-popup {
  color: var(--pgn-color-btn-bg-tertiary);
  position: relative;
}

.pgn__menu-select-trigger-btn {
  max-width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: var(--pgn-color-white);
  box-sizing: border-box;
  color: var(--pgn-color-dark-base);

  &:hover {
    color: var(--pgn-color-white);
    background: var(--pgn-color-primary-base);
    border: 1px solid var(--pgn-color-white);
    box-sizing: border-box;
  }
}
