.pgn__menu {
  border-radius: var(--pgn-size-menu-base-border-radius);
  box-shadow: var(--pgn-elevation-menu-box-shadow);
  background-color: var(--pgn-color-menu-bg);
  overflow: auto;
  max-height: var(--pgn-size-menu-base-max-height);

  .pgn__menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: var(--pgn-size-menu-item-width-base);
    color: var(--pgn-color-menu-item-color);
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: var(--pgn-color-menu-item-bg);
    border: var(--pgn-size-menu-item-border-width) solid var(--pgn-color-menu-item-border);
    padding: var(--pgn-spacing-menu-item-padding-y) var(--pgn-spacing-menu-item-padding-x);
    height: var(--pgn-size-menu-item-height);

    @media (max-width: var(--pgn-size-container-max-width-xs)) {
      width: var(--pgn-size-menu-item-width-xs);
    }

    .pgn__menu-item-text {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .pgn__menu-item-content-spacer {
      flex-grow: 1;
    }

    @include hover {
      text-decoration: none;
      color: var(--pgn-color-menu-item-hover-color);
      border-color: var(--pgn-color-menu-item-hover-border);
      background: var(--pgn-color-menu-item-hover-bg);
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
      opacity: var(--pgn-other-btn-disabled-opacity);
    }

    &.focus,
    &:focus {
      font-weight: var(--pgn-typography-font-weight-bolder);
      background-color: var(--pgn-color-menu-item-focus-bg);
    }

    .btn-icon-before {
      margin-inline-end: .5rem;
      margin-left: calc(var(--pgn-spacing-menu-item-icon-margin-left) * -1);

      [dir="rtl"] & {
        margin-right: calc(var(--pgn-spacing-menu-item-icon-margin-right) * -1);
        margin-left: .5rem;
      }
    }

    .btn-icon-after {
      margin-inline-start: .5rem;
      margin-right: calc(var(--pgn-spacing-menu-item-icon-margin-right) * -1);

      [dir="rtl"] & {
        margin-right: .5rem;
        margin-left: calc(var(--pgn-spacing-menu-item-icon-margin-left) * -1);
      }
    }
  }
}

.pgn__menu-select {
  .btn.btn-link {
    color: var(--pgn-color-menu-select-btn-link-color);

    &:hover,
    &:focus {
      text-decoration-line: var(--pgn-typography-menu-select-btn-link-text-decoration-line);
      text-decoration-thickness: var(--pgn-typography-menu-select-btn-link-text-decoration-thickness);
    }
  }

  .pgn__menu-select-popup {
    position: relative;
  }
}
