@import "variables";
@import "~bootstrap/scss/breadcrumb";

.pgn__breadcrumb {
  .list-inline-item {
    &.active {
      color: var(--pgn-breadcrumb-color-active);
    }

    a.link-muted {
      color: var(--pgn-breadcrumb-color-base);

      &:focus {
        position: relative;
        outline: none;
        box-shadow: none;
        text-decoration: none;
      }

      &:focus::before {
        content: "";
        position: absolute;
        top: calc(#{var(--pgn-breadcrumb-border-focus-axis-y)} * -1);
        right: calc(#{var(--pgn-breadcrumb-border-focus-axis-x)} * -1);
        bottom: calc(#{var(--pgn-breadcrumb-border-focus-axis-y)} * -1);
        left: calc(#{var(--pgn-breadcrumb-border-focus-axis-x)} * -1);
        border: var(--pgn-breadcrumb-border-focus-width) solid var(--pgn-breadcrumb-color-base);
        border-radius: var(--pgn-breadcrumb-border-radius-focus);
      }
    }

    [dir="rtl"] & {
      margin-right: 0;
      margin-left: var(--pgn-breadcrumb-margin-left);
    }

    .pgn__icon {
      [dir="rtl"] & {
        transform: scale(-1);
      }
    }
  }

  &-dark {
    .list-inline-item {
      &.active {
        color: var(--pgn-breadcrumb-inverse-active);
      }

      a.link-muted {
        color: var(--pgn-breadcrumb-inverse-color);

        &:focus::before {
          border: var(--pgn-breadcrumb-border-focus-width) solid var(--pgn-breadcrumb-inverse-color);
        }
      }
    }

    .pgn__icon,
    .custom-spacer {
      color: var(--pgn-breadcrumb-inverse-spacer);
    }
  }

  ol.is-mobile {
    flex-direction: row-reverse;
    justify-content: flex-end;

    .list-inline-item:not(:last-child) {
      margin-right: 0;
      margin-left: var(--pgn-breadcrumb-margin-left);
    }

    .pgn__icon {
      transform: scale(-1);

      [dir="rtl"] & {
        transform: scale(1);
      }
    }
  }
}
