// Card

$card-spacer-y: var(--pgn-spacing-card-spacer-y) !default;
$card-spacer-x: var(--pgn-spacing-card-spacer-x) !default;
$card-border-width: var(--pgn-size-card-border-width) !default;
$card-border-radius: var(--pgn-size-card-border-radius-base) !default;
$card-border-color: var(--pgn-color-card-border-base) !default;
$card-border-focus-color: var(--pgn-color-card-border-focus) !default;
$card-border-focus-color-dark:       theme-color("primary", "focus") !default;
$card-cap-bg: var(--pgn-card-cap-bg) !default;
$card-cap-color: var(--pgn-card-cap-color) !default;
$card-height: var(--pgn-card-height-base) !default;
$card-bg-dark:                       $primary-500 !default;
$card-bg-muted:                      $light-200 !default;

// TODO: Need to deleted this variable after refactoring Card component
// stylelint-disable-next-line max-line-length
$card-inner-border-radius: calc(#{var(--pgn-size-card-border-radius-base)} - #{var(--pgn-size-card-border-width)}) !default;
$card-color: var(--pgn-color-card-base) !default;
$card-bg: var(--pgn-color-card-bg) !default;

$card-group-margin: var(--pgn-spacing-card-margin-group) !default;
$card-deck-margin: var(--pgn-spacing-card-margin-deck) !default;
$card-grid-margin: var(--pgn-spacing-card-margin-grid) !default;
$card-deck-margin-bottom:            map_get($spacers, 3) !default;
$card-grid-margin-bottom:            map_get($spacers, 3) !default;

$card-columns-count: var(--pgn-spacing-card-columns-count) !default;
$card-columns-gap: var(--pgn-spacing-card-columns-gap) !default;
$card-columns-margin: var(--pgn-spacing-card-columns-margin) !default;

$card-divider-bg: var(--pgn-color-card-divider-bg) !default;

$card-footer-actions-gap: var(--pgn-spacing-card-footer-action-gap) !default;

$card-logo-left-offset: var(--pgn-spacing-card-logo-left-offset-base) !default;
$card-logo-bottom-offset: var(--pgn-spacing-card-logo-bottom-offset-base) !default;
$card-logo-left-offset-horizontal: var(--pgn-spacing-card-logo-left-offset-horizontal) !default;
$card-logo-bottom-offset-horizontal: var(--pgn-spacing-card-logo-bottom-offset-horizontal) !default;

$card-logo-width: var(--pgn-size-card-logo-width) !default;
$card-logo-height: var(--pgn-size-card-logo-height) !default;

$card-image-border-radius: var(--pgn-size-card-border-radius-image) !default;
$card-logo-border-radius: var(--pgn-size-card-border-radius-logo) !default;

$card-footer-text-font-size: var(--pgn-typography-footer-text-font-size) !default;

$card-image-horizontal-max-width: var(--pgn-size-card-image-horizontal-width-max) !default;
$card-image-horizontal-min-width: var(--pgn-size-card-image-horizontal-width-min) !default;
$card-image-vertical-max-height: var(--pgn-size-card-image-vertical-max-height) !default;
$loading-skeleton-spacer: var(--pgn-spacing-card-loading-skeleton-spacer) !default;

$card-focus-border-offset:           5px !default;
$card-focus-border-width:            2px !default;
$card-focus-border-radius:           5px !default;
