// Cards

$card-spacer-y:                      .75rem !default;
$card-spacer-x:                      1.25rem !default;
$card-border-width:                  var(--pgn-border-width) !default;
$card-border-radius:                 var(--pgn-border-radius-base) !default;
$card-border-color:                  rgba(var(--pgn-color-black), .125) !default;
$card-border-focus-color:            rgba(var(--pgn-color-black), .5) !default;
$card-inner-border-radius:           subtract($card-border-radius, $card-border-width) !default;
$card-cap-bg:                        rgba(var(--pgn-color-black), .03) !default;
$card-cap-color:                     null !default;
$card-height:                        null !default;
$card-color:                         null !default;
$card-bg:                            var(--pgn-color-white) !default;

$card-img-overlay-padding:           1.25rem !default;

$card-group-margin:                  calc(var(--pgn-grid-gutter-width) / 2) !default;
$card-deck-margin:                   $card-group-margin !default;
$card-grid-margin:                   $card-group-margin !default;

$card-columns-count:                 3 !default;
$card-columns-gap:                   1.25rem !default;
$card-columns-margin:                $card-spacer-y !default;

$card-divider-bg:                    var(--pgn-color-light-400) !default;
$card-divider-margin-y:              $card-spacer-y !default;

$card-footer-actions-gap:            .5rem !default;

$card-logo-left-offset:              1.5rem !default;
$card-logo-bottom-offset:            1rem !default;
$card-logo-left-offset-horizontal:   .4375rem !default;
$card-logo-bottom-offset-horizontal: .4375rem !default;

$card-logo-width:                    7.25rem !default;
$card-logo-height:                   4.125rem !default;

$card-image-border-radius:           .3125rem !default;
$card-logo-border-radius:            .25rem !default;

$card-footer-text-font-size:         var(--pgn-font-size-small-x);

$card-image-horizontal-max-width:    240px;
$card-image-horizontal-min-width:    $card-image-horizontal-max-width;
$card-image-vertical-max-height:     140px;
$loading-skeleton-spacer:            .313rem;
