// Card

$card-spacer-y: var(--pgn-card-spacer-y) !default;
$card-spacer-x: var(--pgn-card-spacer-x) !default;
$card-border-width: var(--pgn-card-border-width) !default;
$card-border-radius: var(--pgn-card-border-radius-base) !default;
$card-border-color: var(--pgn-card-border-color-base) !default;
$card-border-focus-color: var(--pgn-card-border-color-focus) !default;
$card-border-focus-color-dark:       theme-color("primary", "focus") !default;
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg: var(--pgn-card-cap-bg) !default;
$card-cap-color: var(--pgn-card-cap-color) !default;
$card-height: var(--pgn-card-height-base) !default;
$card-color: var(--pgn-card-color) !default;
$card-bg: var(--pgn-card-bg) !default;
$card-bg-dark:                       $primary-500 !default;
$card-bg-muted:                      $light-200 !default;

$card-img-overlay-padding: var(--pgn-card-image-overlay-padding) !default;

$card-group-margin: var(--pgn-card-margin-group) !default;
$card-deck-margin: var(--pgn-card-margin-deck) !default;
$card-grid-margin: var(--pgn-card-margin-grid) !default;
$card-deck-margin-bottom:            map_get($spacers, 3) !default;
$card-grid-margin-bottom:            map_get($spacers, 3) !default;

$card-columns-count: var(--pgn-card-columns-count) !default;
$card-columns-gap: var(--pgn-card-columns-gap) !default;
$card-columns-margin: var(--pgn-card-columns-margin) !default;

$card-divider-bg: var(--pgn-card-divider-bg) !default;
$card-divider-margin-y: var(--pgn-card-divider-margin-y) !default;

$card-footer-actions-gap: var(--pgn-card-footer-action-gap) !default;

$card-logo-left-offset: var(--pgn-card-logo-left-offset-base) !default;
$card-logo-bottom-offset: var(--pgn-card-logo-bottom-offset-base) !default;
$card-logo-left-offset-horizontal: var(--pgn-card-logo-left-offset-horizontal) !default;
$card-logo-bottom-offset-horizontal: var(--pgn-card-logo-bottom-offset-horizontal) !default;

$card-logo-width: var(--pgn-card-logo-width) !default;
$card-logo-height: var(--pgn-card-logo-height) !default;

$card-image-border-radius: var(--pgn-card-border-radius-image) !default;
$card-logo-border-radius: var(--pgn-card-border-radius-logo) !default;

$card-footer-text-font-size: var(--pgn-card-footer-text-font-size) !default;

$card-image-horizontal-max-width: var(--pgn-card-image-horizontal-width-max) !default;
$card-image-horizontal-min-width: var(--pgn-card-image-horizontal-width-min) !default;
$card-image-vertical-max-height: var(--pgn-card-image-vertical-height-max) !default;
$loading-skeleton-spacer: var(--pgn-card-loading-skeleton-spacer) !default;

$card-focus-border-offset:           5px !default;
$card-focus-border-width:            2px !default;
$card-focus-border-radius:           calc($card-focus-border-offset + $card-border-radius) !default;
