@import "variables";
@import "~bootstrap/scss/card";

.pgn__card-grid {
  .row > div[class*="col-"] {
    margin-bottom: $card-grid-margin;
    display: flex;
    flex: 1 0 auto;
  }
}

.pgn__card-header {
  padding: 0 $card-spacer-x;
  display: flex;
  justify-content: space-between;

  .pgn__card-header-content {
    display: flex;
    flex-direction: column;
    margin-top: map_get($spacers, 4);
    overflow: auto;
  } 

  .pgn__card-header-title {
    color: $black;
    font-weight: $font-weight-bold;
  }
  .pgn__card-header-title-sm {
    @extend .pgn__card-header-title;
    font-size: $h4-font-size;
  }
  .pgn__card-header-title-md {
    @extend .pgn__card-header-title;
    font-size: $h3-font-size;
  }

  .pgn__card-header-subtitle {
    color: $gray-700;
    margin-top: map_get($spacers, 1);
  }
  .pgn__card-header-subtitle-sm {
    @extend .pgn__card-header-subtitle;
    font-size: $h5-font-size;
  }
  .pgn__card-header-subtitle-md {
    @extend .pgn__card-header-subtitle;
    font-size: $h4-font-size;
  }

  .pgn__card-header-actions {
    margin-top: $spacer;
    margin-left: $spacer;
    flex-shrink: 0;
  }
}
