@import "variables";
@import "~bootstrap/scss/card";

.pgn__card-grid {
  .row > div[class*="col-"] {
    margin-bottom: $card-grid-margin;
    display: flex;
    flex: 1 0 auto;
  }
}

.pgn__card-header {
  padding: 0 $card-spacer-x;
  display: flex;
  justify-content: space-between;

  .pgn__card-header-content {
    display: flex;
    flex-direction: column;
    margin-top: map_get($spacers, 4);
    overflow: auto;
  } 

  .pgn__card-header-title {
    color: $black;
    font-weight: $font-weight-bold;
  }
  .pgn__card-header-title-sm {
    @extend .pgn__card-header-title;
    font-size: $h4-font-size;
  }
  .pgn__card-header-title-md {
    @extend .pgn__card-header-title;
    font-size: $h3-font-size;
  }

  .pgn__card-header-subtitle {
    color: $gray-700;
    margin-top: map_get($spacers, 1);
  }
  .pgn__card-header-subtitle-sm {
    @extend .pgn__card-header-subtitle;
    font-size: $h5-font-size;
  }
  .pgn__card-header-subtitle-md {
    @extend .pgn__card-header-subtitle;
    font-size: $h4-font-size;
  }

  .pgn__card-header-actions {
    margin-top: $spacer;
    margin-left: $spacer;
    flex-shrink: 0;
  }
}

.pgn__card-divider {
  border-top: 1px solid $card-divider-bg;
  height: 0;
}

.pgn__card-section {
  padding: $card-spacer-x;
  background-color: $white;

  &.is-muted {
    background-color: $light-200;
  }

  .pgn__card-section-title {
    color: $black;
    font-weight: $font-weight-bold;
    font-size: $h5-font-size;
    margin-bottom: $card-spacer-y;
  }

  .pgn__card-section-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: $card-spacer-y;
  }
}

.pgn__card-footer {
  @extend .w-100;
  padding: $card-spacer-x;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;

  &.vertical {
    justify-content: flex-end;
    padding-top: 0;
    & > * + * {
      margin-left: $card-footer-actions-gap;
    }
  }

  &.vertical-stacked {
    flex-direction: column-reverse;

    & > * {
      width: 100%;
    }

    & > * + * {
      margin-top: $card-footer-actions-gap;
    }
  }

  &.horizontal {
    flex-wrap: wrap;

    & > :not(:last-child) {
      margin-right: $card-footer-actions-gap;
    }
  }

  &.horizontal-stacked {
    flex-direction: column-reverse;

    & > * + * {
      margin-top: $card-footer-actions-gap;
    }
  }
}

.pgn__card-footer-text {
  color: $gray-700;
  order: 1;

  &.vertical {
    margin-right: auto;
    order: -1;
  }

  &.vertical-stacked {
    margin-right: auto;
  }

  &.horizontal {
    margin-top: $card-spacer-x;
    width: 100%;
    text-align: center;
  }

  &.horizontal-stacked {
    margin-top: $card-spacer-x;
    width: 100%;
    text-align: center;
    order: -1;
  }
}

.pgn__card-wrapper-image-cap {
  position: relative;

  &.horizontal {
    max-width: 30%;

    .pgn__card-image-cap {
      height: 100%;
      border-top-left-radius: $card-border-radius;
      border-bottom-left-radius: $card-border-radius;
      border-top-right-radius: 0;
      max-width: -moz-available;          /* WebKit-based browsers will ignore this. */
      max-width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
      max-width: stretch;
      width: auto;
    }

    .pgn__card-logo-cap {
      left: $card-logo-left-offset-horizontal;
      bottom: $card-logo-bottom-offset-horizontal;
    }
  }
}

.pgn__card-image-cap {
  width: 100%;
  border-top-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
}

.pgn__card-logo-cap {
  position: absolute;
  left: $card-logo-left-offset;
  bottom: #{-$card-logo-bottom-offset};
  width: $card-logo-width;
  height: $card-logo-height;
  border-radius: $card-logo-border-radius;
  box-shadow: $level-1-box-shadow;
  z-index: 1;
}

.card {
  &:focus,
  &.focus {
    box-shadow: $level-1-box-shadow;
    outline: none;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: $card-border-width solid $card-border-focus-color;
      border-radius: $card-border-radius;
    }
  }

  &:hover {
    box-shadow: $level-1-box-shadow;
  }
}

// horizontal styles

.pgn__card.horizontal {
  flex-direction: row;
}
