$avatar-button-padding-left: var(--pgn-spacing-avatar-button-padding-left-base) !default;
$avatar-button-padding-left-sm: var(--pgn-spacing-avatar-button-padding-left-sm) !default;
$avatar-button-padding-left-lg: var(--pgn-spacing-avatar-button-padding-left-lg) !default;
