.pgn__avatar-button-avatar {
  &.pgn__avatar-button-hide-label {
    padding-left: 4px;
    padding-right: 4px;
    .pgn__avatar-button-avatar-wrap {
      margin-right: 0;
    }
  }
  .pgn__avatar {
    margin: -0.5em 0 -0.5em -0.5em;
    margin-inline-end: 0.5em;
  }
}
