// Icons sizes

$icon-inline: var(--pgn-icon-size-inline) !default;
$icon-xs: 1rem !default;
$icon-sm: var(--pgn-icon-size-sm) !default;
$icon-md: var(--pgn-icon-size-md) !default;
$icon-lg: var(--pgn-icon-size-lg) !default;
