.pgn__icon {
  display: block;
  height: 1.5rem; // 24px, Assumes base font size to be 16px
  position: relative;
  width: 1.5rem; // 24px, Assumes base font size to be 16px
  flex-shrink: 0;

  &.pgn__icon__inline {
    width: var(--pgn-size-icon-inline);
    height: var(--pgn-size-icon-inline);
  }

  &.pgn__icon__xs {
    width: var(--pgn-size-icon-xs);
    height: var(--pgn-size-icon-xs);
  }

  &.pgn__icon__sm {
    width: var(--pgn-size-icon-sm);
    height: var(--pgn-size-icon-sm);
  }

  &.pgn__icon__md {
    width: var(--pgn-size-icon-md);
    height: var(--pgn-size-icon-md);
  }

  &.pgn__icon__lg {
    width: var(--pgn-size-icon-lg);
    height: var(--pgn-size-icon-lg);
  }
}

.pgn__icon svg {
  display: block;
  height: 100%;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}
