.pgn-doc__code-block {
  margin: 1rem 0 2rem;

  // border: solid 2px $light-300;
  border-radius: $border-radius;
}

.pgn-doc__code-block-preview {
  padding-bottom: 1rem;
}

.pgn-doc__code-block-editor,
.prism-code {
  font-size: $font-size-base;
  font-family: monospace;

  // box-shadow: 1px 0 0 0 #282632, -1px 0 0 0 #282632;
  border-radius: $input-border-radius;
}

.pgn-doc__code-block-error {
  background: $warning-200;
  padding: 1rem;
  font-size: $font-size-sm;
  margin: 0;
}
