.pgn-doc__code-block {
  margin: var(--pgn-spacing-spacer-base) 0 2rem;
  background-color: var(--pgn-color-light-200);
  border: solid 2px var(--pgn-color-light-300);
  border-radius: var(--pgn-size-border-radius-base) var(--pgn-size-border-radius-base) 0 0;

  .pgn-doc__code-block-preview {
    padding: var(--pgn-spacing-spacer-base);
  }

  .pgn-doc__code-block-editor,
  .prism-code {
    font-size: var(--pgn-typography-font-size-base);
    font-family: monospace;
    border-radius: var(--pgn-size-form-input-radius-border-base);
  }

  .pgn-doc__code-block-error {
    background-color: var(--pgn-color-warning-200);
    padding: var(--pgn-spacing-spacer-base);
    font-size: var(--pgn-typography-font-size-sm);
    margin: 0;
  }

  .pgn-doc__collapsible-code-wrapper {
    position: relative;

    .pgn-doc__collapsible-live-editor-copy-btn {
      position: absolute;
      top: var(--pgn-spacing-spacer-2);
      right: var(--pgn-spacing-spacer-2);
    }
  }
}
