@use "sass:map";
.pgn-doc__code-block {
  margin: $spacer 0 2rem;
  background-color: $light-200;
  border: solid 2px $light-300;
  border-radius: $border-radius;

  .pgn-doc__code-block-preview {
    padding: $spacer;
  }

  .pgn-doc__code-block-editor,
  .prism-code {
    font-size: $font-size-base;
    font-family: monospace;
    border-radius: $input-border-radius;
  }

  .pgn-doc__code-block-error {
    background-color: $warning-200;
    padding: $spacer;
    font-size: $font-size-sm;
    margin: 0;
  }

  .pgn-doc__collapsible-code-wrapper {
    position: relative;

    .pgn-doc__collapsible-live-editor-copy-btn {
      position: absolute;
      top: map.get($spacers, 2);
      right: map.get($spacers, 2);
    }
  }
}
