.pgn-doc__status-table,
.pgn-doc__table {
  border: none;

  thead th {
    border: none;
    background: white;
    position: sticky;
    top: 0;
  }

  td {
    border-top: solid 1px rgb(0 0 0 / 17%);
  }

  thead td,
  thead th {
    border: none;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  pre {
    white-space: pre-wrap;
    margin: 0;
  }

  .status-indicator {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .85em;
    line-height: 1rem;
    white-space: nowrap;

    &.planned {
      &::before {
        background-color: gray;
        border-color: #78D965;
      }
    }

    &.updates-planned {
      &::before {
        background-color: gray;
        border-color: #78D965;
      }
    }

    &.green,
    &.done,
    &.stable {
      &::before {
        background-color: green;
      }
    }

    &.needs-work,
    &.reassessing {
      &::before {
        background-color: orange;
      }
    }

    &.to-do {
      &::before {
        background-color: white;
        border-color: teal;
      }
    }

    &.in-progress {
      font-weight: bold;
      color: teal;

      &::before {
        background-color: teal;
      }
    }

    &.deprecate-soon {
      &::before {
        background-color: red;
      }
    }

    &::before {
      content: " ";
      background-color: silver;
      display: inline-block;
      width: .75rem;
      margin-top: 0;
      height: .75rem;
      box-sizing: border-box;
      border: solid 2px transparent;
      margin-right: .375rem;
      border-radius: 1rem;
    }
  }

  h6 {
    display: flex;
    align-items: center;

    .status-indicator {
      margin-left: 1rem;
      font-weight: 400;
    }

    .status-no-left-margin {
      margin-left: 0;
    }
  }
}

// ELEVATION
.pgn-doc__box-shadow-cells {
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 66px;
  }
}

.pgn-doc__box-shadow-cell {
  width: 100px;
  height: 100px;
  margin-bottom: 60px;
}

.pgn-doc__box-shadow-level-titles {
  margin-right: 66px;
}

.pgn-doc__box-shadow-level-title {
  width: 100px;
  height: 100px;
  text-align: right;
  margin-bottom: 60px;
}

.pgn-doc__box-shadow-side-title {
  width: 100px;
  height: 100px;

  &:not(:last-child) {
    margin-right: 66px;
  }
}

.pgn-doc__box-shadow-generator {
  display: flex;
  flex-direction: column;

  .pgn-doc__box-shadow-generator--preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 50px 0;

    .pgn-doc__box-shadow-generator--preview-box {
      height: 150px;
      width: 150px;
      background-color: $white;
      border-radius: 10px;
    }
  }

  .pgn-doc__box-shadow-generator--toolkit {
    padding: 1rem;

    .pgn-doc__box-shadow-generator--toolkit-code {
      overflow-x: scroll;
      max-width: 80%;
      white-space: nowrap;
      display: flex;
      align-items: center;
      padding: 10px 10px 0;
    }
  }

  .pgn-doc__box-shadow-toolkit--controls-box {
    width: 100%;
    min-width: 250px;
    background-color: $dark;
    padding: 1rem;
    border-radius: 10px;
    color: $white;
    margin-bottom: 1rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    input[type="range"],
    input[type="color"] {
      width: 100%;
      display: block;
      margin-bottom: 1rem;
    }

    .form-control {
      padding: 0;
      border: none;
      transition: none;
      border-radius: 0;
      height: auto;

      &:focus {
        box-shadow: 0 0 0 1px rgba($white, .5);
        border-radius: 5px;
      }

      &[type="color"] {
        height: 25px;
      }
    }
  }
}

.toast-click {
  background-color: $dark;

  .toast-header {
    background-color: $dark;
  }
}
