.pgn-doc__status-table,
.pgn-doc__table {
  border: none;

  thead th {
    border: none;
    background: white;
    position: sticky;
    top: 0;
  }

  td {
    border-top: solid 1px rgba(0, 0, 0, .17);
  }

  thead td,
  thead th {
    border: none;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  pre {
    white-space: pre-wrap;
    margin: 0;
  }

  h6 {
    display: flex;
    align-items: center;
  }
}

.status-indicator-wrapper {
  h5 {
    display: flex;
    align-items: center;

    .status-indicator {
      margin-left: 1rem;
      font-weight: 400;
    }

    .status-no-left-margin {
      margin-left: 0;
    }
  }
}

.status-indicator {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  font-size: .85em;
  line-height: 1rem;
  white-space: nowrap;

  &.planned {
    &::before {
      background-color: gray;
      border-color: #78D965;
    }
  }

  &.updates-planned {
    &::before {
      background-color: gray;
      border-color: #78D965;
    }
  }

  &.green,
  &.done,
  &.stable {
    &::before {
      background-color: green;
    }
  }

  &.needs-work,
  &.reassessing {
    &::before {
      background-color: orange;
    }
  }

  &.to-do {
    &::before {
      background-color: white;
      border-color: teal;
    }
  }

  &.in-progress {
    font-weight: bold;
    color: teal;

    &::before {
      background-color: teal;
    }
  }

  &.deprecate-soon {
    &::before {
      background-color: red;
    }
  }

  &::before {
    content: " ";
    background-color: silver;
    display: inline-block;
    width: .75rem;
    margin-top: 0;
    height: .75rem;
    box-sizing: border-box;
    border: solid 2px transparent;
    margin-right: .375rem;
    border-radius: 1rem;
  }
}

.pgn-doc__box-shadow--title {
  font-size: 1.375rem;
  line-height: 1.25;
}

.pgn-doc__box-shadow-cells {
  display: grid;
  grid-template-columns: repeat(5, 6.25rem);
  grid-template-rows: repeat(5, 6.25rem);
  grid-gap: 3.75rem 4.125rem;

  .pgn-doc__box-shadow-cell {
    width: 6.25rem;
    height: 6.25rem;
    cursor: copy !important;

    &:focus,
    &:hover,
    &:focus-visible {
      border: var(--pgn-size-border-width) solid var(--pgn-color-dark-base);
    }
  }
}

[dir="rtl"] .pgn-doc__box-shadow-toolkit--controls-box {
  margin-right: 0 !important;
  margin-left: 1rem;
}

[dir="rtl"] .pgn-doc__box-shadow-wrapper {
  .pgn-doc__box-shadow-level-titles {
    .pgn-doc__box-shadow-level-title {
      text-align: right;
    }
  }

  .pgn-doc__box-shadow-side-titles {
    .pgn-doc__box-shadow-side-title {
      text-align: right;

      &:not(:last-child) {
        margin-left: 4.125rem;
        margin-right: 0;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.pgn-doc__box-shadow-wrapper {
  overflow-x: scroll;

  .pgn-doc__box-shadow-level-titles {
    .pgn-doc__box-shadow-level-title {
      font-size: var(--pgn-typography-font-size-base);
      line-height: var(--pgn-typography-line-height-base);
      width: 8.125rem;
      height: 6.25rem;
      text-align: left;
      margin-bottom: 3.75rem;
      white-space: nowrap;
    }
  }

  .pgn-doc__box-shadow-side-titles {
    display: flex;
    min-width: 57rem;

    .pgn-doc__box-shadow-side-title {
      font-size: var(--pgn-typography-font-size-base);
      line-height: var(--pgn-typography-line-height-base);
      width: 6.25rem;
      height: 3rem;

      &:not(:last-child) {
        margin-right: 4.125rem;
      }

      &:first-child {
        width: 8.125rem;
        margin-right: 0;
      }
    }
  }
}

.pgn-doc__box-shadow-generator {
  display: flex;
  flex-direction: column;

  .pgn-doc__box-shadow-generator__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.125rem 0;
    padding: 3.125rem 0;

    .pgn-doc__box-shadow-generator__preview-box {
      height: 9.375rem;
      width: 9.375rem;
      background-color: var(--pgn-color-white);
      border-radius: var(--pgn-size-border-radius-lg);
    }
  }

  .pgn-doc__box-shadow-generator--toolkit {
    padding: var(--pgn-spacing-spacer-base);

    .pgn-doc__box-shadow-generator--toolkit-code {
      padding: 1rem;
      overflow-x: scroll;
      max-width: 80%;
      white-space: nowrap;
      display: flex;
      align-items: center;
      background-color: var(--pgn-color-gray-100);

      @media (--max-pgn-size-breakpoint-sm) {
        max-width: 100%;
      }
    }
  }

  .pgn-doc__box-shadow-toolkit--controls-box {
    width: 100%;
    min-width: 15.625rem;
    background-color: var(--pgn-color-dark-base);
    padding: var(--pgn-spacing-spacer-base);
    border-radius: var(--pgn-size-border-radius-lg);
    color: var(--pgn-color-white);
    margin-bottom: var(--pgn-spacing-spacer-base);

    &:not(:last-child) {
      margin-right: var(--pgn-spacing-spacer-base);
    }

    input[type="range"],
    input[type="color"] {
      width: 100%;
      display: block;
      margin-bottom: var(--pgn-spacing-spacer-base);
    }

    .form-control {
      padding: 0;
      border: none;
      transition: none;
      height: auto;

      &:focus {
        box-shadow: var(--pgn-elevation-box-shadow-level-4);
        border-radius: var(--pgn-size-border-radius-base);
      }

      &[type="color"] {
        height: calc(var(--pgn-spacing-spacer-base) * 1.5);
      }
    }
  }
}

.pgn-doc__box-shadow--table-wrapper {
  overflow-x: scroll;
}

.pgn-doc__box-shadow--toast {
  background-color: var(--pgn-color-dark-base);

  .toast-header {
    background-color: var(--pgn-color-dark-base);
    box-shadow: none;
  }
}

.pgn-doc__level-number__box-shadow-variables {
  padding: 0;

  li {
    list-style: none;
  }
}

.pgn-doc__box-shadow-toolkit--controls-box--disable-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pgn-doc__box-shadow-toolkit--controls-box--disable-btn svg {
  fill: var(--pgn-color-white);
}

.pgn-doc__box-shadow-toolkit--controls-box--remove-btn svg {
  color: var(--pgn-color-white);
}
