.pgn-doc__icons-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  min-height: 200px;
  width: 100%;

  > div {
    display: inline;
  }

  .pgn__icon {
    height: 3rem;
    width: 3rem;
    margin: 0 auto;
  }
}

.pgn-doc-icons-table__grid {
  margin: 0 auto;
}

.pgn-doc__icons-table__cell {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1px;
  border-radius: 10px;
  width: 150px;
  height: 100px;

  .pgn-doc__icons-table__cell-text {
    display: block;
    font-size: var(--pgn-typography-font-size-xs);
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }

  &:hover {
    outline: 1px inset var(--pgn-color-primary-500);
    cursor: pointer;
  }
}

.pgn-doc__icons-table__preview {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 0;
    padding: 0 .25rem;
  }

  code {
    background: var(--pgn-color-danger-100);
    padding: 0 .25rem;
  }

  .pgn__icon {
    width: 5rem;
    height: 5rem;
  }
}

.pgn-doc__icons-table__preview-title,
.pgn-doc__icons-table__preview-footer {
  margin: 10px auto;
  display: flex;

  .pgn__icon {
    align-self: center;
    margin-left: 5px;
    opacity: .3;
    width: 1.25rem;
    height: 1.25rem;
  }

  &:hover {
    cursor: pointer;

    h3 {
      color: var(--pgn-color-white);
      background: var(--pgn-color-info-300);
    }

    code {
      color: var(--pgn-color-white);
      background: var(--pgn-color-info-300);
    }

    .pgn__icon {
      opacity: 1;
    }
  }
}

.pgn-doc__icons-table__not-found {
  display: table;
  margin: 1rem auto;
}
