.pgn__docs-page-feedback-link.nav-link {
  color: var(--pgn-color-gray-400);
  font-size: var(--pgn-typography-font-size-sm);
  line-height: .938rem;
  padding-left: 0;
  padding-top: 0;
  margin-bottom: var(--pgn-spacing-spacer-5);
  display: inline-block;

  &:hover {
    text-decoration: var(--pgn-typography-link-decoration-hover);
  }
}
