.pgn__docs-page-feedback-link.nav-link {
  color: $gray-400;
  font-size: $font-size-sm;
  line-height: $micro-line-height;
  padding-left: 0;
  padding-top: 0;
  margin-bottom: map-get($spacers, 5);

  &:hover {
    text-decoration: $link-hover-decoration;
  }
}
