.pgn-doc__heading {
  .pgn-doc__anchor {
    margin-left: 5px;
    display: none;
  }

  &:hover .pgn-doc__anchor {
    display: inline;
  }

  a:hover {
    text-decoration: none;
  }
}

[dir="rtl"] .pgn-doc-header__button-menu {
  text-align: right;
}
