.menu-component-list {
  columns: 3;

  @media (max-width: $max-width-xs) {
    columns: 2;
  }
}

.menu-component-list-category {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.menu-all-components {
  .menu-component-list {
    columns: 4;

    @media (max-width: $max-width-sm) {
      columns: 3;
    }

    @media (max-width: $max-width-xs) {
      columns: 2;
    }
  }
}
