.pgn__modal-popup__tooltip .pgn-doc__menu {
  padding: $spacer 1.5rem 2rem;
}

.pgn-doc__menu {
  padding: $spacer .625rem 2rem;
  border-right: $border-width solid $light-400;

  .pgn-doc__menu-title {
    font-size: $h4-font-size;
    line-height: $line-height-base;
    font-weight: $font-weight-normal;
    color: $gray-700;
  }

  .pgn-doc__menu-btn--group {
    padding-bottom: $spacer;
    border-bottom: $border-width solid $light-400;
    margin-bottom: $spacer;

    .btn-group {
      width: 100%;
      white-space: nowrap;

      .btn {
        width: 50%;

        @media (max-width: map-get($grid-breakpoints, "xxl")) {
          font-size: $font-size-xs;
          line-height: $headings-line-height;
        }
      }
    }
  }

  .pgn-doc__menu-component--list-category {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .pgn-doc__menu-items {
    margin-bottom: $spacer;

    .pgn_collapsible {
      font-size: $font-size-xs;
      line-height: $headings-line-height;
      font-weight: $font-weight-normal;
      color: $gray-700;
      text-decoration: none;
      margin-bottom: .25rem;

      .collapsible-body {
        padding: .25rem 1.5rem 0;
      }

      .collapsible-body ul {
        margin-bottom: 0;
      }

      .collapsible-body ul li {
        margin: 0;
      }

      .collapsible-body ul li a {
        font-size: $font-size-sm;
        line-height: $line-height-lg;
        font-weight: $font-weight-normal;
        color: $gray-700;

        &.active {
          font-weight: $font-weight-bold;
          text-decoration: $inline-link-decoration;
        }

        &:hover {
          text-decoration: $inline-link-decoration;
        }
      }
    }

    .collapsible-basic .collapsible-icon {
      margin-left: .188rem;

      .pgn__icon {
        width: 1.125rem;
        height: 1.125rem;
      }
    }

    .collapsible-basic .collapsible-trigger {
      font-size: $font-size-sm;
      text-decoration: none;
      justify-content: start;
      flex-direction: row-reverse;
      padding: .313rem .125rem;

      .collapsible-icon {
        margin-left: 0;
      }
    }

    .pgn_collapsible.collapsible-basic.is-open .collapsible-trigger {
      font-weight: $font-weight-bold;
      text-decoration: none;
      background-color: $light-300;
      transition: $transition-base;
    }
  }

  .pgn-doc__menu-playground {
    .pgn-doc__menu-playground--title {
      font-size: $font-size-base;
      line-height: $line-height-base;
      font-weight: $font-weight-bold;
      color: $gray-700;
      margin-bottom: .5rem;

      .badge {
        line-height: $line-height-lg;
        padding: .125rem .5rem;
        border-radius: .375rem;
      }
    }

    .pgn__hyperlink {
      color: $info-500;
      text-decoration: $inline-link-decoration;
      margin-left: .125rem;
    }
  }
}

[dir="rtl"] .pgn-doc__menu {
  border-left: $border-width solid $light-400;
  border-right: none;

  .list-unstyled {
    padding: 0;
  }
}

.pgn-doc__menu-playground--popover {
  z-index: $zindex-modal;
}

.pgn-doc__menu-all-components .pgn-doc__menu-component-list {
  columns: 4;

  @media (max-width: $max-width-sm) {
    columns: 2;
  }

  @media (max-width: $max-width-xs) {
    columns: 1;
  }
}
