.pgn__modal-popup__tooltip .pgn-doc__menu {
  padding: var(--pgn-spacing-spacer-base) 1.5rem 2rem;
}

.pgn-doc__menu {
  padding: var(--pgn-spacing-spacer-base) .625rem 2rem;
  border-right: var(--pgn-size-border-width) solid var(--pgn-color-light-400);

  &-title {
    font-size: var(--pgn-typography-font-size-h4);
    line-height: var(--pgn-typography-line-height-base);
    font-weight: var(--pgn-typography-font-weight-normal);
    color: var(--pgn-color-gray-700);
  }

  &-btn--group {
    padding-bottom: var(--pgn-spacing-spacer-base);
    border-bottom: var(--pgn-size-border-width) solid var(--pgn-color-light-400);
    margin-bottom: var(--pgn-spacing-spacer-base);

    .btn-group {
      width: 100%;
      white-space: nowrap;

      .btn {
        width: 50%;
        font-size: var(--pgn-typography-font-size-xs);
        line-height: var(--pgn-typography-headings-line-height);
      }
    }
  }

  &-component--list-category {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  &-items {
    margin-bottom: 3.75rem;

    .pgn_collapsible {
      font-size: var(--pgn-typography-font-size-xs);
      line-height: var(--pgn-typography-headings-line-height);
      font-weight: var(--pgn-typography-font-weight-normal);
      color: var(--pgn-color-gray-700);
      text-decoration: none;
      margin-bottom: .25rem;

      .collapsible-body {
        padding: .25rem 1.5rem 0;
      }

      .collapsible-body ul {
        margin-bottom: 0;
      }

      .collapsible-body ul li {
        margin: 0;
      }

      .collapsible-body ul li a {
        font-size: var(--pgn-typography-font-size-sm);
        line-height: var(--pgn-typography-line-height-lg);
        font-weight: var(--pgn-typography-font-weight-normal);
        color: var(--pgn-color-gray-700);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .collapsible-basic .collapsible-icon {
      margin-left: .188rem;

      .pgn__icon {
        width: 1.125rem;
        height: 1.125rem;
      }
    }

    .collapsible-basic .collapsible-trigger {
      font-size: var(--pgn-typography-font-size-sm);
      text-decoration: none;
      justify-content: start;
      flex-direction: row-reverse;
      padding: .313rem .125rem;

      .collapsible-icon {
        margin-left: 0;
      }
    }

    .pgn_collapsible.collapsible-basic.is-open .collapsible-trigger {
      font-weight: var(--pgn-typography-font-weight-bold);
      text-decoration: none;
      background-color: var(--pgn-color-light-300);
      transition: var(--pgn-transition-base);
    }
  }

  &-playground {
    &--title {
      font-size: var(--pgn-typography-font-size-base);
      line-height: var(--pgn-typography-line-height-base);
      font-weight: var(--pgn-typography-font-weight-bold);
      color: var(--pgn-color-gray-700);
      margin-bottom: .5rem;

      .badge {
        line-height: var(--pgn-typography-line-height-lg);
        padding: .125rem .5rem;
        border-radius: .375rem;
      }
    }

    .pgn__hyperlink {
      color: var(--pgn-color-info-500);
      text-decoration: underline;
      margin-left: .125rem;
    }
  }
}

[dir="rtl"] .pgn-doc__menu {
  border-left: var(--pgn-size-border-width) solid var(--pgn-color-light-400);
  border-right: none;

  .list-unstyled {
    padding: 0;
  }
}

.pgn-doc__menu-playground--popover {
  z-index: var(--pgn-elevation-modal-zindex);
}

.pgn-doc__menu-all-components .pgn-doc__menu-component-list {
  columns: 4;

  @media (--max-pgn-size-breakpoint-sm) {
    columns: 2;
  }

  @media (--max-pgn-size-breakpoint-xs) {
    columns: 1;
  }
}
