.pgn-doc__settings {
  min-width: 13rem;

  &-title {
    border-bottom: $border-width solid $light-400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .75rem;
    padding-bottom: .75rem;
  }

  &-label {
    color: $black;
  }

  &-direction {
    border-bottom: $border-width solid $light-400;
    padding-bottom: .75rem;
    margin-bottom: 0;
  }

  &-nav--items {
    position: absolute;
    bottom: 1.5rem;
  }

  &-nav--items .nav-item .nav-link {
    color: $info-500;
  }
}
