.pgn-doc__settings {
  min-width: 13rem;

  &-title {
    border-bottom: var(--pgn-size-border-width) solid var(--pgn-color-light-400);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .75rem;
    padding-bottom: .75rem;
  }

  &-label {
    color: var(--pgn-color-black);
  }

  &-direction {
    border-bottom: var(--pgn-size-border-width) solid var(--pgn-color-light-400);
    padding-bottom: .75rem;
    margin-bottom: 0;
  }

  &-nav--items {
    position: absolute;
    bottom: 1.5rem;
  }

  &-nav--items .nav-item .nav-link {
    color: var(--pgn-color-info-500);
  }
}
