.pgn__settings-title {
  border-bottom: $border-width solid $light-400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .75rem;
  padding-bottom: .75rem;
}

.pgn__settings-label {
  color: $black;
}

.pgn__settings-direction {
  border-bottom: $border-width solid $light-400;
  padding-bottom: .75rem;
  margin-bottom: 0;
}

.pgn__settings-nav--items .nav-item .nav-link {
  color: $info-500;
}
