.pgn-doc__toc {
  flex-direction: column;
  box-shadow: none !important;
  padding: 1.5rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;

  .pgn-doc__toc-header {
    margin-top: 1.5rem;
    margin-bottom: .75rem;
  }

  .pgn-doc__toc-list {
    padding-left: .75rem;
    font-size: $font-size-sm;
  }

  & > .pgn-doc__toc-list {
    padding-left: 0;
  }

  li {
    margin: .5rem 0;
    line-height: 1.5;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $gray-500;

    &:hover,
    &:focus,
    &.active {
      color: $primary-500;
    }
  }
}
