@mixin table-border-top() {
  border-top: 1px solid $gray-300;
}

@mixin table-border-right() {
  border-right: 1px solid $gray-300;
}

.table {
  border: 1px solid $gray-300;

  th {
    @include table-border-top;
    @include table-border-right;
  }

  td {
    @include table-border-top;
    @include table-border-right;
  }

  thead th {
    @include table-border-right;

    border-bottom: 1px solid $gray-300;
  }
}
