$stepper-header-bg:                                       transparent !default;
$stepper-header-min-height:                               5.13rem !default;
$stepper-header-padding-y:                                .75rem !default;
$stepper-header-padding-x:                                var(--pgn-spacing-spacer-base) !default;
$stepper-header-line-bg:                                  var(--pgn-color-light-base) !default;
$stepper-header-line-height:                              1px !default;
$stepper-header-step-color:                               var(--pgn-color-primary-base) !default;
$stepper-header-step-bg:                                  $stepper-header-bg !default;
$stepper-header-step-border:                              none !default;
$stepper-header-step-min-width:                           0 !default;
$stepper-header-step-padding:                             .25rem !default;
$stepper-header-step-list-padding-y:                      .25rem !default;
$stepper-header-step-list-padding-x:                      0 !default;
$stepper-header-step-list-margin:                         0 !default;
$stepper-header-active-step-bg:                           var(--pgn-color-gray-500) !default;
$stepper-header-step-error-bubble-color:                  var(--pgn-color-danger-base) !default;
$stepper-header-step-error-bubble-shadow-width:           3px !default;
$stepper-header-step-error-description-color:             $stepper-header-step-error-bubble-color !default;
