.pgn__stepper-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--pgn-color-stepper-header-bg-base);
  padding: var(--pgn-spacing-stepper-header-padding-y) var(--pgn-spacing-stepper-header-padding-x);
  min-height: var(--pgn-size-stepper-header-height-min);

  .pgn__stepper-header-step-list {
    list-style: none;
    // stylelint-disable-next-line max-line-length
    padding: var(--pgn-spacing-stepper-header-step-list-padding-y) var(--pgn-spacing-stepper-header-step-list-padding-x);
    display: flex;
    align-items: center;
    margin: var(--pgn-spacing-stepper-header-step-list-margin);
    flex-grow: 1;
    justify-content: center;

    .pgn__stepper-header-line {
      display: block;
      height: var(--pgn-typography-spacer-line-height);
      background: var(--pgn-color-stepper-header-bg-line);
      flex-basis: 80px;
      margin: 0 .5rem;
    }

    button.pgn__stepper-header-step {
      border: var(--pgn-color-stepper-header-step-border);
      background-color: var(--pgn-color-stepper-header-bg-base);
    }
  }
}

  .pgn__stepper-header-step {
    display: flex;
    align-items: center;
    color: var(--pgn-color-stepper-header-step-base);
    flex-shrink: 1;
    min-width: var(--pgn-size-stepper-step-width-min);
    padding: var(--pgn-spacing-stepper-header-step-padding);

  .pgn__bubble {
    margin-inline-end: .5rem;
    flex-shrink: 0;
  }

  .pgn__stepper-header-step-title-description {
    min-width: 0;
  }

  .pgn__stepper-header-step-title {
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
  }

  .pgn__stepper-header-step-description {
    font-size: var(--pgn-typography-font-size-small-x);
  }

    &.pgn__stepper-header-step-active ~ .pgn__stepper-header-step {
      color: var(--pgn-color-stepper-header-step-bg-active);
    }

    &.pgn__stepper-header-step-has-error {
      .pgn__bubble {
        background: transparent;
        box-shadow:
          inset 0 0 0
          var(--pgn-size-stepper-step-bubble-error-shadow-width)
          var(--pgn-color-stepper-header-step-bubble-error);

        * {
          color: var(--pgn-color-stepper-header-step-bubble-error);
        }
      }

      .pgn__stepper-header-step-description {
        color: var(--pgn-color-stepper-header-step-description-error);
      }
    }
  }
}
