$icon-button-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
) !default;
$icon-button-hover-size: 2rem !default;
// keep the icon focus circle inside it's parent element
$icon-button-margin: .75rem !default;
$icon-button-refwrapper-size: $icon-button-hover-size + $icon-button-margin !default;

$icon-color-invert: white !default;

.iconbutton-hover {
    width: $icon-button-hover-size;
    height: $icon-button-hover-size;
    border-radius: $icon-button-hover-size;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0;
    cursor: pointer;

    &:active {
        transform: scale(0.9);
    }

    @each $name, $color in $icon-button-colors {
        &__#{$name} {
            @include button-focus($color);
            color: $color;
        }
        &__#{$name}:hover {
            background-color: $color;
            color: $icon-color-invert;
        }
        &__#{$name}--invert {
            @include button-focus($icon-color-invert);
            color: $icon-color-invert;
            background-color: $color;

            &:hover {
                background-color: $icon-color-invert;
                color: $color;
            }
        }
    }
}

.iconbutton-refwrapper {
    height: $icon-button-refwrapper-size;
    width: $icon-button-refwrapper-size;
    padding: $icon-button-margin * 0.5;
    button {
        border: none;
    }
}
