$icon-button-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "brand": $brand,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "black": $black,
) !default;
$btn-icon-diameter-md: var(--pgn-icon-button-diameter-md) !default;
$btn-icon-diameter-sm: var(--pgn-icon-button-diameter-sm) !default;
$btn-icon-diameter-inline: var(--pgn-icon-button-diameter-inline) !default;

$btn-icon-bg: var(--pgn-icon-button-bg) !default;
$btn-icon-accent-color: var(--pgn-icon-button-accent-color) !default;
