// Navbar

$navbar-padding-y:                  calc(var(--pgn-spacer-base) / 2) !default;
$navbar-padding-x:                  var(--pgn-spacer-base) !default;

$navbar-nav-link-padding-x:         .5rem !default;

$navbar-brand-font-size:            var(--pgn-font-size-lg) !default;

// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
// The default for var(--pgn-nav-link-padding-y) is .5rem. Copied here for modularization
$nav-link-height:                   calc(var(--pgn-font-size-base) * var(--pgn-line-height-base) + .5rem * 2) !default;
$navbar-brand-height:               calc(var(--pgn-navbar-brand-font-size) * var(--pgn-line-height-base)) !default;
$navbar-brand-padding-y:            calc((var(--pgn-navbar-nav-link-height) - var(--pgn-navbar-brand-height)) / 2) !default;

$navbar-toggler-padding-y:          .25rem !default;
$navbar-toggler-padding-x:          .75rem !default;
$navbar-toggler-font-size:          var(--pgn-font-size-lg) !default;
$navbar-toggler-border-radius:      var(--pgn-btn-border-radius-base) !default;

$navbar-nav-scroll-max-height:      75vh !default;

// TODO use css variable
$navbar-dark-color:                 rgba(#FFFFFF, .5) !default;
$navbar-dark-hover-color:           rgba(#FFFFFF, .75) !default;
$navbar-dark-active-color:          var(--pgn-color-white) !default;
$navbar-dark-disabled-color:        rgba(#FFFFFF, .25) !default;
$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") !default;
$navbar-dark-toggler-border-color:  rgba(#FFFFFF, .1) !default;

$navbar-light-color:                rgba(#000000, .5) !default;
$navbar-light-hover-color:          rgba(#000000, .7) !default;
$navbar-light-active-color:         rgba(#000000, .9) !default;
$navbar-light-disabled-color:       rgba(#000000, .3) !default;
$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") !default;
$navbar-light-toggler-border-color: rgba(var(--pgn-color-black), .1) !default;

$navbar-light-brand-color:                var(--pgn-navbar-light-color-active) !default;
$navbar-light-brand-hover-color:          var(--pgn-navbar-light-color-active) !default;
$navbar-dark-brand-color:                 var(--pgn-navbar-dark-color-active) !default;
$navbar-dark-brand-hover-color:           var(--pgn-navbar-dark-color-active) !default;
