.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--pgn-spacing-navbar-padding-y) var(--pgn-spacing-navbar-padding-x-base);

  %container-flex-properties {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .container,
  .container-fluid {
    @extend %container-flex-properties;
  }

  @each $breakpoint, $container-max-width in $container-max-widths {
    > .container#{breakpoint-infix($breakpoint, $container-max-widths)} {
      @extend %container-flex-properties;
    }
  }
}

.navbar-brand {
  display: inline-block;
  padding-top: var(--pgn-spacing-navbar-brand-padding-y);
  padding-bottom: var(--pgn-spacing-navbar-brand-padding-y);
  margin-right: var(--pgn-spacing-navbar-padding-x-base);
  line-height: inherit;
  white-space: nowrap;

  @include font-size(var(--pgn-typography-navbar-brand-font-size));

  @include hover-focus() {
    text-decoration: none;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .dropdown-menu {
    position: static;
    float: none;
  }
}

.navbar-text {
  display: inline-block;
  padding-top: var(--pgn-spacing-nav-link-padding-y);
  padding-bottom: var(--pgn-spacing-nav-link-padding-y);
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: var(--pgn-spacing-navbar-toggler-padding-y) var(--pgn-spacing-navbar-toggler-padding-x);
  line-height: 1;
  background-color: transparent;
  border: var(--pgn-size-border-width) solid transparent;

  @include border-radius(var(--pgn-size-navbar-toggler-border-radius));
  @include font-size(var(--pgn-typography-navbar-toggler-font-size));

  @include hover-focus() {
    text-decoration: none;
  }
}

.navbar-toggler-icon {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background: 50% / 100% 100% no-repeat;
}

.navbar-nav-scroll {
  max-height: var(--pgn-size-navbar-nav-scroll-max-height);
  overflow-y: auto;
}

.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        %container-navbar-expand-#{$breakpoint} {
          padding-right: 0;
          padding-left: 0;
        }

        > .container,
        > .container-fluid {
          @extend %container-navbar-expand-#{$breakpoint};
        }

        @each $size, $container-max-width in $container-max-widths {
          > .container#{breakpoint-infix($size, $container-max-widths)} {
            @extend %container-navbar-expand-#{$breakpoint};
          }
        }
      }

      @include media-breakpoint-up($next) {
        flex-flow: row nowrap;
        justify-content: flex-start;

        .navbar-nav {
          flex-direction: row;

          .dropdown-menu {
            position: absolute;
          }

          .nav-link {
            padding-right: var(--pgn-spacing-navbar-padding-x-nav-link);
            padding-left: var(--pgn-spacing-navbar-padding-x-nav-link);
          }
        }

        %container-nesting-#{$breakpoint} {
          flex-wrap: nowrap;
        }

        > .container,
        > .container-fluid {
          @extend %container-nesting-#{$breakpoint};
        }

        @each $size, $container-max-width in $container-max-widths {
          > .container#{breakpoint-infix($size, $container-max-widths)} {
            @extend %container-nesting-#{$breakpoint};
          }
        }

        .navbar-nav-scroll {
          overflow: visible;
        }

        .navbar-collapse {
          display: flex !important;
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;
        }
      }
    }
  }
}

.navbar-light {
  .navbar-brand {
    color: var(--pgn-color-navbar-light-brand-text);

    @include hover-focus() {
      color: var(--pgn-color-navbar-light-brand-hover);
    }
  }

  .navbar-nav {
    .nav-link {
      color: var(--pgn-color-navbar-light-text);

      @include hover-focus() {
        color: var(--pgn-color-navbar-light-hover);
      }

      &.disabled {
        color: var(--pgn-color-navbar-light-disabled);
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: var(--pgn-color-navbar-light-active);
    }
  }

  .navbar-toggler {
    color: var(--pgn-color-navbar-light-text);
    border-color: var(--pgn-color-navbar-light-toggler-border);
  }

  .navbar-toggler-icon {
    background-image: var(--pgn-content-navbar-toggler-light-icon-bg);
  }

  .navbar-text {
    color: var(--pgn-color-navbar-light-text);

    a {
      color: var(--pgn-color-navbar-light-active);

      @include hover-focus() {
        color: var(--pgn-color-navbar-light-active);
      }
    }
  }
}

.navbar-dark {
  .navbar-brand {
    color: var(--pgn-color-navbar-dark-brand-text);

    @include hover-focus() {
      color: var(--pgn-color-navbar-dark-brand-hover);
    }
  }

  .navbar-nav {
    .nav-link {
      color: var(--pgn-color-navbar-dark-text);

      @include hover-focus() {
        color: var(--pgn-color-navbar-dark-hover);
      }

      &.disabled {
        color: var(--pgn-color-navbar-dark-disabled);
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: var(--pgn-color-navbar-dark-active);
    }
  }

  .navbar-toggler {
    color: var(--pgn-color-navbar-dark-text);
    border-color: var(--pgn-color-navbar-dark-toggler-border);
  }

  .navbar-toggler-icon {
    background-image: var(--pgn-content-navbar-toggler-dark-icon-bg);
  }

  .navbar-text {
    color: var(--pgn-color-navbar-dark-text);

    a {
      color: var(--pgn-color-navbar-dark-active);

      @include hover-focus() {
        color: var(--pgn-color-navbar-dark-active);
      }
    }
  }
}
