.pgn__form-checkbox {
  font-size: $font-size-base;
  line-height: $line-height-base;
  display: block;
  flex-shrink: 0;
  input {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
  }

  .pgn__form-checkbox-label {
    display: block;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  input:disabled ~ .pgn__form-checkbox-display {
    opacity: .3;
  }
}

.pgn__form-checkbox-display {
  .pgn__form-text {
    margin-top: -4px;
    padding-left: calc(#{$custom-control-indicator-size} + #{$custom-control-gutter});
  }
}


.pgn__form-checkbox-control {
  height: $custom-control-indicator-size;
  width: $custom-control-indicator-size;
  flex-shrink: 0;
  margin-right: $custom-control-gutter;
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.01);
  transition: background-color, box-shadow 150ms ease;

  input:not(:disabled) + .pgn__form-checkbox-display:hover & {
    cursor: pointer;
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 0 8px rgba(0,0,0,.1);
  }
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    transform-origin: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $custom-checkbox-indicator-border-radius;
  }
  &:before {
    height: 20px;
    width: 20px;
    border: $custom-control-indicator-border-color solid $custom-control-indicator-border-width;
    transition: box-shadow 150ms ease;

    input:checked + .pgn__form-checkbox-display & {
      border-color: $custom-control-indicator-active-border-color;
    }
    .pgn__form-checkbox-invalid input + .pgn__form-checkbox-display & {
      border-color: $form-feedback-invalid-color;
    }
    .pgn__form-checkbox-valid input + .pgn__form-checkbox-display & {
      border-color: $form-feedback-valid-color;
    }
    input:focus + .pgn__form-checkbox-display & {
      box-shadow: 0 0 0 1px $component-active-bg;
      .pgn__form-checkbox-invalid & {
        box-shadow: 0 0 0 1px $form-feedback-invalid-color;
      }
      .pgn__form-checkbox-valid & {
        box-shadow: 0 0 0 1px $form-feedback-valid-color;
      }
    }
  }
  &:after {
    height: 24px;
    width: 24px;
    background-image: escape-svg($custom-checkbox-indicator-icon-checked);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: opacity 150ms ease, transform 150ms ease;
    input:checked + .pgn__form-checkbox-display & {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    input:indeterminate + .pgn__form-checkbox-display & {
      background-image: escape-svg($custom-checkbox-indicator-icon-indeterminate);
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }
}

.pgn__form-checkbox-set {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  & > * + * {
    margin: .25em 0 0;
  }
}

.pgn__form-checkbox-set-inline {
  flex-direction: row;
  flex-wrap: 1;
  align-items: flex-start;
  & > * + * {
    margin: 0 0 0 .5em;
  }
}
