.pgn__form-checkbox-input {
  appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  background-color: white;
  border: solid 2px black;
  border-radius: 0;
  margin-right: .5rem;
  background-position: center;
  &:checked {
    background-image: escape-svg($custom-checkbox-indicator-icon-checked);
  }
  &:indeterminate {
    background-image: escape-svg($custom-checkbox-indicator-icon-indeterminate);
  }
  &:not(:disabled) {
    cursor: pointer;
  }
  &:not(:disabled):hover {
    box-shadow: 0 0 0 4px rgba(0,0,0,.1);
  }
  &:disabled {
    opacity: .3;
  }
}

.pgn__form-switch-input.pgn__form-checkbox-input {
  width: $custom-switch-width;
  border-radius: $custom-switch-indicator-border-radius;
  background-image: escape-svg($custom-switch-indicator-icon-off);
  background-position: left center;
  background-repeat: no-repeat;
  transition: background 150ms ease;
  &:checked {
    background-position: right center;
    background-color: $custom-control-indicator-checked-bg;
    background-image: escape-svg($custom-switch-indicator-icon-on);
  }
  &:indeterminate {
    background-position: center;
    background-image: escape-svg($custom-switch-indicator-icon-off);
  }
}

.pgn__form-checkbox {
  display: inline-flex;

  .pgn__form-checkbox-label {
    display: block;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    line-height: 1.25rem;
  }

  input:disabled {
    opacity: .3;
    & ~ .pgn__form-checkbox-label-description {
      opacity: .3;
    }
  }

  &.pgn__form-checkbox-invalid input {
    border-color: $form-feedback-invalid-color;
  }
  &.pgn__form-checkbox-valid input {
    border-color: $form-feedback-valid-color;
  }
}

.pgn__form-checkbox-set {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  & > * + * {
    margin: .75rem 0 0;
  }
}

.pgn__form-checkbox-set-inline {
  flex-direction: row;
  flex-wrap: 1;
  align-items: flex-start;
  & > * + * {
    margin: 0 0 0 .5em;
  }
}
