.pgn__form-control-set {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  & > * + * {
    margin: .75rem 0 0;
  }
}

.pgn__form-control-set-inline {
  flex-direction: row;
  flex-wrap: 1;
  align-items: flex-start;
  & > * + * {
    margin: 0 0 0 .5em;
  }
}
