.pgn__form-radio {
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin-bottom: $form-group-margin-bottom;
  display: block;
  margin: 0 .5em .5em 0;
  flex-shrink: 0;
  cursor: pointer;

  input {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
  }
}

.pgn__form-radio-lockup {
  display: flex;
  align-items: center;
}

.pgn__form-radio-control {
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  margin-right: 4px;
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.01);
  transition: background-color 150ms ease;

  &:not([disabled]):hover {
    background-color: rgba(0,0,0,.1);
  }

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    transform-origin: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  &:before {
    height: 20px;
    width: 20px;
    border: solid 2px $gray-700;
    transition: box-shadow 150ms ease;
  }
  &:after {
    height: 14px;
    width: 14px;
    background-image: escape-svg($custom-radio-indicator-icon-checked);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: opacity 150ms ease, transform 150ms ease;
  }

  input:checked + & {
    &:before {
      border-color: $primary;
    }
    &:after {
      transform: translate(-50%, -50%) scale(1);
      // background-color: $info;

      opacity: 1;
    }
  }
  input:disabled + & {
    &:before {
      opacity: .3;
    }
    &:after {

    }
  }

  input + &:before {
    .pgn__form-radio-invalid & {
      border-color: $danger;
    }
    .pgn__form-radio-valid & {
      border-color: $success;
    }
  }
  input:focus + &:before {
    box-shadow: 0 0 0 1px $primary;
    .pgn__form-radio-invalid & {
      box-shadow: 0 0 0 1px $danger;
    }
    .pgn__form-radio-valid & {
      box-shadow: 0 0 0 1px $success;
    }
  }
}

.pgn__form-radio-label {
  display: block;
  display: flex;
  align-items: center;

  input:disabled ~ & {
    opacity: .3;
  }
}


// .custom-radio {
//   .custom-control-label::before {
//     // stylelint-disable-next-line property-disallowed-list
//     border-radius: $custom-radio-indicator-border-radius;
//   }

//   .custom-control-input:checked ~ .custom-control-label {
//     &::after {
//       background-image: escape-svg($custom-radio-indicator-icon-checked);
//     }
//   }

//   .custom-control-input:disabled {
//     &:checked ~ .custom-control-label::before {
//       @include gradient-bg($custom-control-indicator-checked-disabled-bg);
//     }
//   // }?

// .pgn__form-radio-label:before {
//   content: '';
//   display: block;
//   height: 20px;
//   width: 20px;
//   border: solid 2px $gray-700;
//   margin-right: .25em;
//   // background-image: escape-svg($custom-radio-indicator-icon-unchecked);
//   input:checked + & {
//     border-radius: 50%;
//     // background: blue;
//     // background-image: escape-svg($custom-radio-indicator-icon-checked);
//   }
//   input:disabled + & {
//     // background: gray;
//     // opacity: .5;
//   }
//   input:focus + & {
//     // outline: solid 1px blue;
//     // outline-offset: 1px;
//   }
// }

// .pgn__form-radio-label:after {
//   content: '';
//   display: block;
//   height: 10px;
//   width: 10px;
//   background: $gray-700;
//   margin-right: .25em;
//   opacity: 0;
//   // background-image: escape-svg($custom-radio-indicator-icon-unchecked);
//   input:checked + & {
//     border-radius: 50%;
//     opacity: 1;
//     // background: blue;
//     // background-image: escape-svg($custom-radio-indicator-icon-checked);
//   }
//   input:disabled + & {
//     // background: gray;
//     // opacity: .5;
//   }
//   input:focus + & {
//     // outline: solid 1px blue;
//     // outline-offset: 1px;
//   }
// }

.pgn__form-radio-text {
  padding-left: 36px;
}

.pgn__form-radio-valid {
  .pgn__form-radio-text {
    color: $success;
  }
}

.pgn__form-radio-invalid {
  .pgn__form-radio-text {
    color: $danger;
  }
}

.pgn__form-radio-disabled {
  color: $text-muted;
}

.pgn__form-radio-group {

}

.pgn__form-radio-group-legend {
  display: inline-block;
  font-size: inherit;
  margin-bottom: $label-margin-bottom;
}
