.pgn__form-radio {
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin-bottom: $form-group-margin-bottom;
  display: block;
  margin: 0 .5em .5em 0;
  flex-shrink: 0;
}

.pgn__form-radio-lockup {
  display: flex;
  align-items: center;
}

.pgn__form-radio-control {
  margin-right: .5rem;
  height: 1rem;
  width: 1rem;
}

.pgn__form-radio-label {
  display: block;
}
.pgn__form-radio-text {
  padding-left: 1.5rem;
}

.pgn__form-radio-valid {
  .pgn__form-radio-text {
    color: $success;
  }
}

.pgn__form-radio-invalid {
  .pgn__form-radio-text {
    color: $danger;
  }
}

.pgn__form-radio-disabled {
  color: $text-muted;
}

.pgn__form-radio-group {

}

.pgn__form-radio-group-legend {
  display: inline-block;
  font-size: inherit;
  margin-bottom: $label-margin-bottom;
}
