.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;

  > .form-control,
  > .form-control-plaintext,
  > .custom-select,
  > .custom-file {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;

    + .form-control,
    + .custom-select,
    + .custom-file {
      margin-left: calc(var(--pgn-size-form-input-width-border) * -1);
    }
  }

  > .form-control:focus,
  > .custom-select:focus,
  > .custom-file .custom-file-input:focus ~ .custom-file-label {
    z-index: 3;
  }

  > .custom-file .custom-file-input:focus {
    z-index: 4;
  }

  > .form-control,
  > .custom-select {
    &:not(:first-child) {
      @include border-left-radius(0);
    }
  }

  > .custom-file {
    display: flex;
    align-items: center;

    &:not(:last-child) .custom-file-label,
    &:not(:last-child) .custom-file-label::after {
      @include border-right-radius(0);
    }

    &:not(:first-child) .custom-file-label {
      @include border-left-radius(0);
    }
  }

  &:not(.has-validation) {
    > .form-control:not(:last-child),
    > .custom-select:not(:last-child),
    > .custom-file:not(:last-child) .custom-file-label,
    > .custom-file:not(:last-child) .custom-file-label::after {
      @include border-right-radius(0);
    }
  }

  &.has-validation {
    > .form-control:nth-last-child(n + 3),
    > .custom-select:nth-last-child(n + 3),
    > .custom-file:nth-last-child(n + 3) .custom-file-label,
    > .custom-file:nth-last-child(n + 3) .custom-file-label::after {
      @include border-right-radius(0);
    }
  }
}

.input-group-prepend,
.input-group-append {
  display: flex;

  .btn {
    position: relative;
    z-index: 2;

    &:focus {
      z-index: 3;
    }
  }

  .btn + .btn,
  .btn + .input-group-text,
  .input-group-text + .input-group-text,
  .input-group-text + .btn {
    margin-left: calc(var(--pgn-size-form-input-width-border) * -1);
  }
}

.input-group-prepend {
  margin-right: calc(var(--pgn-size-form-input-width-border) * -1);
}

.input-group-append {
  margin-left: calc(var(--pgn-size-form-input-width-border) * -1);
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: var(--pgn-spacing-form-input-padding-y-base) var(--pgn-spacing-form-input-padding-x-base);
  margin-bottom: 0;
  font-weight: var(--pgn-typography-font-weight-normal);
  line-height: var(--pgn-typography-form-input-line-height-base);
  color: var(--pgn-color-form-input-group-addon-base);
  text-align: center;
  white-space: nowrap;
  background-color: var(--pgn-color-form-input-group-addon-bg);
  border: var(--pgn-size-form-input-width-border) solid var(--pgn-color-form-input-group-addon-border);

  @include font-size(var(--pgn-typography-form-input-font-size-base));
  @include border-radius(var(--pgn-size-form-input-radius-border-base));

  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 0;
  }
}

.input-group-lg > .form-control:not(textarea),
.input-group-lg > .custom-select {
  height: var(--pgn-size-form-input-height-lg);
}

.input-group-lg > .form-control,
.input-group-lg > .custom-select,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
  padding: var(--pgn-spacing-form-input-padding-y-lg) var(--pgn-spacing-form-input-padding-x-lg);
  line-height: var(--pgn-typography-form-input-line-height-lg);

  @include font-size(var(--pgn-typography-form-input-font-size-lg));
  @include border-radius(var(--pgn-size-form-input-radius-border-lg));
}

.input-group-sm > .form-control:not(textarea),
.input-group-sm > .custom-select {
  height: var(--pgn-size-form-input-height-sm);
}

.input-group-sm > .form-control,
.input-group-sm > .custom-select,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
  padding: var(--pgn-spacing-form-input-padding-y-sm) var(--pgn-spacing-form-input-padding-x-sm);
  line-height: var(--pgn-typography-form-input-line-height-sm);

  @include font-size(var(--pgn-typography-form-input-font-size-sm));
  @include border-radius(var(--pgn-size-form-input-radius-border-sm));
}

.input-group-lg > .custom-select,
.input-group-sm > .custom-select {
  padding-right:
    calc(
      var(--pgn-spacing-form-control-select-padding-x-base) + var(--pgn-spacing-form-control-select-indicator-padding)
    );
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group:not(.has-validation) > .input-group-append:not(:last-child) > .btn,
.input-group:not(.has-validation) > .input-group-append:not(:last-child) > .input-group-text,
.input-group.has-validation > .input-group-append:nth-last-child(n + 3) > .btn,
.input-group.has-validation > .input-group-append:nth-last-child(n + 3) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  @include border-right-radius(0);
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  @include border-left-radius(0);
}
