// @import "variables";

$icon-width: 32px;

.pgn__form-control-decorator-group {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;

  &.has-floating-label {
    .form-control:not(:focus) {
      &::placeholder,
      &::-webkit-datetime-edit {
        opacity: 0;
      }
    }
  }

  &.has-prepended-node {
    .form-control {
      padding-left: calc(#{$input-padding-x} + #{$icon-width});
    }
    .form-control-lg {
      padding-left: calc(#{$input-padding-x-lg} + #{$icon-width});
    }
    .form-control-sm {
      padding-left: calc(#{$input-padding-x-sm} + #{$icon-width});
    }
  }

  &.has-appended-node {
    .form-control {
      padding-right: calc(#{$input-padding-x} + #{$icon-width});
    }
    .form-control-lg {
      padding-right: calc(#{$input-padding-x-lg} + #{$icon-width});
    }
    .form-control-sm {
      padding-right: calc(#{$input-padding-x-sm} + #{$icon-width});
    }
  }

  font-size: $input-font-size;
  line-height: $input-line-height;
  &.pgn__form-control-decorator-group-sm {
    font-size: $input-font-size-sm;
    line-height: $input-line-height-sm;
  }
  &.pgn__form-control-decorator-group-lg {
    font-size: $input-font-size-lg;
    line-height: $input-line-height-lg;
  }
}

.pgn__form-control-decorator {
  position: absolute;
  pointer-events: none;
  button {
    pointer-events: initial;
  }
  height: $input-height;
  min-width: $input-height;
  line-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  &.pgn__form-control-decorator-leading {
    left: 0;
    padding-left: $input-padding-x;
    padding-right: $input-padding-x / 2;
  }
  &.pgn__form-control-decorator-trailing {
    right: 0;
    padding-left: $input-padding-x / 2;
    padding-right: calc(#{$input-padding-y-sm} - #{2 * $input-border-width});
  }

  .pgn__form-control-decorator-group-lg & {
    height: $input-height-lg;
    min-width: $input-height-lg;
    &.pgn__form-control-decorator-leading {
      padding-left: $input-padding-x-lg;
      padding-right: $input-padding-x-lg / 2;
    }
    &.pgn__form-control-decorator-trailing {
      padding-left: $input-padding-x-lg / 2;
      padding-right: calc(#{$input-padding-y} - #{2 * $input-border-width});
    }
  }

  .pgn__form-control-decorator-group-sm & {
    height: $input-height-sm;
    min-width: $input-height-lg;
    &.pgn__form-control-decorator-leading {
      padding-left: $input-padding-x-sm;
      padding-right: $input-padding-x-sm / 2;
    }
    &.pgn__form-control-decorator-trailing {
      padding-left: $input-padding-x-sm / 2;
      padding-right: calc(#{$input-padding-y-sm} - #{2 * $input-border-width});
    }
  }
}

@mixin form-control-floating-label-initial(
  $padding-x,
  $padding-y,
  $line-height,
  $font-size,
  $border-width
) {
  padding: 0 $padding-x;
  .pgn__form-control-floating-label-content {
    padding-top: $padding-y;
    line-height: $line-height;
    font-size: $font-size;
  }
}
select.form-control {
  background: $custom-select-bg $custom-select-background;
  appearance: none;

}
@mixin form-control-floating-label-float(
  $padding-x,
  $padding-y,
  $line-height,
  $font-size,
  $border-width
) {
  .pgn__form-control-floating-label-text {
    $half-leading: ($line-height - 0.8) / 2;
    $percent-height-minus-no-bottom-leading: (
        ($line-height - $half-leading) / $line-height
      ) * 100%;
    transform: translateY(-$padding-y) scale(.75)  translateY(-$percent-height-minus-no-bottom-leading);
  }
}

.pgn__form-control-floating-label {
  position: absolute;
  left: $input-border-width;
  right: 0;
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .pgn__form-control-floating-label-content {
    border-top: solid 2px transparent;
    position: relative;
    left: -0.5em;
  }
  .pgn__form-control-floating-label-text {
    transform-origin: left top;
    padding: 0 0.5em;
    transition: transform 150ms ease, background-color 150ms linear;
    background: transparent;
  }

  .has-leading-element & {
    .pgn__form-control-floating-label-text {
      transform: translateX(#{$icon-width});
    }
  }

  @include form-control-floating-label-initial(
    $input-padding-x,
    $input-padding-y,
    $input-line-height,
    $input-font-size,
    $input-border-width
  );
  .pgn__form-control-decorator-group-lg & {
    @include form-control-floating-label-initial(
      $input-padding-x-lg,
      $input-padding-y-lg,
      $input-line-height-lg,
      $input-font-size-lg,
      $input-border-width
    );
  }
  .pgn__form-control-decorator-group-sm & {
    @include form-control-floating-label-initial(
      $input-padding-x-sm,
      $input-padding-y-sm,
      $input-line-height-sm,
      $input-font-size-sm,
      $input-border-width
    );
  }

  .form-control:focus ~ &,
  // select.form-control ~ &,
  .form-control.has-value ~ & {
    .pgn__form-control-floating-label-text {
      background-color: $input-bg;
    }
    @include form-control-floating-label-float(
      $input-padding-x,
      $input-padding-y,
      $input-line-height,
      $input-font-size,
      $input-border-width
    );
  }
  .float-label.pgn__form-control-decorator-group-lg & {
    @include form-control-floating-label-float(
      $input-padding-x-lg,
      $input-padding-y-lg,
      $input-line-height-lg,
      $input-font-size-lg,
      $input-border-width
    );
  }
  .float-label.pgn__form-control-decorator-group-sm & {
    @include form-control-floating-label-float(
      $input-padding-x-sm,
      $input-padding-y-sm,
      $input-line-height-sm,
      $input-font-size-sm,
      $input-border-width
    );
  }
}

.pgn__form-control-decorator-group.has-floating-label select.form-control:not(.has-value):not(:focus) {
  color: rgba(0,0,0,0);
}


.pgn__text-field-inline {
  display: flex;
  align-items: center;
}


.pgn__field-label {
  font-size: $input-font-size;
  &.pgn__field-label-inline {
    display: inline-block;
    margin: 0 1em 0 0;
  }
  &.pgn__field-label-lg {
    font-size: $input-font-size-lg;
  }
  &.pgn__field-label-sm {
    font-size: $input-font-size-sm;
  }
}

$test: red;
$custom-checkbox-indicator-icon-checked:        str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#{$test}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"), "#", "%23");

.pgn__checkbox {
  display: inline-flex;
  align-items: center;
  position: relative;
  // $custom-checkbox-indicator-icon-checked:        str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#{$custom-control-indicator-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"), "#", "%23") !default;

  // background: $custom-checkbox-indicator-icon-checked;

  .pgn__checkbox-icon,
  .pgn__checkbox-input {
    display: block;
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
  }
  .pgn__checkbox-input {
    // position: absolute;
    // top: 0;
    // opacity: 0;
    appearance: none;
    border: solid 1px red;
    background: $custom-checkbox-indicator-icon-checked;
    // &:f
  }
  .pgn__checkbox-icon {
    display: none;
  }
  .pgn__checkbox-icon-checked,
  .pgn__checkbox-icon-indeterminate {
    color: $custom-control-indicator-checked-bg;
  }
  .pgn__checkbox-input:checked ~ .pgn__checkbox-icon-checked {
    display: block;
  }
  .pgn__checkbox-input:indeterminate ~ .pgn__checkbox-icon-indeterminate {
    display: block;
  }
  .pgn__checkbox-input:not(:checked):not(:indeterminate) ~ .pgn__checkbox-icon-unchecked {
    display: block;
  }

  .pgn__checkbox-input:focus ~ .pgn__checkbox-icon {
    outline: soild 2px red;
    box-shadow: $custom-control-indicator-focus-box-shadow;
  }

  .pgn__checkbox-label {
    margin-left: .5em;
//         background-image: escape-svg($form-check-input-checked-bg-image);
  }
}

.pgn__field-description {
  margin-top: .5rem;
  font-size: $small-font-size;
  display: flex;
  align-items: center;
  .pgn__icon {
    height: 1em;
    margin-right: .5em;
    width: 1em;
    display: inline-block;
  }
  & ~ .pgn__field-description {
    margin-top: .25rem;
  }
}
.pgn__field-description-valid {
  color: $success-500;
}
.pgn__field-description-invalid {
  color: $danger-500;
}
.pgn__field-description-warning {
  color: $gray-900;
}
.pgn__field-description-criteria-empty {
  .pgn__icon {
    color: $text-muted;
  }
}

.pgn__field-description-criteria-invalid {
  .pgn__icon {
    color: $danger-500;
  }
}
.pgn__field-description-criteria-valid {
  .pgn__icon {
    color: $success-500;
  }
}
