// Spinners

$spinner-width: var(--pgn-spinner-width) !default;
$spinner-height: var(--pgn-spinner-height) !default;
$spinner-border-width: var(--pgn-spinner-border-width) !default;

$spinner-width-sm: var(--pgn-spinner-sm-width) !default;
$spinner-height-sm: var(--pgn-spinner-sm-height) !default;
$spinner-border-width-sm: var(--pgn-spinner-sm-border-width) !default;
