@keyframes spinner-border {
  to { transform: rotate(360deg); }
}

.spinner-border {
  display: inline-block;
  width: var(--pgn-size-spinner-base-width);
  height: var(--pgn-size-spinner-base-height);
  vertical-align: calc(var(--pgn-spacing-vertical-align) * -1);
  border: var(--pgn-size-spinner-base-border-width) solid currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: .75s linear infinite spinner-border;
}

.spinner-border-sm {
  width: var(--pgn-size-spinner-sm-width);
  height: var(--pgn-size-spinner-sm-height);
  border-width: var(--pgn-size-spinner-sm-border-width);
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: none;
  }
}

.spinner-grow {
  display: inline-block;
  width: var(--pgn-size-spinner-base-width);
  height: var(--pgn-size-spinner-base-height);
  vertical-align: calc(var(--pgn-spacing-vertical-align) * -1);
  background-color: currentcolor;
  border-radius: 50%;
  opacity: 0;
  animation: .75s linear infinite spinner-grow;
}

.spinner-grow-sm {
  width: var(--pgn-size-spinner-sm-width);
  height: var(--pgn-size-spinner-sm-height);
}

@if $enable-prefers-reduced-motion-media-query {
  @media (prefers-reduced-motion: reduce) {
    .spinner-border,
    .spinner-grow {
      animation-duration: 1.5s;
    }
  }
}

