// Popovers

$popover-font-size:                 var(--pgn-font-size-sm) !default;
$popover-bg:                        var(--pgn-color-white) !default;
$popover-max-width:                 480px !default;
$popover-border-width:              var(--pgn-border-width) !default;
// TODO use css variable
$popover-border-color:              rgba(#000000, .2) !default;

$popover-border-radius:             var(--pgn-border-radius-sm) !default;
$popover-inner-border-radius:       subtract(var(--pgn-popover-border-radius), var(--pgn-popover-border-border)) !default;
$popover-box-shadow:                drop-shadow(0 2px 4px rgba(0, 0, 0, .15))
  drop-shadow(0 2px 8px rgba(0, 0, 0, .15)) !default;
$popover-icon-margin-right:         .5rem;
$popover-icon-height:               1rem;
$popover-icon-width:                1rem;

// TODO can't use css variable due to conflict with SCSS functions, should use #FFFFFF instead
$popover-header-bg:                 #FFFFFF !default;

$popover-header-color:              var(--pgn-headings-color) !default;
$popover-header-padding-y:          .5rem !default;
$popover-header-padding-x:          1rem !default;

$popover-body-color:                var(--pgn-body-color) !default;
$popover-body-padding-y:            var(--pgn-popover-header-padding-y) !default;
$popover-body-padding-x:            var(--pgn-popover-header-padding-x) !default;

$popover-arrow-width:               1rem !default;
$popover-arrow-height:              .5rem !default;
$popover-arrow-color:               var(--pgn-popover-bg) !default;

// TODO can't use css variable due to conflict with SCSS functions, should use var(--pgn-popover-border-color) instead of #000000
$popover-arrow-outer-color:         fade-in($popover-border-color, .05) !default;

$popover-success-bg:                var(--pgn-color-success-100) !default;
$popover-success-icon-color:        var(--pgn-color-success-500) !default;
$popover-warning-bg:                var(--pgn-color-warning-100) !default;
$popover-warning-icon-color:        var(--pgn-color-warning-500) !default;
$popover-danger-bg:                 var(--pgn-color-danger-100) !default;
$popover-danger-icon-color:         var(--pgn-color-danger-500) !default;
