// Popovers

$popover-font-size: var(--pgn-typography-popover-font-size) !default;
$popover-bg: var(--pgn-color-popover-bg) !default;
$popover-max-width: var(--pgn-size-popover-max-width) !default;
$popover-border-width: var(--pgn-size-popover-border-width) !default;
$popover-border-color: var(--pgn-color-popover-border) !default;

$popover-border-radius: var(--pgn-size-popover-border-radius) !default;
$popover-inner-border-radius: calc(#{var(--pgn-popover-border-radius)} - #{var(--pgn-popover-border-border)}) !default;
$popover-box-shadow: var(--pgn-elevation-popover-box-shadow) !default;
$popover-icon-margin-right: var(--pgn-spacing-popover-icon-margin-right) !default;
$popover-icon-height: var(--pgn-size-popover-icon-height) !default;
$popover-icon-width: var(--pgn-size-popover-icon-width) !default;

$popover-header-bg: var(--pgn-color-popover-header-bg) !default;

$popover-header-color: var(--pgn-color-popover-header-text) !default;
$popover-header-padding-y: var(--pgn-spacing-popover-header-padding-y) !default;
$popover-header-padding-x: var(--pgn-spacing-popover-header-padding-x) !default;

$popover-body-color: var(--pgn-color-popover-body) !default;
$popover-body-padding-y: var(--pgn-spacing-popover-body-padding-y) !default;
$popover-body-padding-x: var(--pgn-spacing-popover-body-padding-x) !default;

$popover-arrow-width: var(--pgn-size-popover-arrow-width) !default;
$popover-arrow-height: var(--pgn-size-popover-arrow-height) !default;
$popover-arrow-color: var(--pgn-color-popover-arrow-base) !default;

$popover-arrow-outer-color: var(--pgn-color-popover-arrow-outer) !default;

$popover-success-bg: var(--pgn-color-popover-success-bg) !default;
$popover-success-icon-color: var(--pgn-color-popover-success-icon) !default;
$popover-warning-bg: var(--pgn-color-popover-warning-bg) !default;
$popover-warning-icon-color: var(--pgn-color-popover-warning-icon) !default;
$popover-danger-bg: var(--pgn-color-popover-danger-bg) !default;
$popover-danger-icon-color: var(--pgn-color-popover-danger-icon) !default;
$popover-header-border-bottom-darken: var(--pgn-color-popover-header-border-bottom-dark) !default;
