@import "mixins";
@import "popover-bootstrap";

.popover {
  filter: var(--pgn-elevation-popover-box-shadow);

  .popover-header {
    display: flex;
    align-items: center;
    font-size: var(--pgn-typography-font-size-h5-base);
  }

  .pgn__icon {
    margin-inline-end: var(--pgn-spacing-popover-icon-margin-right);
    height: var(--pgn-size-popover-icon-height);
    width: var(--pgn-size-popover-icon-width);
  }
}

.popover-success {
  @include get-popover-variant(var(--pgn-color-popover-success-bg), var(--pgn-color-popover-success-icon));
}

.popover-warning {
  @include get-popover-variant(var(--pgn-color-popover-warning-bg), var(--pgn-color-popover-warning-icon));
}

.popover-danger {
  @include get-popover-variant(var(--pgn-color-popover-danger-bg), var(--pgn-color-popover-danger-icon));
}
