@import "popover-bootstrap";

.popover {
  filter: var(--pgn-elevation-popover-box-shadow);

  .popover-header {
    display: flex;
    align-items: center;
    font-size: $h5-font-size;
  }

  .pgn__icon {
    margin-inline-end: var(--pgn-spacing-popover-icon-margin-right);
    height: var(--pgn-size-popover-icon-height);
    width: var(--pgn-size-popover-icon-width);
  }
}

.popover-success {
  background: var(--pgn-color-popover-success-bg);

  .popover-header {
    background: var(--pgn-color-popover-success-bg);
  }

  .pgn__icon {
    color: var(--pgn-color-popover-success-icon);
  }
}

.popover-warning {
  background: var(--pgn-color-popover-warning-bg);

  .popover-header {
    background: var(--pgn-color-popover-warning-bg);
  }

  .pgn__icon {
    color: var(--pgn-color-popover-warning-icon);
  }
}

.popover-danger {
  background: var(--pgn-color-popover-danger-bg);

  .popover-header {
    background: var(--pgn-color-popover-danger-bg);
  }

  .pgn__icon {
    color: var(--pgn-color-popover-danger-icon);
  }
}
