@import './overrides/alerts';
@import './overrides/badges';
@import './overrides/buttons';
@import './overrides/dropdowns';
@import './overrides/grid';
@import './overrides/modals';
@import './overrides/typography';
@import './overrides/tables';
@import './overrides/navs';

@import './custom/edx-custom-card.scss';
