$btn-padding-y: var(--pgn-btn-padding-y-base) !default;
$btn-padding-x: var(--pgn-btn-padding-x-base) !default;
$btn-font-family: var(--pgn-btn-font-family) !default;
$btn-font-size: var(--pgn-btn-font-size-base) !default;
$btn-line-height: var(--pgn-btn-line-height-base) !default;

$btn-padding-y-sm: var(--pgn-btn-padding-y-sm) !default;
$btn-padding-x-sm: var(--pgn-btn-padding-x-sm) !default;
$btn-font-size-sm: var(--pgn-btn-font-size-sm) !default;
$btn-line-height-sm: var(--pgn-btn-line-height-sm) !default;

$btn-padding-y-lg: var(--pgn-btn-padding-y-lg) !default;
$btn-padding-x-lg: var(--pgn-btn-padding-x-lg) !default;
$btn-font-size-lg: var(--pgn-btn-font-size-lg) !default;
$btn-line-height-lg: var(--pgn-btn-line-height-lg) !default;

$btn-border-width: var(--pgn-btn-border-width) !default;

$btn-font-weight: var(--pgn-btn-font-weight) !default;
$btn-box-shadow: var(--pgn-btn-box-shadow-base) !default;
$btn-focus-width: var(--pgn-btn-focus-width) !default;
$btn-focus-gap: var(--pgn-btn-focus-gap) !default;
$btn-disabled-opacity: var(--pgn-btn-disabled-opacity) !default;
$btn-active-box-shadow: var(--pgn-btn-box-shadow-active) !default;

$btn-link-disabled-color: var(--pgn-btn-disabled-link-color) !default;

$btn-block-spacing-y: var(--pgn-btn-block-spacing-y) !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: var(--pgn-btn-border-radius-base) !default;
$btn-border-radius-lg: var(--pgn-btn-border-radius-lg) !default;
$btn-border-radius-sm: var(--pgn-btn-border-radius-sm) !default;

$btn-transition: var(--pgn-btn-transition) !default;

// PRIMARY BUTTON VARIABLES
$btn-primary-bg: var(--pgn-color-btn-bg-primary) !default;
$btn-primary-color: var(--pgn-color-btn-text-primary) !default;
$btn-primary-border-color: var(--pgn-color-btn-border-primary) !default;
$btn-primary-hover-bg: var(--pgn-color-btn-hover-bg-primary) !default;
$btn-primary-hover-color: var(--pgn-color-btn-hover-text-primary) !default;
$btn-primary-hover-border-color: var(--pgn-color-btn-hover-border-primary) !default;
$btn-primary-active-bg: var(--pgn-color-btn-active-bg-primary) !default;
$btn-primary-active-color: var(--pgn-color-btn-active-text-primary) !default;
$btn-primary-active-border-color: var(--pgn-color-btn-active-border-primary) !default;
$btn-primary-focus-border-color: var(--pgn-color-btn-focus-border-primary) !default;

$btn-primary-outline-color: var(--pgn-color-btn-text-outline-primary) !default;
$btn-primary-outline-border-color: var(--pgn-color-btn-border-outline-primary) !default;
$btn-primary-outline-hover-bg: var(--pgn-color-btn-hover-bg-outline-primary) !default;
$btn-primary-outline-hover-color: var(--pgn-color-btn-hover-text-outline-primary) !default;
$btn-primary-outline-hover-border-color: var(--pgn-color-btn-hover-border-outline-primary) !default;
$btn-primary-outline-active-bg: var(--pgn-color-btn-active-bg-outline-primary) !default;
$btn-primary-outline-active-color: var(--pgn-color-btn-active-text-outline-primary) !default;
$btn-primary-outline-active-border-color: var(--pgn-color-btn-active-border-outline-primary) !default;
$btn-primary-outline-focus-border-color: var(--pgn-color-btn-focus-border-outline-primary) !default;

$btn-primary-inverse-color: var(--pgn-color-btn-text-inverse-primary) !default;
$btn-primary-inverse-bg: var(--pgn-color-btn-bg-inverse-primary) !default;
$btn-primary-inverse-hover-color: var(--pgn-color-btn-hover-text-inverse-primary) !default;
$btn-primary-inverse-hover-bg: var(--pgn-color-btn-hover-bg-inverse-primary) !default;
$btn-primary-inverse-active-color: var(--pgn-color-btn-active-text-inverse-primary) !default;
$btn-primary-inverse-focus-border-color: var(--pgn-color-btn-focus-border-inverse-primary) !default;

$btn-primary-inverse-outline-color: var(--pgn-color-btn-text-inverse-outline-primary) !default;
$btn-primary-inverse-outline-border-color: var(--pgn-color-btn-border-inverse-outline-primary) !default;
$btn-primary-inverse-outline-active-color: var(--pgn-color-btn-active-text-inverse-outline-primary) !default;
$btn-primary-inverse-outline-active-bg: var(--pgn-color-btn-active-bg-inverse-outline-primary) !default;
$btn-primary-inverse-outline-active-border-color: var(--pgn-color-btn-active-border-inverse-outline-primary) !default;
$btn-primary-inverse-outline-hover-color: var(--pgn-color-btn-hover-text-inverse-outline-primary) !default;
$btn-primary-inverse-outline-hover-bg: var(--pgn-color-btn-hover-bg-inverse-outline-primary) !default;
$btn-primary-inverse-outline-hover-border-color: var(--pgn-color-btn-hover-border-inverse-outline-primary) !default;
$btn-primary-inverse-outline-focus-border-color: var(--pgn-color-btn-focus-border-inverse-outline-primary) !default;


// SECONDARY BUTTON VARIABLES
$btn-secondary-bg: var(--pgn-color-btn-bg-secondary) !default;
$btn-secondary-color: var(--pgn-color-btn-text-secondary) !default;
$btn-secondary-border-color: var(--pgn-color-btn-border-secondary) !default;
$btn-secondary-hover-bg: var(--pgn-color-btn-hover-bg-secondary) !default;
$btn-secondary-hover-color: var(--pgn-color-btn-hover-text-secondary) !default;
$btn-secondary-hover-border-color: var(--pgn-color-btn-hover-border-secondary) !default;
$btn-secondary-active-bg: var(--pgn-color-btn-active-bg-secondary) !default;
$btn-secondary-active-color: var(--pgn-color-btn-active-text-secondary) !default;
$btn-secondary-active-border-color: var(--pgn-color-btn-active-border-secondary) !default;
$btn-secondary-focus-border-color: var(--pgn-color-btn-focus-border-secondary) !default;

$btn-secondary-outline-color: var(--pgn-color-btn-text-outline-secondary) !default;
$btn-secondary-outline-border-color: var(--pgn-color-btn-border-outline-secondary) !default;
$btn-secondary-outline-hover-bg: var(--pgn-color-btn-hover-bg-outline-secondary) !default;
$btn-secondary-outline-hover-color: var(--pgn-color-btn-hover-text-outline-secondary) !default;
$btn-secondary-outline-hover-border-color: var(--pgn-color-btn-hover-border-outline-secondary) !default;
$btn-secondary-outline-active-bg: var(--pgn-color-btn-active-bg-outline-secondary) !default;
$btn-secondary-outline-active-color: var(--pgn-color-btn-active-text-outline-secondary) !default;
$btn-secondary-outline-active-border-color: var(--pgn-color-btn-active-border-outline-secondary) !default;
$btn-secondary-outline-focus-border-color: var(--pgn-color-btn-focus-border-outline-secondary) !default;

$btn-secondary-inverse-color: var(--pgn-color-btn-text-inverse-secondary) !default;
$btn-secondary-inverse-bg: var(--pgn-color-btn-bg-inverse-secondary) !default;
$btn-secondary-inverse-hover-color: var(--pgn-color-btn-hover-text-inverse-secondary) !default;
$btn-secondary-inverse-hover-bg: var(--pgn-color-btn-hover-bg-inverse-secondary) !default;
$btn-secondary-inverse-active-color: var(--pgn-color-btn-active-text-inverse-secondary) !default;
$btn-secondary-inverse-focus-border-color: var(--pgn-color-btn-focus-border-inverse-secondary) !default;

$btn-secondary-inverse-outline-color: var(--pgn-color-btn-text-inverse-outline-secondary) !default;
$btn-secondary-inverse-outline-border-color: var(--pgn-color-btn-border-inverse-outline-secondary) !default;
$btn-secondary-inverse-outline-active-color: var(--pgn-color-btn-active-text-inverse-outline-secondary) !default;
$btn-secondary-inverse-outline-active-bg: var(--pgn-color-btn-active-bg-inverse-outline-secondary) !default;

// stylelint-disable-next-line max-line-length
$btn-secondary-inverse-outline-active-border-color: var(--pgn-color-btn-active-border-inverse-outline-secondary) !default;
$btn-secondary-inverse-outline-hover-color: var(--pgn-color-btn-hover-text-inverse-outline-secondary) !default;
$btn-secondary-inverse-outline-hover-bg: var(--pgn-color-btn-hover-bg-inverse-outline-secondary) !default;
$btn-secondary-inverse-outline-hover-border-color: var(--pgn-color-btn-hover-border-inverse-outline-secondary) !default;
$btn-secondary-inverse-outline-focus-border-color: var(--pgn-color-btn-focus-border-inverse-outline-secondary) !default;


// BRAND BUTTON VARIABLES
$btn-brand-bg: var(--pgn-color-btn-bg-brand) !default;
$btn-brand-color: var(--pgn-color-btn-text-brand) !default;
$btn-brand-border-color: var(--pgn-color-btn-border-brand) !default;
$btn-brand-hover-bg: var(--pgn-color-btn-hover-bg-brand) !default;
$btn-brand-hover-color: var(--pgn-color-btn-hover-text-brand) !default;
$btn-brand-hover-border-color: var(--pgn-color-btn-hover-border-brand) !default;
$btn-brand-active-bg: var(--pgn-color-btn-active-bg-brand) !default;
$btn-brand-active-color: var(--pgn-color-btn-active-text-brand) !default;
$btn-brand-active-border-color: var(--pgn-color-btn-active-border-brand) !default;
$btn-brand-focus-border-color: var(--pgn-color-btn-focus-border-brand) !default;

$btn-brand-outline-color: var(--pgn-color-btn-text-outline-brand) !default;
$btn-brand-outline-border-color: var(--pgn-color-btn-border-outline-brand) !default;
$btn-brand-outline-hover-bg: var(--pgn-color-btn-hover-bg-outline-brand) !default;
$btn-brand-outline-hover-color: var(--pgn-color-btn-hover-text-outline-brand) !default;
$btn-brand-outline-hover-border-color: var(--pgn-color-btn-hover-border-outline-brand) !default;
$btn-brand-outline-active-bg: var(--pgn-color-btn-active-bg-outline-brand) !default;
$btn-brand-outline-active-color: var(--pgn-color-btn-active-text-outline-brand) !default;
$btn-brand-outline-active-border-color: var(--pgn-color-btn-active-border-outline-brand) !default;
$btn-brand-outline-focus-border-color: var(--pgn-color-btn-focus-border-outline-brand) !default;

$btn-brand-inverse-color: var(--pgn-color-btn-text-inverse-brand) !default;
$btn-brand-inverse-bg: var(--pgn-color-btn-bg-inverse-brand) !default;
$btn-brand-inverse-hover-color: var(--pgn-color-btn-hover-text-inverse-brand) !default;
$btn-brand-inverse-hover-bg: var(--pgn-color-btn-hover-bg-inverse-brand) !default;
$btn-brand-inverse-active-color: var(--pgn-color-btn-active-text-inverse-brand) !default;
$btn-brand-inverse-focus-border-color: var(--pgn-color-btn-focus-border-inverse-brand) !default;

$btn-brand-inverse-outline-color: var(--pgn-color-btn-text-inverse-outline-brand) !default;
$btn-brand-inverse-outline-border-color: var(--pgn-color-btn-border-inverse-outline-brand) !default;
$btn-brand-inverse-outline-active-color: var(--pgn-color-btn-active-text-inverse-outline-brand) !default;
$btn-brand-inverse-outline-active-bg: var(--pgn-color-btn-active-bg-inverse-outline-brand) !default;
$btn-brand-inverse-outline-active-border-color: var(--pgn-color-btn-active-border-inverse-outline-brand) !default;
$btn-brand-inverse-outline-hover-color: var(--pgn-color-btn-hover-text-inverse-outline-brand) !default;
$btn-brand-inverse-outline-hover-bg: var(--pgn-color-btn-hover-bg-inverse-outline-brand) !default;
$btn-brand-inverse-outline-hover-border-color: var(--pgn-color-btn-hover-border-inverse-outline-brand) !default;
$btn-brand-inverse-outline-focus-border-color: var(--pgn-color-btn-focus-border-inverse-outline-brand) !default;


// DANGER BUTTON VARIABLES
$btn-danger-bg: var(--pgn-color-btn-bg-danger) !default;
$btn-danger-color: var(--pgn-color-btn-text-danger) !default;
$btn-danger-border-color: var(--pgn-color-btn-border-danger) !default;
$btn-danger-hover-bg: var(--pgn-color-btn-hover-bg-danger) !default;
$btn-danger-hover-color: var(--pgn-color-btn-hover-text-danger) !default;
$btn-danger-hover-border-color: var(--pgn-color-btn-hover-border-danger) !default;
$btn-danger-active-bg: var(--pgn-color-btn-active-bg-danger) !default;
$btn-danger-active-color: var(--pgn-color-btn-active-text-danger) !default;
$btn-danger-active-border-color: var(--pgn-color-btn-active-border-danger) !default;
$btn-danger-focus-border-color: var(--pgn-color-btn-focus-border-danger) !default;

$btn-danger-outline-color: var(--pgn-color-btn-text-outline-danger) !default;
$btn-danger-outline-border-color: var(--pgn-color-btn-border-outline-danger) !default;
$btn-danger-outline-hover-bg: var(--pgn-color-btn-hover-bg-outline-danger) !default;
$btn-danger-outline-hover-color: var(--pgn-color-btn-hover-text-outline-danger) !default;
$btn-danger-outline-hover-border-color: var(--pgn-color-btn-hover-border-outline-danger) !default;
$btn-danger-outline-active-bg: var(--pgn-color-btn-active-bg-outline-danger) !default;
$btn-danger-outline-active-color: var(--pgn-color-btn-active-text-outline-danger) !default;
$btn-danger-outline-active-border-color: var(--pgn-color-btn-active-border-outline-danger) !default;
$btn-danger-outline-focus-border-color: var(--pgn-color-btn-focus-border-outline-danger) !default;

$btn-danger-inverse-color: var(--pgn-color-btn-text-inverse-danger) !default;
$btn-danger-inverse-bg: var(--pgn-color-btn-bg-inverse-danger) !default;
$btn-danger-inverse-hover-color: var(--pgn-color-btn-hover-text-inverse-danger) !default;
$btn-danger-inverse-hover-bg: var(--pgn-color-btn-hover-bg-inverse-danger) !default;
$btn-danger-inverse-active-color: var(--pgn-color-btn-active-text-inverse-danger) !default;
$btn-danger-inverse-focus-border-color: var(--pgn-color-btn-focus-border-inverse-danger) !default;

$btn-danger-inverse-outline-color: var(--pgn-color-btn-text-inverse-outline-danger) !default;
$btn-danger-inverse-outline-border-color: var(--pgn-color-btn-border-inverse-outline-danger) !default;
$btn-danger-inverse-outline-active-color: var(--pgn-color-btn-active-text-inverse-outline-danger) !default;
$btn-danger-inverse-outline-active-bg: var(--pgn-color-btn-active-bg-inverse-outline-danger) !default;
$btn-danger-inverse-outline-active-border-color: var(--pgn-color-btn-active-border-inverse-outline-danger) !default;
$btn-danger-inverse-outline-hover-color: var(--pgn-color-btn-hover-text-inverse-outline-danger) !default;
$btn-danger-inverse-outline-hover-bg: var(--pgn-color-btn-hover-bg-inverse-outline-danger) !default;
$btn-danger-inverse-outline-hover-border-color: var(--pgn-color-btn-hover-border-inverse-outline-danger) !default;
$btn-danger-inverse-outline-focus-border-color: var(--pgn-color-btn-focus-border-inverse-outline-danger) !default;


// DARK BUTTON VARIABLES
$btn-dark-bg: var(--pgn-color-btn-bg-dark) !default;
$btn-dark-color: var(--pgn-color-btn-text-dark) !default;
$btn-dark-border-color: var(--pgn-color-btn-border-dark) !default;
$btn-dark-hover-bg: var(--pgn-color-btn-hover-bg-dark) !default;
$btn-dark-hover-color: var(--pgn-color-btn-hover-text-dark) !default;
$btn-dark-hover-border-color: var(--pgn-color-btn-hover-border-dark) !default;
$btn-dark-active-bg: var(--pgn-color-btn-active-bg-dark) !default;
$btn-dark-active-color: var(--pgn-color-btn-active-text-dark) !default;
$btn-dark-active-border-color: var(--pgn-color-btn-active-border-dark) !default;
$btn-dark-focus-border-color: var(--pgn-color-btn-focus-border-dark) !default;

$btn-dark-outline-color: var(--pgn-color-btn-text-outline-dark) !default;
$btn-dark-outline-border-color: var(--pgn-color-btn-border-outline-dark) !default;
$btn-dark-outline-hover-bg: var(--pgn-color-btn-hover-bg-outline-dark) !default;
$btn-dark-outline-hover-color: var(--pgn-color-btn-hover-text-outline-dark) !default;
$btn-dark-outline-hover-border-color: var(--pgn-color-btn-hover-border-outline-dark) !default;
$btn-dark-outline-active-bg: var(--pgn-color-btn-active-bg-outline-dark) !default;
$btn-dark-outline-active-color: var(--pgn-color-btn-active-text-outline-dark) !default;
$btn-dark-outline-active-border-color: var(--pgn-color-btn-active-border-outline-dark) !default;
$btn-dark-outline-focus-border-color: var(--pgn-color-btn-focus-border-outline-dark) !default;

$btn-dark-inverse-color: var(--pgn-color-btn-text-inverse-dark) !default;
$btn-dark-inverse-bg: var(--pgn-color-btn-bg-inverse-dark) !default;
$btn-dark-inverse-hover-color: var(--pgn-color-btn-hover-text-inverse-dark) !default;
$btn-dark-inverse-hover-bg: var(--pgn-color-btn-hover-bg-inverse-dark) !default;
$btn-dark-inverse-active-color: var(--pgn-color-btn-active-text-inverse-dark) !default;
$btn-dark-inverse-focus-border-color: var(--pgn-color-btn-focus-border-inverse-dark) !default;

$btn-dark-inverse-outline-color: var(--pgn-color-btn-text-inverse-outline-dark) !default;
$btn-dark-inverse-outline-border-color: var(--pgn-color-btn-border-inverse-outline-dark) !default;
$btn-dark-inverse-outline-active-color: var(--pgn-color-btn-active-text-inverse-outline-dark) !default;
$btn-dark-inverse-outline-active-bg: var(--pgn-color-btn-active-bg-inverse-outline-dark) !default;
$btn-dark-inverse-outline-active-border-color: var(--pgn-color-btn-active-border-inverse-outline-dark) !default;
$btn-dark-inverse-outline-hover-color: var(--pgn-color-btn-hover-text-inverse-outline-dark) !default;
$btn-dark-inverse-outline-hover-bg: var(--pgn-color-btn-hover-bg-inverse-outline-dark) !default;
$btn-dark-inverse-outline-hover-border-color: var(--pgn-color-btn-hover-border-inverse-outline-dark) !default;
$btn-dark-inverse-outline-focus-border-color: var(--pgn-color-btn-focus-border-inverse-outline-dark) !default;


// INFO BUTTON VARIABLES
$btn-info-bg: var(--pgn-color-btn-bg-info) !default;
$btn-info-color: var(--pgn-color-btn-text-info) !default;
$btn-info-border-color: var(--pgn-color-btn-border-info) !default;
$btn-info-hover-bg: var(--pgn-color-btn-hover-bg-info) !default;
$btn-info-hover-color: var(--pgn-color-btn-hover-text-info) !default;
$btn-info-hover-border-color: var(--pgn-color-btn-hover-border-info) !default;
$btn-info-active-bg: var(--pgn-color-btn-active-bg-info) !default;
$btn-info-active-color: var(--pgn-color-btn-active-text-info) !default;
$btn-info-active-border-color: var(--pgn-color-btn-active-border-info) !default;
$btn-info-focus-border-color: var(--pgn-color-btn-focus-border-info) !default;

$btn-info-outline-color: var(--pgn-color-btn-text-outline-info) !default;
$btn-info-outline-border-color: var(--pgn-color-btn-border-outline-info) !default;
$btn-info-outline-hover-bg: var(--pgn-color-btn-hover-bg-outline-info) !default;
$btn-info-outline-hover-color: var(--pgn-color-btn-hover-text-outline-info) !default;
$btn-info-outline-hover-border-color: var(--pgn-color-btn-hover-border-outline-info) !default;
$btn-info-outline-active-bg: var(--pgn-color-btn-active-bg-outline-info) !default;
$btn-info-outline-active-color: var(--pgn-color-btn-active-text-outline-info) !default;
$btn-info-outline-active-border-color: var(--pgn-color-btn-active-border-outline-info) !default;
$btn-info-outline-focus-border-color: var(--pgn-color-btn-focus-border-outline-info) !default;

$btn-info-inverse-color: var(--pgn-color-btn-text-inverse-info) !default;
$btn-info-inverse-bg: var(--pgn-color-btn-bg-inverse-info) !default;
$btn-info-inverse-hover-color: var(--pgn-color-btn-hover-text-inverse-info) !default;
$btn-info-inverse-hover-bg: var(--pgn-color-btn-hover-bg-inverse-info) !default;
$btn-info-inverse-active-color: var(--pgn-color-btn-active-text-inverse-info) !default;
$btn-info-inverse-focus-border-color: var(--pgn-color-btn-focus-border-inverse-info) !default;

$btn-info-inverse-outline-color: var(--pgn-color-btn-text-inverse-outline-info) !default;
$btn-info-inverse-outline-border-color: var(--pgn-color-btn-border-inverse-outline-info) !default;
$btn-info-inverse-outline-active-color: var(--pgn-color-btn-active-text-inverse-outline-info) !default;
$btn-info-inverse-outline-active-bg: var(--pgn-color-btn-active-bg-inverse-outline-info) !default;
$btn-info-inverse-outline-active-border-color: var(--pgn-color-btn-active-border-inverse-outline-info) !default;
$btn-info-inverse-outline-hover-color: var(--pgn-color-btn-hover-text-inverse-outline-info) !default;
$btn-info-inverse-outline-hover-bg: var(--pgn-color-btn-hover-bg-inverse-outline-info) !default;
$btn-info-inverse-outline-hover-border-color: var(--pgn-color-btn-hover-border-inverse-outline-info) !default;
$btn-info-inverse-outline-focus-border-color: var(--pgn-color-btn-focus-border-inverse-outline-info) !default;


// LIGHT BUTTON VARIABLES
$btn-light-bg: var(--pgn-color-btn-bg-light) !default;
$btn-light-color: var(--pgn-color-btn-text-light) !default;
$btn-light-border-color: var(--pgn-color-btn-border-light) !default;
$btn-light-hover-bg: var(--pgn-color-btn-hover-bg-light) !default;
$btn-light-hover-color: var(--pgn-color-btn-hover-text-light) !default;
$btn-light-hover-border-color: var(--pgn-color-btn-hover-border-light) !default;
$btn-light-active-bg: var(--pgn-color-btn-active-bg-light) !default;
$btn-light-active-color: var(--pgn-color-btn-active-text-light) !default;
$btn-light-active-border-color: var(--pgn-color-btn-active-border-light) !default;
$btn-light-focus-border-color: var(--pgn-color-btn-focus-border-light) !default;

$btn-light-outline-color: var(--pgn-color-btn-text-outline-light) !default;
$btn-light-outline-border-color: var(--pgn-color-btn-border-outline-light) !default;
$btn-light-outline-hover-bg: var(--pgn-color-btn-hover-bg-outline-light) !default;
$btn-light-outline-hover-color: var(--pgn-color-btn-hover-text-outline-light) !default;
$btn-light-outline-hover-border-color: var(--pgn-color-btn-hover-border-outline-light) !default;
$btn-light-outline-active-bg: var(--pgn-color-btn-active-bg-outline-light) !default;
$btn-light-outline-active-color: var(--pgn-color-btn-active-text-outline-light) !default;
$btn-light-outline-active-border-color: var(--pgn-color-btn-active-border-outline-light) !default;
$btn-light-outline-focus-border-color: var(--pgn-color-btn-focus-border-outline-light) !default;

$btn-light-inverse-color: var(--pgn-color-btn-text-inverse-light) !default;
$btn-light-inverse-bg: var(--pgn-color-btn-bg-inverse-light) !default;
$btn-light-inverse-hover-color: var(--pgn-color-btn-hover-text-inverse-light) !default;
$btn-light-inverse-hover-bg: var(--pgn-color-btn-hover-bg-inverse-light) !default;
$btn-light-inverse-active-color: var(--pgn-color-btn-active-text-inverse-light) !default;
$btn-light-inverse-focus-border-color: var(--pgn-color-btn-focus-border-inverse-light) !default;

$btn-light-inverse-outline-color: var(--pgn-color-btn-text-inverse-outline-light) !default;
$btn-light-inverse-outline-border-color: var(--pgn-color-btn-border-inverse-outline-light) !default;
$btn-light-inverse-outline-active-color: var(--pgn-color-btn-active-text-inverse-outline-light) !default;
$btn-light-inverse-outline-active-bg: var(--pgn-color-btn-active-bg-inverse-outline-light) !default;
$btn-light-inverse-outline-active-border-color: var(--pgn-color-btn-active-border-inverse-outline-light) !default;
$btn-light-inverse-outline-hover-color: var(--pgn-color-btn-hover-text-inverse-outline-light) !default;
$btn-light-inverse-outline-hover-bg: var(--pgn-color-btn-hover-bg-inverse-outline-light) !default;
$btn-light-inverse-outline-hover-border-color: var(--pgn-color-btn-hover-border-inverse-outline-light) !default;
$btn-light-inverse-outline-focus-border-color: var(--pgn-color-btn-focus-border-inverse-outline-light) !default;


// SUCCESS BUTTON VARIABLES
$btn-success-bg: var(--pgn-color-btn-bg-success) !default;
$btn-success-color: var(--pgn-color-btn-text-success) !default;
$btn-success-border-color: var(--pgn-color-btn-border-success) !default;
$btn-success-hover-bg: var(--pgn-color-btn-hover-bg-success) !default;
$btn-success-hover-color: var(--pgn-color-btn-hover-text-success) !default;
$btn-success-hover-border-color: var(--pgn-color-btn-hover-border-success) !default;
$btn-success-active-bg: var(--pgn-color-btn-active-bg-success) !default;
$btn-success-active-color: var(--pgn-color-btn-active-text-success) !default;
$btn-success-active-border-color: var(--pgn-color-btn-active-border-success) !default;
$btn-success-focus-border-color: var(--pgn-color-btn-focus-border-success) !default;

$btn-success-outline-color: var(--pgn-color-btn-text-outline-success) !default;
$btn-success-outline-border-color: var(--pgn-color-btn-border-outline-success) !default;
$btn-success-outline-hover-bg: var(--pgn-color-btn-hover-bg-outline-success) !default;
$btn-success-outline-hover-color: var(--pgn-color-btn-hover-text-outline-success) !default;
$btn-success-outline-hover-border-color: var(--pgn-color-btn-hover-border-outline-success) !default;
$btn-success-outline-active-bg: var(--pgn-color-btn-active-bg-outline-success) !default;
$btn-success-outline-active-color: var(--pgn-color-btn-active-text-outline-success) !default;
$btn-success-outline-active-border-color: var(--pgn-color-btn-active-border-outline-success) !default;
$btn-success-outline-focus-border-color: var(--pgn-color-btn-focus-border-outline-success) !default;

$btn-success-inverse-color: var(--pgn-color-btn-text-inverse-success) !default;
$btn-success-inverse-bg: var(--pgn-color-btn-bg-inverse-success) !default;
$btn-success-inverse-hover-color: var(--pgn-color-btn-hover-text-inverse-success) !default;
$btn-success-inverse-hover-bg: var(--pgn-color-btn-hover-bg-inverse-success) !default;
$btn-success-inverse-active-color: var(--pgn-color-btn-active-text-inverse-success) !default;
$btn-success-inverse-focus-border-color: var(--pgn-color-btn-focus-border-inverse-success) !default;

$btn-success-inverse-outline-color: var(--pgn-color-btn-text-inverse-outline-success) !default;
$btn-success-inverse-outline-border-color: var(--pgn-color-btn-border-inverse-outline-success) !default;
$btn-success-inverse-outline-active-color: var(--pgn-color-btn-active-text-inverse-outline-success) !default;
$btn-success-inverse-outline-active-bg: var(--pgn-color-btn-active-bg-inverse-outline-success) !default;
$btn-success-inverse-outline-active-border-color: var(--pgn-color-btn-active-border-inverse-outline-success) !default;
$btn-success-inverse-outline-hover-color: var(--pgn-color-btn-hover-text-inverse-outline-success) !default;
$btn-success-inverse-outline-hover-bg: var(--pgn-color-btn-hover-bg-inverse-outline-success) !default;
$btn-success-inverse-outline-hover-border-color: var(--pgn-color-btn-hover-border-inverse-outline-success) !default;
$btn-success-inverse-outline-focus-border-color: var(--pgn-color-btn-focus-border-inverse-outline-success) !default;


// WARNING BUTTON VARIABLES
$btn-warning-bg: var(--pgn-color-btn-bg-warning) !default;
$btn-warning-color: var(--pgn-color-btn-text-warning) !default;
$btn-warning-border-color: var(--pgn-color-btn-border-warning) !default;
$btn-warning-hover-bg: var(--pgn-color-btn-hover-bg-warning) !default;
$btn-warning-hover-color: var(--pgn-color-btn-hover-text-warning) !default;
$btn-warning-hover-border-color: var(--pgn-color-btn-hover-border-warning) !default;
$btn-warning-active-bg: var(--pgn-color-btn-active-bg-warning) !default;
$btn-warning-active-color: var(--pgn-color-btn-active-text-warning) !default;
$btn-warning-active-border-color: var(--pgn-color-btn-active-border-warning) !default;
$btn-warning-focus-border-color: var(--pgn-color-btn-focus-border-warning) !default;

$btn-warning-outline-color: var(--pgn-color-btn-text-outline-warning) !default;
$btn-warning-outline-border-color: var(--pgn-color-btn-border-outline-warning) !default;
$btn-warning-outline-hover-bg: var(--pgn-color-btn-hover-bg-outline-warning) !default;
$btn-warning-outline-hover-color: var(--pgn-color-btn-hover-text-outline-warning) !default;
$btn-warning-outline-hover-border-color: var(--pgn-color-btn-hover-border-outline-warning) !default;
$btn-warning-outline-active-bg: var(--pgn-color-btn-active-bg-outline-warning) !default;
$btn-warning-outline-active-color: var(--pgn-color-btn-active-text-outline-warning) !default;
$btn-warning-outline-active-border-color: var(--pgn-color-btn-active-border-outline-warning) !default;
$btn-warning-outline-focus-border-color: var(--pgn-color-btn-focus-border-outline-warning) !default;

$btn-warning-inverse-color: var(--pgn-color-btn-text-inverse-warning) !default;
$btn-warning-inverse-bg: var(--pgn-color-btn-bg-inverse-warning) !default;
$btn-warning-inverse-hover-color: var(--pgn-color-btn-hover-text-inverse-warning) !default;
$btn-warning-inverse-hover-bg: var(--pgn-color-btn-hover-bg-inverse-warning) !default;
$btn-warning-inverse-active-color: var(--pgn-color-btn-active-text-inverse-warning) !default;
$btn-warning-inverse-focus-border-color: var(--pgn-color-btn-focus-border-inverse-warning) !default;

$btn-warning-inverse-outline-color: var(--pgn-color-btn-text-inverse-outline-warning) !default;
$btn-warning-inverse-outline-border-color: var(--pgn-color-btn-border-inverse-outline-warning) !default;
$btn-warning-inverse-outline-active-color: var(--pgn-color-btn-active-text-inverse-outline-warning) !default;
$btn-warning-inverse-outline-active-bg: var(--pgn-color-btn-active-bg-inverse-outline-warning) !default;
$btn-warning-inverse-outline-active-border-color: var(--pgn-color-btn-active-border-inverse-outline-warning) !default;
$btn-warning-inverse-outline-hover-color: var(--pgn-color-btn-hover-text-inverse-outline-warning) !default;
$btn-warning-inverse-outline-hover-bg: var(--pgn-color-btn-hover-bg-inverse-outline-warning) !default;
$btn-warning-inverse-outline-hover-border-color: var(--pgn-color-btn-hover-border-inverse-outline-warning) !default;
$btn-warning-inverse-outline-focus-border-color: var(--pgn-color-btn-focus-border-inverse-outline-warning) !default;


// TERTIARY BUTTON
$btn-tertiary-color: var(--pgn-color-btn-text-tertiary) !default;
$btn-tertiary-bg: var(--pgn-color-btn-bg-tertiary) !default;
$btn-tertiary-border-color: var(--pgn-color-btn-border-tertiary) !default;
$btn-tertiary-hover-color: var(--pgn-color-btn-hover-text-tertiary) !default;
$btn-tertiary-hover-bg: var(--pgn-color-btn-hover-bg-tertiary) !default;
$btn-tertiary-hover-border-color: var(--pgn-color-btn-hover-border-tertiary) !default;
$btn-tertiary-active-color: var(--pgn-color-btn-active-text-tertiary) !default;
$btn-tertiary-active-bg: var(--pgn-color-btn-active-bg-tertiary) !default;
$btn-tertiary-active-border-color: var(--pgn-color-btn-active-border-tertiary) !default;
$btn-tertiary-focus-border-color: var(--pgn-color-btn-focus-border-tertiary) !default;

$btn-inverse-tertiary-color: var(--pgn-color-btn-text-inverse-tertiary) !default;
$btn-inverse-tertiary-bg: var(--pgn-color-btn-bg-inverse-tertiary) !default;
$btn-inverse-tertiary-border-color: var(--pgn-color-btn-border-inverse-tertiary) !default;
$btn-inverse-tertiary-hover-bg: var(--pgn-color-btn-hover-bg-inverse-tertiary) !default;
$btn-inverse-tertiary-hover-color: var(--pgn-color-btn-hover-text-inverse-tertiary) !default;
$btn-inverse-tertiary-hover-border-color: var(--pgn-color-btn-hover-border-inverse-tertiary) !default;
$btn-inverse-tertiary-active-color: var(--pgn-color-btn-active-text-inverse-tertiary) !default;
$btn-inverse-tertiary-active-bg: var(--pgn-color-btn-active-bg-inverse-tertiary) !default;
$btn-inverse-tertiary-active-border-color: var(--pgn-color-btn-active-border-inverse-tertiary) !default;
$btn-inverse-tertiary-focus-border-color: var(--pgn-color-btn-focus-border-secondary) !default;

$btn-focus-border-gap: $btn-focus-width + $btn-focus-gap !default;
$btn-focus-distance-to-border: $btn-focus-border-gap + $btn-border-width !default;

$btn-focus-border-radius: calc(#{$btn-border-radius} + #{$btn-focus-border-gap}) !default;
$btn-focus-border-radius-lg: $btn-focus-border-radius !default;
$btn-focus-border-radius-sm: $btn-border-radius !default;
