$btn-padding-y: var(--pgn-btn-padding-y-base) !default;
$btn-padding-x: var(--pgn-btn-padding-x-base) !default;
$btn-font-family: var(--pgn-btn-font-family) !default;
$btn-font-size: var(--pgn-btn-font-size-base) !default;
$btn-line-height: var(--pgn-btn-line-height-base) !default;

$btn-padding-y-sm: var(--pgn-btn-padding-y-sm) !default;
$btn-padding-x-sm: var(--pgn-btn-padding-x-sm) !default;
$btn-font-size-sm: var(--pgn-btn-font-size-sm) !default;
$btn-line-height-sm: var(--pgn-btn-line-height-sm) !default;

$btn-padding-y-lg: var(--pgn-btn-padding-y-lg) !default;
$btn-padding-x-lg: var(--pgn-btn-padding-x-lg) !default;
$btn-font-size-lg: var(--pgn-btn-font-size-lg) !default;
$btn-line-height-lg: var(--pgn-btn-line-height-lg) !default;

$btn-border-width: var(--pgn-btn-border-width) !default;

$btn-font-weight: var(--pgn-btn-font-weight) !default;
$btn-box-shadow: var(--pgn-btn-box-shadow-base) !default;
$btn-focus-width: var(--pgn-btn-focus-width) !default;
$btn-focus-gap: var(--pgn-btn-focus-gap) !default;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
$btn-disabled-opacity: var(--pgn-btn-disabled-opacity) !default;
$btn-active-box-shadow: var(--pgn-btn-box-shadow-active) !default;

$btn-tertiary-color: var(--pgn-btn-tertiary-color) !default;
$btn-tertiary-bg: transparent !default;

$btn-tertiary-hover-bg: var(--pgn-btn-tertiary-bg-hover) !default;
$btn-tertiary-active-bg: var(--pgn-btn-tertiary-bg-active) !default;
$btn-inverse-tertiary-color: var(--pgn-btn-tertiary-inverse-color) !default;
$btn-inverse-tertiary-bg: var(--pgn-btn-tertiary-inverse-bg-base) !default;
$btn-inverse-tertiary-hover-bg: var(--pgn-btn-tertiary-inverse-bg-hover) !default;
$btn-inverse-tertiary-active-bg: var(--pgn-btn-tertiary-inverse-bg-active) !default;

$btn-link-disabled-color: var(--pgn-btn-disabled-link-color) !default;

$btn-block-spacing-y: var(--pgn-btn-block-spacing-y) !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: var(--pgn-btn-border-radius-base) !default;
$btn-border-radius-lg: var(--pgn-btn-border-radius-lg) !default;
$btn-border-radius-sm: var(--pgn-btn-border-radius-sm) !default;

$btn-transition: var(--pgn-btn-transition) !default;

$btn-focus-border-gap: $btn-focus-width + $btn-focus-gap !default;
$btn-focus-distance-to-border: $btn-focus-border-gap + $btn-border-width !default;

$btn-focus-border-radius: calc(#{$btn-border-radius} + #{$btn-focus-border-gap}) !default;
$btn-focus-border-radius-lg: $btn-focus-border-radius !default;
$btn-focus-border-radius-sm: $btn-border-radius !default;
