@import "variables";
@import "button-bootstrap";

@mixin button-variant(
  $btn-variant-bg, $btn-variant-border, $btn-variant-hover-bg: darken($btn-variant-bg, 7.5%),
  $btn-variant-hover-border: darken($btn-variant-border, 10%),
  $btn-variant-active-bg: darken($btn-variant-bg, 10%),
  $btn-variant-active-border: darken($btn-variant-border, 12.5%),
  $btn-variant-color: color-yiq($btn-variant-bg), $btn-variant-hover-color: color-yiq($btn-variant-hover-bg),
  $btn-variant-active-color: color-yiq($btn-variant-active-bg)
) {
  color: $btn-variant-color;

  @include gradient-bg($btn-variant-bg);

  border-color: $btn-variant-border;

  @include box-shadow(var(--pgn-btn-box-shadow-base));

  @include hover {
    color: $btn-variant-hover-color;

    @include gradient-bg($btn-variant-hover-bg);

    border-color: $btn-variant-hover-border;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: color-yiq($btn-variant-bg);
    background-color: $btn-variant-bg;
    border-color: $btn-variant-border;

    // Remove CSS gradients if they're enabled
    @if $enable-gradients {
      background-image: none;
    }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $btn-variant-active-color;
    background-color: $btn-variant-active-bg;

    @if $enable-gradients {
      background-image: none; // Remove the gradient for the pressed/active state
    }

    border-color: $btn-variant-active-border;
  }
}

// OVERRIDE FROM BOOTSTRAP
// We do this to better control active and focus states.
@mixin button-outline-variant(
  $btn-outline-variant-color, $btn-outline-variant-color-hover: color-yiq($btn-outline-variant-color),
  $btn-outline-variant-active-bg: $btn-outline-variant-color,
  $btn-outline-variant-active-border: $btn-outline-variant-color
) {
  color: $btn-outline-variant-color;
  border-color: $btn-outline-variant-color;

  @include hover {
    color: $btn-outline-variant-color-hover;
    background-color: $btn-outline-variant-active-bg;
    border-color: $btn-outline-variant-active-border;
  }

  &.disabled,
  &:disabled {
    color: $btn-outline-variant-color;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($btn-outline-variant-active-bg);
    background-color: $btn-outline-variant-active-bg;
    border-color: $btn-outline-variant-active-border;
  }
}

// OVERRIDE FROM BOOTSTRAP
// No changes made. We do this to keep all button related mixins together,
//
// Button sizes
@mixin button-size($btn-size-padding-y, $btn-size-padding-x, $btn-size-font-size,
$btn-size-line-height, $btn-size-border-radius) {
  padding: $btn-size-padding-y $btn-size-padding-x;

  @include font-size($btn-size-font-size);

  line-height: $btn-size-line-height;

  // Manually declare to provide an override to the browser default
  @include border-radius($btn-size-border-radius, 0);
}

// ------------------------
// BELOW ARE EDX EXTENSIONS
// ------------------------

//
// A new variant of button (inverse)
//
@mixin button-inverse-variant(
  $btn-inverse-variant-color, $btn-inverse-variant-bg: color-yiq($btn-inverse-variant-color),
  $btn-inverse-variant-active-bg: $btn-inverse-variant-color,
  $btn-inverse-variant-active-border: $btn-inverse-variant-color
) {
  color: $btn-inverse-variant-color;
  border-color: transparent;
  background-color: $btn-inverse-variant-bg;

  @include hover {
    color: darken($btn-inverse-variant-color, 7.5%);
    background-color: darken($btn-inverse-variant-bg, 7.5%);
    border-color: transparent;
  }

  &.disabled,
  &:disabled {
    color: $btn-inverse-variant-color;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: darken($btn-inverse-variant-color, 10%);
    background: #EEEEEE;
  }
}

@mixin button-focus($ring-color) {
  &.focus,
  &:focus {
    position: relative;
    outline: 0;
    box-shadow: none;

    $distance: var(--pgn-btn-focus-width) + var(--pgn-btn-focus-gap);
    $distance-include-btn-border: $distance + var(--pgn-btn-border-width);

    &::before {
      content: "";
      position: absolute;
      top: calc(#{$distance-include-btn-border} * -1);
      right: calc(#{$distance-include-btn-border} * -1);
      bottom: calc(#{$distance-include-btn-border} * -1);
      left: calc(#{$distance-include-btn-border} * -1);
      border: solid var(--pgn-btn-focus-width) $ring-color;
      border-radius: calc(#{var(--pgn-btn-border-radius-base)} + #{$distance});
    }

    &.btn-lg::before {
      border-radius: calc(#{var(--pgn-btn-border-radius-lg)} + #{$distance});
    }

    &.btn-sm::before {
      border-radius: calc(#{var(--pgn-btn-border-radius-sm)} + #{$distance});
    }

    &:active,
    &.active {
      &::before {
        opacity: .75;
      }
    }

    // Disabled buttons should not have focus rings
    &:disabled,
    &.disabled {
      &::before {
        display: none;
      }
    }
  }
}

//
// Override Bootstrap's button definition.
// We do this to get more control over focus
// and hover states, as well as to define
// an extra button variant: btn-inverse-${color}
//

//
// Base styles
//

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--pgn-btn-font-family);
  font-weight: var(--pgn-btn-font-width);
  color: var(--pgn-body-color);
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: var(--pgn-btn-border-width) solid transparent;

  @include button-size(var(--pgn-btn-padding-y-base), var(--pgn-btn-padding-x-base), var(--pgn-btn-font-size-base),
  var(--pgn-btn-line-height-base), var(--pgn-btn-border-radius-base));
  @include transition(var(--pgn-btn-transition));

  @include hover {
    color: var(--pgn-body-color);
    text-decoration: none;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: var(--pgn-btn-disabled-opacity);
  }

  // Button Icon Sizes

  .btn-icon-before {
    margin-inline-end: .5rem;
    margin-left: -.25em;

    [dir="rtl"] & {
      margin-right: -.25em;
      margin-left: .5rem;
    }
  }

  .btn-icon-after {
    margin-inline-start: .5rem;
    margin-right: -.25em;

    [dir="rtl"] & {
      margin-right: .5rem;
      margin-left: -.25em;
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    $theme-color-bg: $value;
    $theme-color-border: $value;

    $theme-color-hover-bg: theme-color($color, "hover");
    $theme-color-hover-border: theme-color($color, "hover");
    $theme-color-hover-border-active-bg: theme-color($color, "active");
    $theme-color-active-border: theme-color($color, "active");

    // Defaults
    $theme-color-hover-bg: darken($theme-color-bg, 7.5%) !default;
    $theme-color-hover-border: darken($theme-color-border, 10%) !default;
    $theme-color-hover-border-active-bg: darken($theme-color-bg, 10%) !default;
    $theme-color-active-border: darken($theme-color-border, 12.5%) !default;

    @include button-variant(
      $theme-color-bg,
      $theme-color-border,
      $theme-color-hover-bg,
      $theme-color-hover-border,
      $theme-color-hover-border-active-bg,
      $theme-color-active-border
    );
    @include button-focus(theme-color($color, "focus"));
  }

  .btn-outline-#{$color} {
    $text-and-border: $value;

    $btn-outline-color-hover: theme-color($color, "hover");
    $btn-outline-active-background: theme-color($color, "background");
    $btn-outline-active-border: theme-color($color, "active");

    // Defaults
    $color-hover: color-yiq($value) !default;
    $active-background: $value !default;
    $btn-outline-active-border: $value !default;

    @include button-outline-variant(
      $text-and-border,
      $btn-outline-color-hover,
      $btn-outline-active-background,
      $btn-outline-active-border,
    );
    @include button-focus(theme-color($color, "focus"));
  }

  .btn-inverse-#{$color} {
    $text: $value;

    $active-background: theme-color($color, "background");
    $active-border: theme-color($color, "active");

    // Defaults
    $btn-inverse-bg: color-yiq($value) !default;
    $btn-inverse-active-bg: $value !default;
    $btn-inverse-active-border: $value !default;

    @include button-inverse-variant(
      $text,
      $btn-inverse-bg,
      $btn-inverse-active-bg,
      $btn-inverse-active-border,
    );
    @include button-focus(var(--pgn-color-white));
  }

  .btn-inverse-outline-#{$color} {
    $text-and-border: var(--pgn-color-white);

    $color-hover: theme-color($color, "hover");
    $active-background: theme-color($color, "background");
    $active-border: transparent;

    // Defaults
    $color-hover: color-yiq($value) !default;
    $btn-inverse-outline-active-bg: $value !default;
    $btn-inverse-outline-active-border: $value !default;

    @include button-outline-variant(
      $text-and-border,
      $color-hover,
      $btn-inverse-outline-active-bg,
      $btn-inverse-outline-active-border,
    );
    @include button-focus(var(--pgn-color-white));
  }
}

//
// Tertiary buttons
//

.btn-tertiary {
  $button-tertiary-background: $btn-tertiary-bg;
  $button-tertiary-border: transparent;
  $hover-background: var(--pgn-btn-tertiary-bg-hover);
  $button-tertiary-hover-border: transparent;
  $button-tertiary-active-bg: var(--pgn-btn-tertiary-bg-active);
  $button-tertiary-active-border: transparent;

  @include button-variant(
    $button-tertiary-background,
    $button-tertiary-border,
    $hover-background,
    $button-tertiary-hover-border,
    $button-tertiary-active-bg,
    $button-tertiary-active-border,
    var(--pgn-btn-tertiary-color),
    var(--pgn-btn-tertiary-color),
    var(--pgn-btn-tertiary-color)
  );
  @include button-focus(theme-color("primary", "focus"));
}

.btn-inverse-tertiary {
  $button-inverse-tertiary-bg: $btn-tertiary-bg;
  $button-inverse-tertiary-border: transparent;
  $hover-background: var(--pgn-btn-tertiary-inverse-bg-hover);
  $button-inverse-hover-border: transparent;
  $button-inverse-tertiary-active-bg: var(--pgn-btn-tertiary-inverse-bg-active);
  $button-inverse-tertiary-active-border: transparent;

  @include button-variant(
    $button-inverse-tertiary-bg,
    $button-inverse-tertiary-border,
    $hover-background,
    $button-inverse-hover-border,
    $button-inverse-tertiary-active-bg,
    $button-inverse-tertiary-active-border,
    var(--pgn-btn-tertiary-inverse-color),
    var(--pgn-btn-tertiary-inverse-color),
    var(--pgn-btn-tertiary-inverse-color)
  );
  @include button-focus(var(--pgn-color-white));
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: var(--pgn-font-weight-normal);
  color: var(--pgn-link-color);
  text-decoration: var(--pgn-link-decoration);

  @include hover {
    color: var(--pgn-link-hover-color);
    text-decoration: var(--pgn-link-hover-decoration);
  }

  &:focus,
  &.focus {
    text-decoration: var(--pgn-link-hover-decoration);
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: var(--pgn-btn-disabled-link-color);
    pointer-events: none;
  }

  // No need for an active state here
}

.btn-light,
.btn-dark {
  @include button-focus(theme-color("primary", "focus"));
}

//
// Button Sizes
//

.btn-lg {
  @include button-size(
    var(--pgn-btn-padding-y-lg), var(--pgn-btn-padding-x-lg), var(--pgn-btn-font-size-lg),
    var(--pgn-btn-line-height-lg), var(--pgn-btn-border-radius-lg)
  );
}

.btn-sm {
  @include button-size(
    var(--pgn-btn-padding-y-sm), var(--pgn-btn-padding-x-sm), var(--pgn-btn-font-size-sm),
    var(--pgn-btn-line-height-sm), var(--pgn-btn-border-radius-sm)
  );
}

//
// Block button
//

.btn-block {
  display: flex;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: var(--pgn-btn-block-spacing-y);
  }
}

.btn-inline {
  line-height: calc(#{var(--pgn-line-height-base)}em - 2 * #{var(--pgn-btn-border-width)});
  font-size: inherit;
  vertical-align: bottom;
  padding: 0 .25em;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

[dir="rtl"] .btn-group > .btn:not(:last-child):not(.dropdown-toggle),
[dir="rtl"] .btn-group > .btn-group:not(:last-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

[dir="rtl"] .btn-group > .btn:not(:first-child),
[dir="rtl"] .btn-group > .btn-group:not(:first-child) > .btn {
  border-radius: var(--pgn-btn-border-radius-base) 0 0 var(--pgn-btn-border-radius-base);
}

[dir="rtl"] .btn-group > .btn:first-child,
[dir="rtl"] .btn-group > .btn-group:first-child > .btn {
  border-top-right-radius: var(--pgn-btn-border-radius-base);
  border-bottom-right-radius: var(--pgn-btn-border-radius-base);
}
