@import "variables";
@import "button-bootstrap";

// TODO Pending decision on usage with CSS variables.
@mixin button-variant(
  $btn-variant-bg, $btn-variant-border, $btn-variant-hover-bg: darken($btn-variant-bg, 7.5%),
  $btn-variant-hover-border: darken($btn-variant-border, 10%),
  $btn-variant-active-bg: darken($btn-variant-bg, 10%),
  $btn-variant-active-border: darken($btn-variant-border, 12.5%),
  $btn-variant-color: color-yiq($btn-variant-bg), $btn-variant-hover-color: color-yiq($btn-variant-hover-bg),
  $btn-variant-active-color: color-yiq($btn-variant-active-bg)
) {
  color: $btn-variant-color;

  @include gradient-bg($btn-variant-bg);

  border-color: $btn-variant-border;

  @include box-shadow($btn-box-shadow);

  @include hover {
    color: $btn-variant-hover-color;

    @include gradient-bg($btn-variant-hover-bg);

    border-color: $btn-variant-hover-border;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: $btn-variant-color;
    background-color: $btn-variant-bg;
    border-color: $btn-variant-border;

    // Remove CSS gradients if they're enabled
    @if $enable-gradients {
      background-image: none;
    }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $btn-variant-active-color;
    background-color: $btn-variant-active-bg;

    @if $enable-gradients {
      background-image: none; // Remove the gradient for the pressed/active state
    }

    border-color: $btn-variant-active-border;
  }
}

// OVERRIDE FROM BOOTSTRAP
// We do this to better control active and focus states.
@mixin button-outline-variant(
  $color-val,
  $color-val-hover: color-yiq($color-val),
  $color-val-active-bg: $color-val,
  $btn-outline-variant-active-border: $color-val
) {
  color: $color-val;
  border-color: $color-val;

  @include hover {
    color: $color-val-hover;
    background-color: $color-val-active-bg;
    border-color: $btn-outline-variant-active-border;
  }

  &.disabled,
  &:disabled {
    color: $color-val;
    background-color: transparent;
    border-color: $color-val;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($color-val-active-bg);
    background-color: $color-val-active-bg;
    border-color: $btn-outline-variant-active-border;
  }
}

// OVERRIDE FROM BOOTSTRAP
// No changes made. We do this to keep all button related mixins together,
//
// Button sizes
@mixin button-size(
  $btn-size-padding-y, $btn-size-padding-x, $btn-size-font-size,
  $btn-size-line-height, $btn-size-border-radius
) {
  padding: $btn-size-padding-y $btn-size-padding-x;

  @include font-size($btn-size-font-size);

  line-height: $btn-size-line-height;

  // Manually declare to provide an override to the browser default
  @include border-radius($btn-size-border-radius, 0);
}

// ------------------------
// BELOW ARE EDX EXTENSIONS
// ------------------------

//
// A new variant of button (inverse)
//
@mixin button-inverse-variant(
  $btn-inverse-variant-color, $btn-inverse-variant-bg: color-yiq($btn-inverse-variant-color),
  $btn-inverse-variant-active-bg: $btn-inverse-variant-color,
  $btn-inverse-variant-active-border: $btn-inverse-variant-color
) {
  color: $btn-inverse-variant-color;
  border-color: transparent;
  background-color: $btn-inverse-variant-bg;

  &:not(:disabled):not(.disabled) {
    @include hover {
      color: darken($btn-inverse-variant-color, 7.5%);
      background-color: darken($btn-inverse-variant-bg, 7.5%);
      border-color: transparent;
    }
  }

  &.disabled,
  &:disabled {
    color: $btn-inverse-variant-color;
    background-color: $btn-inverse-variant-bg;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: darken($btn-inverse-variant-color, 10%);
    background: #EEEEEE;
  }
}

@mixin button-focus($ring-color) {
  &.focus,
  &:focus {
    position: relative;
    outline: 0;
    box-shadow: none;

    &::before {
      content: "";
      position: absolute;
      top: calc(#{$btn-focus-distance-to-border} * -1);
      right: calc(#{$btn-focus-distance-to-border} * -1);
      bottom: calc(#{$btn-focus-distance-to-border} * -1);
      left: calc(#{$btn-focus-distance-to-border} * -1);
      border: solid $btn-focus-width $ring-color;
      border-radius: $btn-focus-border-radius;
    }

    &.btn-lg::before {
      border-radius: $btn-focus-border-radius-lg;
    }

    &.btn-sm::before {
      border-radius: $btn-focus-border-radius-sm;
    }

    &:active,
    &.active {
      &::before {
        opacity: .75;
      }
    }

    // Disabled buttons should not have focus rings
    &:disabled,
    &.disabled {
      &::before {
        display: none;
      }
    }
  }
}

//
// Override Bootstrap's button definition.
// We do this to get more control over focus
// and hover states, as well as to define
// an extra button variant: btn-inverse-${color}
//

//
// Base styles
//

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;

  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size,
  $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  @include hover {
    color: $body-color;
    text-decoration: none;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
  }

  // Button Icon Sizes

  .btn-icon-before {
    margin-inline-end: .5rem;
    margin-left: -.25em;

    [dir="rtl"] & {
      margin-right: -.25em;
      margin-left: .5rem;
    }
  }

  .btn-icon-after {
    margin-inline-start: .5rem;
    margin-right: -.25em;

    [dir="rtl"] & {
      margin-right: .5rem;
      margin-left: -.25em;
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    $theme-color-bg: $value;
    $theme-color-border: $value;

    $theme-color-hover-bg: theme-color($color, "hover");
    $theme-color-hover-border: theme-color($color, "hover");
    $theme-color-hover-border-active-bg: theme-color($color, "active");
    $theme-color-active-border: theme-color($color, "active");

    // Defaults
    $theme-color-hover-bg: darken($theme-color-bg, 7.5%) !default;
    $theme-color-hover-border: darken($theme-color-border, 10%) !default;
    $theme-color-hover-border-active-bg: darken($theme-color-bg, 10%) !default;
    $theme-color-active-border: darken($theme-color-border, 12.5%) !default;

    @include button-variant(
      $theme-color-bg,
      $theme-color-border,
      $theme-color-hover-bg,
      $theme-color-hover-border,
      $theme-color-hover-border-active-bg,
      $theme-color-active-border
    );
    @include button-focus(theme-color($color, "focus"));
  }

  .btn-outline-#{$color} {
    $text-and-border: $value;

    $btn-outline-color-hover: theme-color($color, "hover");
    $btn-outline-active-background: theme-color($color, "background");
    $btn-outline-active-border: theme-color($color, "active");

    // Defaults
    $color-hover: color-yiq($value) !default;
    $active-background: $value !default;
    $btn-outline-active-border: $value !default;

    @include button-outline-variant(
      $text-and-border,
      $btn-outline-color-hover,
      $btn-outline-active-background,
      $btn-outline-active-border,
    );
    @include button-focus(theme-color($color, "focus"));
  }

  .btn-inverse-#{$color} {
    $text: $value;

    $active-background: theme-color($color, "background");
    $active-border: theme-color($color, "active");

    // Defaults
    $btn-inverse-bg: color-yiq($value) !default;
    $btn-inverse-active-bg: $value !default;
    $btn-inverse-active-border: $value !default;

    @include button-inverse-variant(
      $text,
      $btn-inverse-bg,
      $btn-inverse-active-bg,
      $btn-inverse-active-border,
    );
    @include button-focus($white);
  }

  .btn-inverse-outline-#{$color} {
    $text-and-border: $white;

    $color-hover: theme-color($color, "hover");
    $active-bg-color: theme-color($color, "background");
    $active-border-color: transparent;

    // Defaults
    $color-hover: color-yiq($value) !default;
    $active-bg-color: $value !default;
    $active-border-color: $value !default;

    @include button-outline-variant(
      $text-and-border,
      $color-hover,
      $active-bg-color,
      $active-border-color,
    );
    @include button-focus($white);
  }
}

//
// Tertiary buttons
//

.btn-tertiary {
  $button-tertiary-background: $btn-tertiary-bg;
  $button-tertiary-border: transparent;
  $hover-background: $btn-tertiary-hover-bg;
  $button-tertiary-hover-border: transparent;
  $button-tertiary-active-bg: $btn-tertiary-active-bg;
  $button-tertiary-active-border: transparent;

  @include button-variant(
    $button-tertiary-background,
    $button-tertiary-border,
    $hover-background,
    $button-tertiary-hover-border,
    $button-tertiary-active-bg,
    $button-tertiary-active-border,
    $btn-tertiary-color,
    $btn-tertiary-color,
    $btn-tertiary-color
  );

  &.disabled,
  &:disabled {
    color: $yiq-text-dark;
  }

  @include button-focus(theme-color("primary", "focus"));
}

.btn-inverse-tertiary {
  $button-inverse-tertiary-bg: $btn-tertiary-bg;
  $button-inverse-tertiary-border: transparent;
  $hover-background: $btn-inverse-tertiary-hover-bg;
  $button-inverse-hover-border: transparent;
  $button-inverse-tertiary-active-bg: $btn-inverse-tertiary-active-bg;
  $button-inverse-tertiary-active-border: transparent;

  @include button-variant(
    $button-inverse-tertiary-bg,
    $button-inverse-tertiary-border,
    $hover-background,
    $button-inverse-hover-border,
    $button-inverse-tertiary-active-bg,
    $button-inverse-tertiary-active-border,
    $btn-inverse-tertiary-color,
    $btn-inverse-tertiary-color,
    $btn-inverse-tertiary-color
  );

  &.disabled,
  &:disabled {
    color: $yiq-text-light;
  }

  @include button-focus($white);
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  text-decoration: $link-decoration;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}

.btn-light,
.btn-dark {
  @include button-focus(theme-color("primary", "focus"));
}

//
// Button Sizes
//

.btn-lg {
  @include button-size(
    $btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg,
    $btn-line-height-lg, $btn-border-radius-lg
  );
}

.btn-sm {
  @include button-size(
    $btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm,
    $btn-line-height-sm, $btn-border-radius-sm
  );
}

//
// Block button
//

.btn-block {
  display: flex;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

.btn-inline {
  line-height: calc(#{$line-height-base}em - 2 * #{$btn-border-width});
  font-size: inherit;
  vertical-align: bottom;
  padding: 0 .25em;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

[dir="rtl"] .btn-group > .btn:not(:last-child):not(.dropdown-toggle),
[dir="rtl"] .btn-group > .btn-group:not(:last-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

[dir="rtl"] .btn-group > .btn:not(:first-child),
[dir="rtl"] .btn-group > .btn-group:not(:first-child) > .btn {
  border-radius: $btn-border-radius 0 0 $btn-border-radius;
}

[dir="rtl"] .btn-group > .btn:first-child,
[dir="rtl"] .btn-group > .btn-group:first-child > .btn {
  border-top-right-radius: $btn-border-radius;
  border-bottom-right-radius: $btn-border-radius;
}
