$data-table-background-color: var(--pgn-color-data-table-bg-base) !default;
$data-table-border-color: var(--pgn-color-data-table-border) !default;
$data-table-border: var(--pgn-size-data-table-border) !default;
$data-table-box-shadow: var(--pgn-elevation-data-table-box-shadow) !default;
$data-table-padding-x: var(--pgn-spacing-data-table-padding-x) !default;
$data-table-padding-y: var(--pgn-spacing-data-table-padding-y) !default;
$data-table-padding-small: var(--pgn-spacing-data-table-padding-small) !default;
$data-table-head-cell-padding: var(--pgn-spacing-data-table-padding-head-cell) !default;
$data-table-cell-padding: var(--pgn-spacing-data-table-padding-cell) !default;
$data-table-footer-position: var(--pgn-spacing-data-table-footer-position) !default;
$data-table-pagination-dropdown-max-height: var(--pgn-size-data-table-dropdown-pagination-max-height) !default;
$data-table-pagination-dropdown-min-width: var(--pgn-size-data-table-dropdown-pagination-min-width) !default;
$data-table-is-loading-bg: var(--pgn-color-data-table-bg-is-loading) !default;
