
$table-border: 1px solid $gray-200!default;
$table-padding-x: 14px;
$table-padding-y: 14px;
$table-padding-small: 8px;
$table-cell-padding: 8px 14px;
$table-footer-position: flex-end;

.pgn__table-wrapper {
  border: $table-border;
}

.pgn__bulk-actions {
  display: flex;
}

.pgn__table-container {
  width: 100%;
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-bottom: $table-border;
}

.pgn__table {
  width: 100%;
  border-bottom: $table-border;

  &.is-striped tr:nth-child(even) {
    background-color: $light-200;
  }
  th {
    background-color: $light-300;
    padding: $table-cell-padding;
  }
  td {
    padding: $table-cell-padding;
    line-height: 24px;
  }
  & tr.is-selected {
    background-color: $info-100!important;
  }
}

.pgn__table-cell-wrap {
  max-width: 20vw;
  display: block;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pgn__table-empty {
  padding: $table-padding-x $table-padding-y
}

.pgn__table-actions {
  display: flex;
  justify-content: space-between;
  padding-bottom: $table-padding-small;
}


.pgn__table-status-bar {
  padding: $table-padding-y $table-padding-x 0 $table-padding-x;
}

.pgn__table-filters {
  display: flex;
}

.pgn__table-filters-breakout-filter {
  align-self: flex-end;
}

.pgn__table-filters-dropdown-item {
  padding: $table-padding-small 14px;
  min-width: 15em;
}

.pgn__table-status {
    display: flex;
    padding: 0px 0px $table-padding-small 0px;
    justify-content: space-between;

  .pgn__table-status-left {
    align-self: flex-end;
  }
}

.pgn__table-footer {
  display: flex;
  justify-content: space-between;
  padding: $table-padding-x $table-padding-y;

  .pgn__table-footer-row-status {
    align-self: $table-footer-position;
  }
}

.pgn__table-pagination {
  display: flex;
  .pgn__page-count {
    align-self: $table-footer-position;
  }
}
