@import "~font-awesome/css/font-awesome.min.css";
@import '~@edx/edx-bootstrap/sass/open-edx/theme';
@import "~bootstrap/scss/bootstrap.scss";
@import "../src/index.scss";


table {
  @extend .table !optional;
  -webkit-font-smoothing: auto;

  span {
    display: inline-block;
  }
}
