$avatar-border-radius: var(--pgn-size-avatar-border-radius) !default;
$avatar-border: var(--pgn-size-avatar-border-base) !default;
$avatar-color-border: var(--pgn-color-avatar-border) !default;

$avatar-size-xs: var(--pgn-size-avatar-xs) !default;
$avatar-size-sm: var(--pgn-size-avatar-sm) !default;
$avatar-size: var(--pgn-size-avatar-base) !default;
$avatar-size-lg: var(--pgn-size-avatar-lg) !default;
$avatar-size-xl: var(--pgn-size-avatar-xl) !default;
$avatar-size-xxl: var(--pgn-size-avatar-xxl) !default;
$avatar-size-huge: var(--pgn-size-avatar-huge) !default;
