$avatar-border-radius: var(--pgn-avatar-border-radius) !default;
$avatar-border: var(--pgn-avatar-border-base) !default;

$avatar-size-xs: var(--pgn-avatar-size-xs) !default;
$avatar-size-sm: var(--pgn-avatar-size-sm) !default;
$avatar-size: var(--pgn-avatar-size-base) !default;
$avatar-size-lg: var(--pgn-avatar-size-lg) !default;
$avatar-size-xl: var(--pgn-avatar-size-xl) !default;
$avatar-size-xxl: var(--pgn-avatar-size-xxl) !default;
$avatar-size-huge: var(--pgn-avatar-size-huge) !default;
