@import "variables";

.pgn__avatar {
  border-radius: var(--pgn-avatar-border-radius);
  border: var(--pgn-avatar-border-base);
  display: inline-block;
  height: var(--pgn-avatar-size-base);
  overflow: hidden;
  width: var(--pgn-avatar-size-base);
  object-fit: cover;

  &.pgn__avatar-xs {
    height: var(--pgn-avatar-size-xs);
    width: var(--pgn-avatar-size-xs);
  }

  &.pgn__avatar-sm {
    height: var(--pgn-avatar-size-sm);
    width: var(--pgn-avatar-size-sm);
  }

  &.pgn__avatar-md {
    height: var(--pgn-avatar-size-base);
    width: var(--pgn-avatar-size-base);
  }

  &.pgn__avatar-lg {
    height: var(--pgn-avatar-size-lg);
    width: var(--pgn-avatar-size-lg);
  }

  &.pgn__avatar-xl {
    height: var(--pgn-avatar-size-xl);
    width: var(--pgn-avatar-size-xl);
  }

  &.pgn__avatar-xxl {
    height: var(--pgn-avatar-size-xxl);
    width: var(--pgn-avatar-size-xxl);
  }

  &.pgn__avatar-huge {
    height: var(--pgn-avatar-size-huge);
    width: var(--pgn-avatar-size-huge);
  }
}
