// Toasts

$toast-max-width: var(--pgn-size-toast-max-width) !default;
$toast-padding-x: var(--pgn-spacing-toast-padding-x) !default;
$toast-padding-y: var(--pgn-spacing-toast-padding-y) !default;
$toast-font-size: var(--pgn-typography-toast-font-size) !default;
$toast-color: var(--pgn-color-toast-base) !default;
$toast-background-color: var(--pgn-color-toast-bg) !default;
$toast-border-width: var(--pgn-size-toast-border-width) !default;
$toast-border-color: var(--pgn-color-toast-border) !default;
$toast-border-radius: var(--pgn-size-toast-border-radius) !default;
$toast-box-shadow: var(--pgn-elevation-toast-box-shadow) !default;

$toast-header-color: var(--pgn-color-toast-header-text) !default;
$toast-header-background-color: var(--pgn-color-toast-header-bg) !default;
$toast-header-border-color: var(--pgn-color-toast-header-border) !default;

$toast-container-gutter-lg: var(--pgn-spacing-toast-container-gutter-lg) !default;
$toast-container-gutter-sm: var(--pgn-spacing-toast-container-gutter-sm) !default;
