// Toasts

$toast-max-width: var(--pgn-toast-max-width) !default;
$toast-padding-x: var(--pgn-toast-padding-x) !default;
$toast-padding-y: var(--pgn-toast-padding-y) !default;
$toast-font-size: var(--pgn-toast-font-size) !default;
$toast-color: var(--pgn-toast-color-base) !default;
$toast-background-color: var(--pgn-toast-color-background) !default;
$toast-border-width: var(--pgn-toast-border-width) !default;
$toast-border-color: var(--pgn-toast-border-color) !default;
$toast-border-radius: var(--pgn-toast-border-radius) !default;
$toast-box-shadow: var(--pgn-toast-box-shadow) !default;

$toast-header-color: var(--pgn-toast-header-color-base) !default;
$toast-header-background-color: var(--pgn-toast-header-color-background) !default;
$toast-header-border-color: var(--pgn-toast-header-color-border) !default;

$toast-container-gutter-lg: var(--pgn-toast-container-gutter-lg) !default;
$toast-container-gutter-sm: var(--pgn-toast-container-gutter-sm) !default;
