@import "bootstrap-toast";

.toast {
  background-color: var(--pgn-color-toast-bg);
  box-shadow: var(--pgn-elevation-toast-box-shadow);
  margin: 0;
  padding: 1rem;
  position: relative;
  border-radius: var(--pgn-size-toast-border-radius);
  z-index: 2;

  &.show {
    display: flex;
    flex-direction: column;
  }

  .toast-header-btn-container {
    margin: -.25rem -.5rem;
    align-self: flex-start;
  }

  .btn {
    margin-top: .75rem;
    align-self: flex-start;
  }

  .toast-header {
    align-items: center;
    border-bottom: 0;
    justify-content: space-between;
    padding: 0;

    p {
      font-size: var(--pgn-typography-font-size-small-base);
      margin: 0;
      padding-right: .75rem;
    }

    & + .btn {
      margin-top: 1rem;
    }
  }

  @media (--pgn-size-breakpoint-max-width-sm) {
    max-width: 100%;
  }

  @media (--pgn-size-breakpoint-min-width-md) {
    min-width: var(--pgn-size-toast-max-width);
    max-width: var(--pgn-size-toast-max-width);
  }
}
