@import "variables";

.pgn__toast {
  background-color: $toast-background-color;
  box-shadow: $toast-box-shadow;
  margin: 0;
  padding: 1rem;
  position: relative;
  border-radius: $toast-border-radius;
  z-index: 1000;
  display: flex;
  flex-direction: column;

  .btn {
    margin-top: .75rem;
    align-self: flex-start;
  }

  .pgn__toast__header {
    display: flex;
    align-items: center;
    border-bottom: 0;
    justify-content: space-between;
    padding: 0;

    .pgn__toast__message {
      font-size: $small-font-size;
      margin: 0;
      padding-right: .75rem;
      color: $toast-header-color;
    }

    & + .btn {
      margin-top: 1rem;
    }
  }

  .pgn__toast__optional-actions {
    display: flex;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 768px) {
    max-width: 100%;
  }

  @media only screen and (min-width: 768px) {
    min-width: $toast-max-width;
    max-width: $toast-max-width;
  }
}

.pgn__toast-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: fixed;
  z-index: 3000;
}
