@import "variables";

.toast-container {
  bottom: var(--pgn-toast-container-gutter-lg);
  left: var(--pgn-toast-container-gutter-lg);
  position: fixed;
  z-index: 2;

  [dir="rtl"] & {
    right: var(--pgn-toast-container-gutter-lg);
    left: 0;
  }

  @media only screen and (max-width: 768px) {
    bottom: var(--pgn-toast-container-gutter-sm);
    right: var(--pgn-toast-container-gutter-sm);
    left: var(--pgn-toast-container-gutter-sm);

    [dir="rtl"] & {
      left: var(--pgn-toast-container-gutter-sm);
      right: var(--pgn-toast-container-gutter-sm);
    }
  }
}
