@import "variables";

$icon-width: 32px;
$input-bg: white;
$focus-color: $primary-500;
$focus-border-width: 2px;
$difference-focus-default-border-width: $focus-border-width - $input-border-width;
@mixin input-box-size($padding-x: $input-padding-x) {
  &.with-leading-icon {
    .form-control {
      padding-left: calc(#{$padding-x} + #{$icon-width});
    }
  }
  &.with-trailing-icon {
    .form-control {
      padding-right: calc(#{$padding-x} + #{$icon-width});
    }
  }
  .pgn__input-box-icon-leading {
    left: 0;
    padding-left: $padding-x;
    padding-right: $padding-x / 2;
  }
  .pgn__input-box-icon-trailing {
    right: 0;
    padding-left: $padding-x / 2;
    padding-right: $padding-x / 2;
  }
}

.pgn__input-box {
  position: relative;
  display: flex;
  align-items: center;

  .pgn__input-box-icon {
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    button {
      pointer-events: initial;
    }
  }

  @include input-box-size();

  &.pgn__input-box-lg {
    @include input-box-size($input-padding-x-lg);
  }

  &.pgn__input-box-sm {
    @include input-box-size($input-padding-x-sm);
  }
}

@mixin input-floating-label-initial(
  $padding-x,
  $padding-y,
  $line-height,
  $font-size,
  $border-width
) {
  padding: 0 $padding-x;
  .pgn__input-floating-label-content {
    padding-top: $padding-y;
    line-height: $line-height;
    font-size: $font-size;
  }
}

@mixin input-floating-label-float(
  $padding-x,
  $padding-y,
  $line-height,
  $font-size,
  $border-width
) {
  .pgn__input-floating-label-text {
    $half-leading: ($line-height - 0.8) / 2;
    $percent-height-minus-no-bottom-leading: (
        ($line-height - $half-leading) / $line-height
      ) * 100%;
    transform: translateY(-$padding-y)
      translateY(-$percent-height-minus-no-bottom-leading);
  }
}

.pgn__input-floating-label {
  position: absolute;
  left: $input-border-width;
  right: 0;
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .pgn__input-floating-label-content {
    border-top: solid 2px transparent;
    position: relative;
    left: -0.5em;
  }
  .pgn__input-floating-label-text {
    transform-origin: left top;
    padding: 0 0.5em;
    transition: transform 150ms ease, background-color 150ms linear;
    background: transparent;
  }

  &.with-leading-icon {
    .pgn__input-floating-label-text {
      transform: translateX(#{$icon-width});
    }
  }

  @include input-floating-label-initial(
    $input-padding-x,
    $input-padding-y,
    $input-line-height,
    $input-font-size,
    $input-border-width
  );
  .pgn__input-box-lg & {
    @include input-floating-label-initial(
      $input-padding-x-lg,
      $input-padding-y-lg,
      $input-line-height-lg,
      $input-font-size-lg,
      $input-border-width
    );
  }
  .pgn__input-box-sm & {
    @include input-floating-label-initial(
      $input-padding-x-sm,
      $input-padding-y-sm,
      $input-line-height-sm,
      $input-font-size-sm,
      $input-border-width
    );
  }

  // float
  &.is-floating,
  .pgn__input:not([disabled]):focus ~ & {
    .pgn__input-floating-label-text {
      background-color: $input-bg;
    }
    @include input-floating-label-float(
      $input-padding-x,
      $input-padding-y,
      $input-line-height,
      $input-font-size,
      $input-border-width
    );
    .pgn__input-box-lg & {
      @include input-floating-label-float(
        $input-padding-x-lg,
        $input-padding-y-lg,
        $input-line-height-lg,
        $input-font-size-lg,
        $input-border-width
      );
    }
    .pgn__input-box-sm & {
      @include input-floating-label-float(
        $input-padding-x-sm,
        $input-padding-y-sm,
        $input-line-height-sm,
        $input-font-size-sm,
        $input-border-width
      );
    }
  }
}
