@import "variables";

$y-padding: $input-padding-y;
$x-padding: $input-padding-x;
$line-height: $input-line-height;
$icon-width: 32px;
$input-bg: white;
$focus-color: $primary-500;
$focus-border-width: 2px;
$difference-focus-default-border-width: $focus-border-width - $input-border-width;

.pgn__input-box {
  position: relative;
  display: flex;
  align-items: center;

  &.with-leading-icon {
    .pgn__input {
      padding-left: calc(#{$x-padding} + #{$icon-width});
    }
  }
  &.with-trailing-icon-button {
    .pgn__input {
      padding-right: calc(#{$x-padding} + #{$icon-width});
    }
  }
}

.pgn__input-box-icon {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  button {
    pointer-events: initial;
  }
}
.pgn__input-box-icon-leading {
  left: 0;
  padding-left: $x-padding;
  padding-right: $x-padding / 2;
}
.pgn__input-box-icon-trailing {
  right: 0;
  padding-left: $x-padding / 2;
  padding-right: $x-padding / 2;
}


.pgn__input-box-trailing-icon-button {
  position: absolute;

  top: 0;
  bottom: 0;
  // border-radius: 50%;
  border: none;
  padding: 2px $x-padding / 2;
  right: $x-padding / 2;
  background: none;
  .pgn__icon {
    background: transparent;
    transition: color, background-color 150ms ease;
    color: rgba(0,0,0,.6);
    border-radius: 4px;
  }
  &:hover, &:focus {
    outline: none;
    border: none;
    .pgn__icon {
      color: rgba(0,0,0,1);
      background: rgba(0,0,0,.1);
    }
  }
}

.pgn__input-box-outline {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.pgn__input-box-outline-start,
.pgn__input-box-outline-label-container,
.pgn__input-box-outline-end {
  border: solid $input-border-width $input-border-color;
}
.pgn__input-box-outline-start {
  flex-shrink: 0;
  width: 3 * ($x-padding / 4);
  border-right: 0;
  border-bottom-left-radius: $input-border-radius;
  border-top-left-radius: $input-border-radius;
}
.pgn__input-box-outline-label-container {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  position: relative;
  max-width: calc(95% - #{2*$icon-width});
  padding: calc(#{$y-padding} + #{$difference-focus-default-border-width}) $x-padding / 4 0;

  &:before {
    content: '';
    position: absolute;
    height: $input-border-width;
    width: 25%;
    margin-right: -$x-padding / 4;
    right: 0;
    top: 0;
    background-color: $input-border-color;
  }
}
.pgn__input-box-outline-end {
  flex-grow: 1;
  flex-shrink: 1;
  border-left: 0;
  border-bottom-right-radius: $input-border-radius;
  border-top-right-radius: $input-border-radius;
}

.pgn__input-box-outline-label {
  transform-origin: left top;
  white-space: nowrap;
  margin-left: $difference-focus-default-border-width;
  margin-top: $difference-focus-default-border-width;
  line-height: $line-height;
  font-size: $input-font-size;
  transform: translateX(0);
  overflow: hidden;
  text-overflow: ellipsis;
  &.with-leading-icon {
    transform: translateX(#{$icon-width});
  }
  transition: color, transform 150ms ease;
}

// .pgn__input-box.has-value .pgn__input,
.pgn__input-box.has-value .form-control,
.pgn__input:not([disabled]):focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

.pgn__input-box.has-value,
.pgn__input:not([disabled]):focus ~ .pgn__input-box-outline {
 .pgn__input-box-outline-label {
    $scale: .75;
    $scale-translate-multiplier: 1 / $scale;
    $translate-line-height: $input-line-height * .5em;
    $translate-half-cap-height: ($input-font-size / 2) * .75;
    $translate-padding: $scale-translate-multiplier * $input-padding-y;
    color: $focus-color;
    transform: scale($scale) translateY(-$translate-padding) translateY(-$translate-line-height) translateY(-$translate-half-cap-height) translateY($difference-focus-default-border-width);
  }
}

.pgn__input:not([disabled]):focus {
  & ~ .pgn__input-box-outline {
    .pgn__input-box-outline-start,
    .pgn__input-box-outline-label-container,
    .pgn__input-box-outline-end {
      border-width: $input-focus-width;
      border-color: $focus-color;
    }
    .pgn__input-box-outline-label-container::before {
      background-color: $focus-color;
      height: $input-focus-width;
    }
  }
}
