// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y: var(--pgn-alert-padding-y) !default;
$alert-padding-x: var(--pgn-alert-padding-x) !default;
$alert-margin-bottom: var(--pgn-alert-margin-bottom) !default;
$alert-border-radius: var(--pgn-alert-border-radius) !default;
$alert-link-font-weight: var(--pgn-alert-font-weight-link) !default;
$alert-border-width: var(--pgn-alert-border-width) !default;
$alert-title-color: var(--pgn-alert-color-title) !default;
$alert-box-shadow: var(--pgn-alert-box-shadow) !default;

$alert-bg-level: var(--pgn-alert-level-bg) !default;
$alert-border-level: var(--pgn-alert-level-border) !default;
$alert-color-level: var(--pgn-alert-level-color) !default;

$alert-icon-space: var(--pgn-alert-icon-space) !default;

$alert-font-size: var(--pgn-alert-font-size) !default;
$alert-line-height: var(--pgn-alert-line-height) !default;
$alert-content-color: var(--pgn-alert-color-content) !default;

$alert-actions-gap: var(--pgn-alert-actions-gap) !default;
