@mixin nav-tabs-link-focus($border-color) {
  position: relative;
  outline: 0;
  z-index: map-get($map: $indexes, $key: 1);

  &::before {
    content: "";
    position: absolute;
    top: calc(#{$nav-tabs-link-distance-to-border} * -1);
    right: calc(#{$nav-tabs-link-distance-to-border} * -1);
    bottom: calc(#{$nav-tabs-link-distance-to-border} * -1);
    left: calc(#{$nav-tabs-link-distance-to-border} * -1);
    border: solid $nav-tabs-border-width $border-color;
    border-radius: $nav-tabs-border-radius;
  }
}
