@use "sass:map";
@mixin nav-tabs-link-focus(
  $border-color,
  $radius: $nav-tabs-border-radius,
  $distance: $nav-tabs-link-distance-to-border
) {
  position: relative;
  outline: 0;
  z-index: map.get($map: $indexes, $key: 1);

  &::before {
    content: "";
    position: absolute;
    top: calc(#{$distance} * -1);
    right: calc(#{$distance} * -1);
    bottom: calc(#{$distance} * -1);
    left: calc(#{$distance} * -1);
    border: solid $nav-tabs-border-width $border-color;
    border-radius: $radius;
  }
}
