
// Navs

$nav-link-padding-y:                .5rem !default;
$nav-link-padding-x:                1rem !default;
$nav-link-disabled-color:           theme-color("gray", "light-text") !default;

$nav-tabs-border-color:             theme-color("gray", "border") !default;
$nav-tabs-border-width:             $border-width !default;
$nav-tabs-border-radius:            $border-radius !default;
$nav-tabs-link-hover-border-color:  theme-color("gray", "border") theme-color("gray", "border") $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        theme-color("gray", "text") !default;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: theme-color("gray", "active-border") theme-color("gray", "active-border") $nav-tabs-link-active-bg !default;

$nav-pills-border-radius:           $border-radius !default;
$nav-pills-link-active-color:       $component-active-color !default;
$nav-pills-link-active-bg:          $component-active-bg !default;

$nav-divider-color:                 theme-color("gray", "background") !default;
$nav-divider-margin-y:              $spacer / 2 !default;
