// Navs

$nav-link-padding-y:                .5rem !default;
$nav-link-padding-x:                1rem !default;
$nav-link-color:                    var(--pgn-color-gray-700) !default;
$nav-link-disabled-color:           var(--pgn-color-gray-300) !default;
$nav-link-font-weight:              500 !default;

$nav-tabs-border-color:             var(--pgn-color-light-400) !default;
$nav-tabs-border-width:             2px !default;
$nav-tabs-border-radius:            0 !default;
$nav-tabs-link-hover-border-color:  transparent transparent var(--pgn-nav-tabs-border-color) !default;
$nav-tabs-link-hover-bg:            var(--pgn-color-light-400) !default;
$nav-tabs-link-active-color:        var(--pgn-color-primary-500) !default;
$nav-tabs-link-active-bg:           var(--pgn-body-bg) !default;
$nav-tabs-link-active-border-color: transparent transparent var(--pgn-color-primary-500) !default;

$nav-pills-border-radius:           var(--pgn-border-radius-base) !default;
$nav-pills-link-active-color:       var(--pgn-component-active-color) !default;
$nav-pills-link-active-bg:          var(--pgn-component-active-bg) !default;

$nav-divider-color:                 theme-color("gray", "background") !default;
$nav-divider-margin-y:              calc(var(--pgn-spacer-base) / 2) !default;
