@import "mixins";

// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: var(--pgn-spacing-nav-link-padding-y) var(--pgn-spacing-nav-link-padding-x);
  text-decoration: var(--pgn-typography-nav-link-text-decoration);
  color: var(--pgn-color-nav-link-text-base);
  font-weight: var(--pgn-typography-nav-link-font-weight);

  @include hover-focus {
    text-decoration: none;
    color: var(--pgn-color-nav-link-text-base);
  }

  // Disabled state lightens text
  &.disabled {
    color: var(--pgn-color-nav-link-text-disabled);
    pointer-events: none;
    cursor: default;
  }
}

//
// Tabs
//

.pgn__tabs {
  &.nav-pills .nav-link {
    border: var(--pgn-size-nav-pills-link-border-width) solid var(--pgn-color-nav-pills-base-link-border);

    &:focus {
      @include nav-tabs-link-focus($nav-tabs-link-focus-border-color, $nav-pills-border-radius);
    }

    &:hover {
      border-color: var(--pgn-border-color-nav-tabs-link-border-hover);
      background-color: var(--pgn-color-nav-tabs-base-link-hover-bg);
    }

    &.active,
    .nav-item.show .nav-link {
      color: $nav-pills-link-active-color;
      background-color: $nav-pills-link-active-bg;
      border-color: $nav-pills-link-active-border-color;

      &:focus {
        @include nav-tabs-link-focus($nav-tabs-link-focus-border-color, $nav-pills-border-radius);
      }
    }
  }

  &.nav-inverse-pills {
    + .tab-content {
      color: var(--pgn-color-nav-pills-inverse-tab-content-color);
    }

    .nav-link {
      color: var(--pgn-color-nav-pills-inverse-link-text-base);
      // stylelint-disable-next-line max-line-length
      border: var(--pgn-size-nav-pills-inverse-link-border-width) solid var(--pgn-color-nav-pills-inverse-link-border-base);

      &:hover {
        background-color: var(--pgn-color-nav-pills-inverse-link-bg-hover);
      }

      &:focus {
        @include nav-tabs-link-focus(var(--pgn-color-nav-pills-inverse-link-text-focus));
      }

      &.disabled {
        opacity: .5;
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      background-color: var(--pgn-color-nav-pills-inverse-link-bg-active);
      color: var(--pgn-color-nav-pills-inverse-link-text-active);
      border-color: var(--pgn-color-nav-pills-inverse-link-border-active);

      &:hover {
        background-color: var(--pgn-color-nav-pills-inverse-link-bg-active-hover);
        color: var(--pgn-color-nav-pills-inverse-link-text-active-hover);
        border-color: var(--pgn-color-nav-pills-inverse-link-border-active-hover);
      }

      &:focus {
        border-color: $nav-inverse-pills-link-active-focus-border-color;

        &:hover {
          background-color: $nav-inverse-pills-link-active-focus-hover-bg;
          color: $nav-inverse-pills-link-active-focus-color;
          border-color: $nav-inverse-pills-link-active-focus-hover-border-color;
        }
      }
    }
  }

  &.nav-inverse-tabs {
    + .tab-content {
      color: var(--pgn-color-nav-tabs-inverse-link-tab-content-color);
    }

    .nav-link {
      color: var(--pgn-color-nav-tabs-inverse-link-text-base);
      border-bottom: var(--pgn-size-nav-tabs-border-width) solid var(--pgn-color-nav-tabs-inverse-link-border-bottom);

      .dropdown .dropdown-toggle {
        border-bottom: $nav-tabs-border-width solid $nav-inverse-tabs-dropdown-border-color;

        &:hover {
          border-bottom: none;
        }
      }

      &:hover {
        background-color: var(--pgn-color-nav-tabs-inverse-link-bg-hover);
      }

      &:focus {
        @include nav-tabs-link-focus(var(--pgn-color-nav-tabs-inverse-link-bg-focus));
      }

      &.disabled {
        opacity: .5;
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      // stylelint-disable-next-line max-line-length
      border-bottom: var(--pgn-size-nav-tabs-inverse-link-active-border-bottom-width) solid var(--pgn-color-nav-tabs-inverse-link-border-active);
      background-color: var(--pgn-color-nav-tabs-inverse-link-bg-active);

      &:hover {
        background-color: var(--pgn-color-nav-tabs-inverse-link-bg-active-hover);
      }
    }
  }
}

.nav-tabs {
  border-bottom: var(--pgn-size-nav-tabs-border-width) solid var(--pgn-color-nav-tabs-base-border);

  button.nav-link {
    border: none;
    border-bottom: $nav-tabs-border-width solid $nav-tabs-link-border-color;

    &.disabled {
      border-color: $nav-tabs-link-disabled-border-color;
    }
  }

  .nav-link {
    margin-bottom: calc(#{$nav-tabs-border-width} * -1);

    @include border-top-radius(var(--pgn-size-nav-tabs-border-radius));

    &:hover {
      background-color: $nav-tabs-link-hover-bg;
    }

    .dropdown {
      padding-bottom: .125rem;
    }

    &:focus {
      border-bottom: $nav-tabs-border-width solid $nav-tabs-focus-border-color;

      @include nav-tabs-link-focus(var(--pgn-border-color-nav-tabs-link-border-focus));
    }

    &.disabled {
      color: var(--pgn-color-nav-link-text-disabled);
      background-color: $nav-tabs-disabled-bg;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
    border-bottom: $nav-tabs-border-width solid $nav-tabs-link-active-border-color;

    &:hover {
      background-color: var(--pgn-color-nav-tabs-base-link-hover-bg);
    }

    &:focus {
      @include nav-tabs-link-focus(var(--pgn-border-color-nav-tabs-link-border-focus));
    }
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: calc(var(--pgn-size-nav-tabs-border-width) * -1);

    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}

//
// Pills
//

.nav-pills {
  .nav-link {
    @include border-radius(var(--pgn-size-nav-pills-border-radius));
  }

  .nav-link.active,
  .show > .nav-link {
    color: var(--pgn-color-nav-pills-base-link-active-text);
    background-color: var(--pgn-color-nav-pills-base-link-active-bg);
  }
}

//
// Button Group
//

.nav-button-group {
  .nav-link {
    border: solid 1px var(--pgn-color-nav-tabs-base-border);

    &:first-child {
      @include border-left-radius(var(--pgn-size-nav-pills-border-radius));

      [dir="rtl"] & {
        @include border-right-radius(var(--pgn-size-nav-pills-border-radius));

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
      }
    }

    &:last-child {
      @include border-right-radius(var(--pgn-size-nav-pills-border-radius));

      [dir="rtl"] & {
        @include border-left-radius(var(--pgn-size-nav-pills-border-radius));

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:hover {
      background: var(--pgn-color-nav-tabs-base-link-hover-bg);
    }

    & + .nav-link {
      margin-left: -1px;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    color: var(--pgn-color-nav-pills-base-link-active-text);
    background-color: var(--pgn-color-nav-pills-base-link-active-bg);
    border-color: transparent;
  }
}

//
// Justified variants
//

.nav-fill {
  > .nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  > .nav-link,
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
    text-align: start;
  }

  > .active {
    display: block;
  }
}
