@import "variables";
@import "mixins";

// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;
  text-decoration: if($link-decoration == none, null, none);
  color: $nav-link-color;
  font-weight: $nav-link-font-weight;

  @include hover-focus {
    text-decoration: none;
    color: $nav-link-color;
  }

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
  }
}

//
// Tabs
//

.pgn__tabs {
  &.nav-pills .nav-link {
    border: $nav-pills-link-border-width solid $nav-pills-link-border-color;

    &:focus {
      @include nav-tabs-link-focus($nav-tabs-link-focus-border-color, $nav-pills-border-radius);
    }

    &:hover {
      border-color: $nav-tabs-link-hover-border-color;
      background-color: $nav-tabs-link-hover-bg;
    }

    &.active,
    .nav-item.show .nav-link {
      color: $nav-pills-link-active-color;
      background-color: $nav-pills-link-active-bg;
      border-color: $nav-pills-link-active-border-color;

      &:focus {
        @include nav-tabs-link-focus($nav-tabs-link-focus-border-color, $nav-pills-border-radius);
      }
    }
  }

  &.nav-inverse-pills {
    + .tab-content {
      color: $nav-inverse-pills-tab-content-color;
    }

    .nav-link {
      color: $nav-inverse-pills-link-color;
      border: $nav-inverse-pills-link-border-width solid $nav-inverse-pills-link-border-color;

      &:hover {
        background-color: $nav-inverse-pills-link-hover-bg;
      }

      &:focus {
        @include nav-tabs-link-focus($nav-inverse-pills-link-focus-color);
      }

      &.disabled {
        opacity: .5;
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      background-color: $nav-inverse-pills-link-active-bg;
      color: $nav-inverse-pills-link-active-color;
      border-color: $nav-inverse-pills-link-active-border-color;

      &:hover {
        background-color: $nav-inverse-pills-link-active-hover-bg;
        color: $nav-inverse-pills-link-active-hover-color;
        border-color: $nav-inverse-pills-link-active-hover-border-color;
      }

      &:focus {
        border-color: $nav-inverse-pills-link-active-focus-border-color;

        &:hover {
          background-color: $nav-inverse-pills-link-active-focus-hover-bg;
          color: $nav-inverse-pills-link-active-focus-color;
          border-color: $nav-inverse-pills-link-active-focus-hover-border-color;
        }
      }
    }
  }

  &.nav-inverse-tabs {
    + .tab-content {
      color: $nav-inverse-tabs-tab-content-color;
    }

    .nav-link {
      color: $nav-inverse-tabs-link-color;
      border-bottom: $nav-tabs-border-width solid $nav-inverse-tabs-link-border-bottom-color;

      .dropdown .dropdown-toggle {
        border-bottom: $nav-tabs-border-width solid $nav-inverse-tabs-dropdown-border-color;

        &:hover {
          border-bottom: none;
        }
      }

      &:hover {
        background-color: $nav-inverse-tabs-link-hover-bg;
      }

      &:focus {
        @include nav-tabs-link-focus($nav-inverse-tabs-link-focus-bg);
      }

      &.disabled {
        opacity: .5;
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      border-bottom: $nav-inverse-tabs-link-active-border-bottom-width solid $nav-inverse-tabs-link-active-border-color;
      background-color: $nav-inverse-tabs-link-active-bg;

      &:hover {
        background-color: $nav-inverse-tabs-link-active-hover-bg;
      }
    }
  }
}

.nav-tabs {
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

  button.nav-link {
    border: none;
    border-bottom: $nav-tabs-border-width solid $nav-tabs-link-border-color;

    &.disabled {
      border-color: $nav-tabs-link-disabled-border-color;
    }
  }

  .nav-link {
    margin-bottom: calc(#{$nav-tabs-border-width} * -1);

    @include border-top-radius($nav-tabs-border-radius);

    &:hover {
      background-color: $nav-tabs-hover-bg;
    }

    .dropdown {
      padding-bottom: .125rem;
    }

    &:focus {
      border-bottom: $nav-tabs-border-width solid $nav-tabs-focus-border-color;

      @include nav-tabs-link-focus($nav-tabs-link-focus-border-color);
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: $nav-tabs-disabled-bg;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
    border-bottom: $nav-tabs-border-width solid $nav-tabs-link-active-border-color;

    &:hover {
      background-color: $nav-tabs-link-hover-bg;
    }

    &:focus {
      @include nav-tabs-link-focus($nav-tabs-link-focus-border-color);
    }
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: calc(#{$nav-tabs-border-width} * -1);

    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}

//
// Pills
//

.nav-pills {
  .nav-link {
    @include border-radius($nav-pills-border-radius);
  }

  .nav-link.active,
  .show > .nav-link {
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
  }
}

//
// Button Group
//

.nav-button-group {
  .nav-link {
    border: solid 1px $nav-tabs-border-color;

    &:first-child {
      @include border-left-radius($nav-pills-border-radius);

      [dir="rtl"] & {
        @include border-right-radius($nav-pills-border-radius);

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
      }
    }

    &:last-child {
      @include border-right-radius($nav-pills-border-radius);

      [dir="rtl"] & {
        @include border-left-radius($nav-pills-border-radius);

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:hover {
      background: $nav-tabs-link-hover-bg;
    }

    & + .nav-link {
      margin-left: -1px;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
    border-color: transparent;
  }
}

//
// Justified variants
//

.nav-fill {
  > .nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  > .nav-link,
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
    text-align: start;
  }

  > .active {
    display: block;
  }
}
