// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: var(--pgn-spacing-nav-link-padding-y) var(--pgn-spacing-nav-link-padding-x);
  text-decoration: var(--pgn-typography-nav-link-text-decoration);
  color: var(--pgn-color-nav-link-text-base);
  font-weight: var(--pgn-typography-nav-link-font-weight);

  @include hover-focus {
    text-decoration: none;
    color: var(--pgn-color-nav-link-text-base);
  }

  // Disabled state lightens text
  &.disabled {
    color: var(--pgn-color-nav-link-text-disabled);
    pointer-events: none;
    cursor: default;
  }
}

//
// Tabs
//

.nav-tabs {
  border-bottom: var(--pgn-size-nav-tabs-border-width) solid var(--pgn-color-nav-tabs-border);

  .nav-link {
    margin-bottom: calc(var(--pgn-size-nav-tabs-border-width) * -1);
    border-top: var(--pgn-size-nav-tabs-border-width) solid transparent;
    border-bottom: var(--pgn-size-nav-tabs-border-width) solid transparent;
    border-left: none;
    border-right: none;

    @include border-top-radius(var(--pgn-size-nav-tabs-border-radius));

    @include hover-focus {
      border-color: var(--pgn-border-color-nav-tabs-link-border-hover);
      background-color: var(--pgn-color-nav-tabs-link-hover-bg);
    }

    &.disabled {
      color: var(--pgn-color-nav-link-text-disabled);
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: var(--pgn-color-nav-tabs-link-active-text);
    background-color: var(--pgn-color-nav-tabs-link-active-bg);
    border-color: var(--pgn-border-color-nav-tabs-link-border-active);
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: calc(var(--pgn-size-nav-tabs-border-width) * -1);

    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}

//
// Pills
//

.nav-pills {
  .nav-link {
    @include border-radius(var(--pgn-size-nav-pills-border-radius));
  }

  .nav-link.active,
  .show > .nav-link {
    color: var(--pgn-color-nav-pills-link-active-text);
    background-color: var(--pgn-color-nav-pills-link-active-bg);
  }
}

//
// Button Group
//

.nav-button-group {
  .nav-link {
    border: solid 1px var(--pgn-color-nav-tabs-border);

    &:first-child {
      @include border-left-radius(var(--pgn-size-nav-pills-border-radius));

      [dir="rtl"] & {
        @include border-right-radius(var(--pgn-size-nav-pills-border-radius));

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
      }
    }

    &:last-child {
      @include border-right-radius(var(--pgn-size-nav-pills-border-radius));

      [dir="rtl"] & {
        @include border-left-radius(var(--pgn-size-nav-pills-border-radius));

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:hover {
      background: var(--pgn-color-nav-tabs-link-hover-bg);
    }

    & + .nav-link {
      margin-left: -1px;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    color: var(--pgn-color-nav-pills-link-active-text);
    background-color: var(--pgn-color-nav-pills-link-active-bg);
    border-color: transparent;
  }
}

//
// Justified variants
//

.nav-fill {
  > .nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  > .nav-link,
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
    text-align: start;
  }

  > .active {
    display: block;
  }
}
