@import "variables";

// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;
  text-decoration: if($link-decoration ==none, null, none);
  color: $nav-link-color;
  font-weight: $nav-link-font-weight;

  @include hover-focus {
    text-decoration: none;
    color: $nav-link-color;
  }

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
  }
}

@mixin nav-tabs-link-focus($border-color) {
  position: relative;
  outline: 0;
  z-index: 3;

  &::before {
    content: "";
    position: absolute;
    top: -$nav-tabs-link-distance-to-border;
    right: -$nav-tabs-link-distance-to-border;
    bottom: -$nav-tabs-link-distance-to-border;
    left: -$nav-tabs-link-distance-to-border;
    border: solid $nav-tabs-border-width $border-color;
    border-radius: $nav-tabs-border-radius;
  }
}

//
// Tabs
//

.pgn__tabs {
  &.nav-pills .nav-link {
    border: 1px solid $light-400;

    &:focus {
      @include nav-tabs-link-focus($nav-tabs-link-focus-border-color);
    }

    &:hover {
      border-color: $nav-tabs-link-hover-border-color;
      background-color: $nav-tabs-link-hover-bg;
    }

    &.active,
    .nav-item.show .nav-link {
      color: $nav-pills-link-active-color;
      background-color: $nav-pills-link-active-bg;
      border-color: $nav-pills-link-active-bg;

      &:focus {
        @include nav-tabs-link-focus($nav-tabs-link-focus-border-color);
      }
    }
  }

  &.nav-inverse-pills {
    .nav-link {
      color: $white;
      border: 1px solid $primary-300;

      &:hover {
        background-color: $primary-300;
      }

      &:focus {
        @include nav-tabs-link-focus($white);
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      background-color: $white;
      color: $primary-300;
      border-color: $white;

      &:hover {
        background-color: $primary-300;
        color: $white;
        border-color: $primary-300;
      }

      &:focus:hover {
        background-color: $white;
        color: $primary-300;
        border-color: $white;
      }
    }
  }

  &.nav-inverse-tabs {
    .nav-link {
      color: $white;
      border-bottom: $nav-tabs-border-width solid $primary-300;

      &:hover {
        background-color: $primary-300;
      }

      &:focus {
        @include nav-tabs-link-focus($white);
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      border-bottom: 3px solid $white;
      background-color: $primary-300;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.nav-tabs {
  border-bottom: $nav-tabs-border-width solid $light-400;

  .nav-link {
    margin-bottom: -$nav-tabs-border-width;
    border: $nav-tabs-border-width solid transparent;
    border-bottom-width: 3px;

    @include border-top-radius($nav-tabs-border-radius);

    &:hover {
      border-color: $nav-tabs-link-hover-border-color;
      background-color: $nav-tabs-link-hover-bg;
    }

    &:focus {
      @include nav-tabs-link-focus($nav-tabs-link-focus-border-color);
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color;

    &:hover {
      background-color: $nav-tabs-link-hover-bg;
    }

    &:focus {
      @include nav-tabs-link-focus($nav-tabs-link-focus-border-color);
    }
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;

    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}

//
// Pills
//

.nav-pills {
  .nav-link {
    @include border-radius($nav-pills-border-radius);
  }

  .nav-link.active,
  .show>.nav-link {
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
  }
}

//
// Button Group
//

.nav-button-group {
  .nav-link {
    border: solid 1px $nav-tabs-border-color;

    &:first-child {
      @include border-left-radius($nav-pills-border-radius);

      [dir="rtl"] & {
        @include border-right-radius($nav-pills-border-radius);

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
      }
    }

    &:last-child {
      @include border-right-radius($nav-pills-border-radius);

      [dir="rtl"] & {
        @include border-left-radius($nav-pills-border-radius);

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:hover {
      background: $nav-tabs-link-hover-bg;
    }

    &+.nav-link {
      margin-left: -1px;
    }
  }

  .nav-link.active,
  .show>.nav-link {
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
    border-color: transparent;
  }
}

//
// Justified variants
//

.nav-fill {

  >.nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {

  >.nav-link,
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  >.tab-pane {
    display: none;
    text-align: start;
  }

  >.active {
    display: block;
  }
}
