@import "mixins";

// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: var(--pgn-spacing-nav-link-padding-y) var(--pgn-spacing-nav-link-padding-x);
  text-decoration: var(--pgn-typography-nav-link-text-decoration);
  color: var(--pgn-color-nav-link-text-base);
  font-weight: var(--pgn-typography-nav-link-font-weight);

  @include hover-focus {
    text-decoration: none;
    color: var(--pgn-color-nav-link-text-base);
  }

  // Disabled state lightens text
  &.disabled {
    color: var(--pgn-color-nav-link-text-disabled);
    pointer-events: none;
    cursor: default;
  }
}

//
// Tabs
//

.pgn__tabs {
  &.nav-pills .nav-link {
    border: $nav-pills-link-border-width solid $nav-pills-link-border-color;

    &:focus {
      @include nav-tabs-link-focus($nav-tabs-link-focus-border-color);
    }

    &:hover {
      border-color: $nav-tabs-link-hover-border-color;
      background-color: $nav-tabs-link-hover-bg;
    }

    &.active,
    .nav-item.show .nav-link {
      color: $nav-pills-link-active-color;
      background-color: $nav-pills-link-active-bg;
      border-color: $nav-pills-link-active-bg;

      &:focus {
        @include nav-tabs-link-focus($nav-tabs-link-focus-border-color);
      }
    }
  }

  &.nav-inverse-pills {
    + .tab-content {
      color: $nav-inverse-pills-tab-content-color;
    }

    .nav-link {
      color: $nav-inverse-pills-link-color;
      border: $nav-inverse-pills-link-border-width solid $nav-inverse-pills-link-border-color;

      &:hover {
        background-color: $nav-inverse-pills-link-hover-bg;
      }

      &:focus {
        @include nav-tabs-link-focus($nav-inverse-pills-link-focus-color);
      }

      &.disabled {
        opacity: .5;
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      background-color: $nav-inverse-pills-link-active-bg;
      color: $nav-inverse-pills-link-active-color;
      border-color: $nav-inverse-pills-link-active-border-color;

      &:hover {
        background-color: $nav-inverse-pills-link-active-hover-bg;
        color: $nav-inverse-pills-link-active-hover-color;
        border-color: $nav-inverse-pills-link-active-hover-border-color;
      }

      &:focus:hover {
        background-color: $nav-inverse-pills-link-active-focus-hover-bg;
        color: $nav-inverse-pills-link-active-focus-color;
        border-color: $nav-inverse-pills-link-active-focus-border-color;
      }
    }
  }

  &.nav-inverse-tabs {
    + .tab-content {
      color: $nav-inverse-tabs-tab-content-color;
    }

    .nav-link {
      color: $nav-inverse-tabs-link-color;
      border-bottom: $nav-tabs-border-width solid $nav-inverse-tabs-link-border-bottom-color;

      &:hover {
        background-color: $nav-inverse-tabs-link-hover-bg;
      }

      &:focus {
        @include nav-tabs-link-focus($nav-inverse-tabs-link-focus-bg);
      }

      &.disabled {
        opacity: .5;
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      border-bottom: $nav-inverse-tabs-link-active-border-bottom-width solid $nav-inverse-tabs-link-active-border-color;
      background-color: $nav-inverse-tabs-link-active-bg;

      &:hover {
        background-color: $nav-inverse-tabs-link-active-hover-bg;
      }
    }
  }
}

.nav-tabs {
  border-bottom: var(--pgn-size-nav-tabs-border-width) solid var(--pgn-color-nav-tabs-border);

  .nav-link {
    margin-bottom: calc(#{$nav-tabs-border-width} * -1);
    border: $nav-tabs-border-width solid $nav-tabs-link-border-color;
    border-bottom-width: $nav-tabs-link-border-bottom-width;

    @include border-top-radius(var(--pgn-size-nav-tabs-border-radius));

    &:hover {
      border-color: $nav-tabs-link-hover-border-color;
      background-color: $nav-tabs-link-hover-bg;
    }

    &:focus {
      @include nav-tabs-link-focus($nav-tabs-link-focus-border-color);
    }

    &.disabled {
      color: var(--pgn-color-nav-link-text-disabled);
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color;

    &:hover {
      background-color: $nav-tabs-link-hover-bg;
    }

    &:focus {
      @include nav-tabs-link-focus($nav-tabs-link-focus-border-color);
    }
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: calc(#{$nav-tabs-border-width} * -1);

    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}

//
// Pills
//

.nav-pills {
  .nav-link {
    @include border-radius(var(--pgn-size-nav-pills-border-radius));
  }

  .nav-link.active,
  .show > .nav-link {
    color: var(--pgn-color-nav-pills-link-active-text);
    background-color: var(--pgn-color-nav-pills-link-active-bg);
  }
}

//
// Button Group
//

.nav-button-group {
  .nav-link {
    border: solid 1px var(--pgn-color-nav-tabs-border);

    &:first-child {
      @include border-left-radius(var(--pgn-size-nav-pills-border-radius));

      [dir="rtl"] & {
        @include border-right-radius(var(--pgn-size-nav-pills-border-radius));

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
      }
    }

    &:last-child {
      @include border-right-radius(var(--pgn-size-nav-pills-border-radius));

      [dir="rtl"] & {
        @include border-left-radius(var(--pgn-size-nav-pills-border-radius));

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:hover {
      background: var(--pgn-color-nav-tabs-link-hover-bg);
    }

    & + .nav-link {
      margin-left: -1px;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    color: var(--pgn-color-nav-pills-link-active-text);
    background-color: var(--pgn-color-nav-pills-link-active-bg);
    border-color: transparent;
  }
}

//
// Justified variants
//

.nav-fill {
  > .nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  > .nav-link,
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
    text-align: start;
  }

  > .active {
    display: block;
  }
}
