@import "variables/colors";

$font-family-sans-serif:      "Roboto", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:           "Georgia", serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

//
// Buttons
//

$btn-padding-x:               1.25rem !default;
$btn-padding-x-sm:            1rem !default;
$btn-padding-x-lg:            1.75rem !default;

$btn-font-weight:             500 !default;

$btn-border-radius:           50rem !default; // rounded pill
$btn-border-radius-lg:        50rem !default; // rounded pill
$btn-border-radius-sm:        50rem !default; // rounded pill

$btn-focus-width: 2px !default;
$btn-focus-gap: 2px !default;
