@import "../components/CodeBlock";
@import "../components/LinkedHeading";
@import "../components/Menu";
@import "../components/doc-elements";
@import "../components/Settings";
@import "../components/Toc";
@import "../components/header/Header";
@import "../components/Search/Search";
@import "../components/IconsTable";
@import "../components/exampleComponents/ExamplePropsForm";

:root {
  --pgn-elevation-modal-zindex: 2503;
  --pgn-elevation-sheet-zindex-backdrop: 2501;
  --pgn-elevation-sheet-zindex-main: 2502;
  --pgn-www-zindex-header: 2500;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Remove this line after the edx.org brand removes a problematic max-width
.container-fluid {
  max-width: none;
}

.fs-16 {
  font-size: 16px;
}
