@import "~font-awesome/css/font-awesome.min.css";

// These imports are non-standard because of how this documentation
// site consumes Paragon inside the same project. Refer to the docs
// for the standard method of inclusion.
@import "~paragon-theme/fonts.scss";
@import "~paragon-theme/_variables.scss";
@import "~paragon-style/core/core.scss";
@import "~paragon-theme/_overrides.scss";

@import "./layout";
@import "./hero";
@import "./code-block";
@import "./status-table";

// Typography

.pgn-doc__main-content {
  h1 {
    margin: 4rem 0;
  }

  & > div {
    & > h1, & > h2, & > h3, & > h4, & > h5 {
      margin-top: 2em;
    }
  }

  // Colors Page
  .pgn-doc__swatch {
    height: 3rem;
    @extend .rounded;
    &.unused-level {
      background: $gray-100 !important;
    }
  }
}

.base-type {
  & + .base-type {
    margin-left: .25em;
  }
  display: inline-block;
  background: #eee;
  padding: 0 .25em;
  font-family: SFMono-Regular, Menlo, Monaco, "Courier New", monospace;
  font-size: .8em;
  vertical-align: middle;
}

.mobile-type {
  @include mobile-type;
}

input[type=range] {
  cursor: pointer;
}
