name: Node.js CI

on:
  pull_request:
    branches:
    - '**'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup Nodejs Env
      run: echo "NODE_VER=`cat .nvmrc`" >> $GITHUB_ENV
    - name: Setup Nodejs
      uses: actions/setup-node@v3
      with:
        node-version: ${{env.NODE_VER }}
    - name: Install dependencies
      run: npm ci
    - name: Check Types
      run: npm run type-check
    - name: Lint
      run: npm run lint
    - name: Test
      run: npm run test
    - name: Verify icon changes
      run: |
        cd icons
        rm -rf jsx
        rm -rf es5
        npm run build
        if [[ -n $(git status -s) ]]; then
          echo "::error::Generated icons do not match committed icons. Please run \`npm run build\` in the icons directory."
          exit 1
        fi
    - name: Build
      run: npm run build
    - name: Build Docs
      run: npm run build-docs
    - name: Coverage
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
