// Badges

$badge-font-size: var(--pgn-typography-badge-font-size) !default;
$badge-font-weight: var(--pgn-typography-badge-font-weight) !default;
$badge-padding-y: var(--pgn-spacing-badge-padding-y) !default;
$badge-padding-x: var(--pgn-spacing-badge-padding-x-base) !default;
$badge-border-radius: var(--pgn-size-badge-border-radius-base) !default;

$badge-transition: var(--pgn-transition-badge) !default;
$badge-focus-width: var(--pgn-size-badge-focus-width) !default;

$badge-pill-padding-x: var(--pgn-spacing-badge-padding-x-pill) !default;

// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$badge-pill-border-radius: var(--pgn-size-badge-border-radius-pill) !default;

$badge-primary-color: var(--pgn-color-badge-text-primary) !default;
$badge-primary-bg: var(--pgn-color-badge-bg-primary) !default;
$badge-primary-focus-color: var(--pgn-color-badge-focus-primary) !default;
$badge-primary-focus-bg: var(--pgn-color-badge-focus-bg-primary) !default;
$badge-primary-focus-box-shadow-color: var(--pgn-color-badge-focus-box-shadow-primary) !default;

$badge-secondary-color: var(--pgn-color-badge-text-secondary) !default;
$badge-secondary-bg: var(--pgn-color-badge-bg-secondary) !default;
$badge-secondary-focus-color: var(--pgn-color-badge-focus-secondary) !default;
$badge-secondary-focus-bg: var(--pgn-color-badge-focus-bg-secondary) !default;
$badge-secondary-focus-box-shadow-color: var(--pgn-color-badge-focus-box-shadow-secondary) !default;

$badge-success-color: var(--pgn-color-badge-text-success) !default;
$badge-success-bg: var(--pgn-color-badge-bg-success) !default;
$badge-success-focus-color: var(--pgn-color-badge-focus-success) !default;
$badge-success-focus-bg: var(--pgn-color-badge-focus-bg-success) !default;
$badge-success-focus-box-shadow-color: var(--pgn-color-badge-focus-box-shadow-success) !default;

$badge-danger-color: var(--pgn-color-badge-text-danger) !default;
$badge-danger-bg: var(--pgn-color-badge-bg-danger) !default;
$badge-danger-focus-color: var(--pgn-color-badge-focus-danger) !default;
$badge-danger-focus-bg: var(--pgn-color-badge-focus-bg-danger) !default;
$badge-danger-focus-box-shadow-color: var(--pgn-color-badge-focus-box-shadow-danger) !default;

$badge-warning-color: var(--pgn-color-badge-text-warning) !default;
$badge-warning-bg: var(--pgn-color-badge-bg-warning) !default;
$badge-warning-focus-color: var(--pgn-color-badge-focus-warning) !default;
$badge-warning-focus-bg: var(--pgn-color-badge-focus-bg-warning) !default;
$badge-warning-focus-box-shadow-color: var(--pgn-color-badge-focus-box-shadow-warning) !default;

$badge-info-color: var(--pgn-color-badge-text-info) !default;
$badge-info-bg: var(--pgn-color-badge-bg-info) !default;
$badge-info-focus-color: var(--pgn-color-badge-focus-info) !default;
$badge-info-focus-bg: var(--pgn-color-badge-focus-bg-info) !default;
$badge-info-focus-box-shadow-color: var(--pgn-color-badge-focus-box-shadow-info) !default;

$badge-light-color: var(--pgn-color-badge-text-light) !default;
$badge-light-bg: var(--pgn-color-badge-bg-light) !default;
$badge-light-focus-color: var(--pgn-color-badge-focus-light) !default;
$badge-light-focus-bg: var(--pgn-color-badge-focus-bg-light) !default;
$badge-light-focus-box-shadow-color: var(--pgn-color-badge-focus-box-shadow-light) !default;

$badge-dark-color: var(--pgn-color-badge-text-dark) !default;
$badge-dark-bg: var(--pgn-color-badge-bg-dark) !default;
$badge-dark-focus-color: var(--pgn-color-badge-focus-dark) !default;
$badge-dark-focus-bg: var(--pgn-color-badge-focus-bg-dark) !default;
$badge-dark-focus-box-shadow-color: var(--pgn-color-badge-focus-box-shadow-dark) !default;
