:root {
  --_1bcwwp20: Helvetica, arial, sans-serif;
  --_1bcwwp21: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --_1bcwwp22: normal 10px Helvetica, arial, sans-serif;
  --_1bcwwp23: normal 12px Helvetica, arial, sans-serif;
  --_1bcwwp24: normal 14px Helvetica, arial, sans-serif;
  --_1bcwwp25: normal 16px/1.3em Helvetica, arial, sans-serif;
  --_1bcwwp26: 100;
  --_1bcwwp27: 700;
  --_1bcwwp28: 4px;
  --_1bcwwp29: 2px;
  --_1bcwwp2a: 4px;
  --_1bcwwp2b: 6px;
  --_1bcwwp2c: 100%;
  --_1bcwwp2d: 70px;
  --_1bcwwp2e: 44px;
  --_1bcwwp2f: opacity 300ms ease, transform 300ms ease;
  --_1bcwwp2g: opacity 200ms ease, transform 200ms ease;
  --_1bcwwp2h: opacity 100ms ease, transform 100ms ease;
  --_1bcwwp2i: 0;
  --_1bcwwp2j: 2px;
  --_1bcwwp2k: 4px;
  --_1bcwwp2l: 6px;
  --_1bcwwp2m: 12px;
  --_1bcwwp2n: 16px;
  --_1bcwwp2o: 20px;
  --_1bcwwp2p: 40px;
}
:root {
  --_1bcwwp2q: #000;
  --_1bcwwp2r: #040080;
  --_1bcwwp2s: #005ad2;
  --_1bcwwp2t: #00439c;
  --_1bcwwp2u: #00439c;
  --_1bcwwp2v: #0088ff;
  --_1bcwwp2w: #75438a;
  --_1bcwwp2x: #a7a7a7;
  --_1bcwwp2y: #515151;
  --_1bcwwp2z: #fff;
  --_1bcwwp210: #a7a7a7;
  --_1bcwwp211: #cd193d;
  --_1bcwwp212: #005ad2;
  --_1bcwwp213: #1da584;
  --_1bcwwp214: rgba(0, 0, 0, .05);
  --_1bcwwp215: #005ad2;
  --_1bcwwp216: #c5f5e9;
  --_1bcwwp217: #fee1e9;
  --_1bcwwp218: #eeeeee;
  --_1bcwwp219: #fff;
  --_1bcwwp21a: #f4f4f4;
  --_1bcwwp21b: #e5f3ff;
  --_1bcwwp21c: #eeeeee;
  --_1bcwwp21d: 0 2px 8px rgba(18, 21, 26, 0.3);
  --_1bcwwp21e: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --_1bcwwp2q: #f6f8fa;
  --_1bcwwp2r: #c8e1f7;
  --_1bcwwp2s: #68aeea;
  --_1bcwwp2t: #97c8f1;
  --_1bcwwp2u: #97c8f1;
  --_1bcwwp2v: #3e8fe0;
  --_1bcwwp2w: #aa83f2;
  --_1bcwwp2x: #3d4b63;
  --_1bcwwp2y: #f6f8fa;
  --_1bcwwp2z: #000;
  --_1bcwwp210: #828ea4;
  --_1bcwwp211: #fa6b6c;
  --_1bcwwp212: #3e8fe0;
  --_1bcwwp213: #28b888;
  --_1bcwwp214: rgba(0, 0, 0, .15);
  --_1bcwwp215: #3e8fe0;
  --_1bcwwp216: #195546;
  --_1bcwwp217: #4c1a20;
  --_1bcwwp218: #1c2230;
  --_1bcwwp219: #0f131b;
  --_1bcwwp21a: #0a0c11;
  --_1bcwwp21b: rgba(41,111,192,0.15);
  --_1bcwwp21c: #1c2230;
  --_1bcwwp21d: 0 0 10px -2px #2d3648;
  --_1bcwwp21e: 0 0 0 5px rgba(104,174,234,0.4);
}
._1bcwwp21f {
  position: absolute;
}
._1bcwwp21g {
  position: relative;
}
._1bcwwp21h {
  position: fixed;
}
._1bcwwp21i {
  top: 0;
}
._1bcwwp21j {
  bottom: 0;
}
._1bcwwp21k {
  left: 0;
}
._1bcwwp21l {
  right: 0;
}
._1bcwwp21m {
  display: none;
}
._1bcwwp21n {
  display: flex;
}
._1bcwwp21o {
  display: block;
}
._1bcwwp21p {
  display: inline;
}
._1bcwwp21q {
  flex-direction: row;
}
._1bcwwp21r {
  flex-direction: column;
}
._1bcwwp21s {
  flex-direction: row-reverse;
}
._1bcwwp21t {
  flex-wrap: wrap;
}
._1bcwwp21u {
  justify-content: stretch;
}
._1bcwwp21v {
  justify-content: flex-start;
}
._1bcwwp21w {
  justify-content: center;
}
._1bcwwp21x {
  justify-content: flex-end;
}
._1bcwwp21y {
  justify-content: space-around;
}
._1bcwwp21z {
  justify-content: space-between;
}
._1bcwwp220 {
  align-items: stretch;
}
._1bcwwp221 {
  align-items: flex-start;
}
._1bcwwp222 {
  align-items: center;
}
._1bcwwp223 {
  align-items: flex-end;
}
._1bcwwp224 {
  padding-top: var(--_1bcwwp2i);
}
._1bcwwp225 {
  padding-top: var(--_1bcwwp2j);
}
._1bcwwp226 {
  padding-top: var(--_1bcwwp2k);
}
._1bcwwp227 {
  padding-top: var(--_1bcwwp2l);
}
._1bcwwp228 {
  padding-top: var(--_1bcwwp2m);
}
._1bcwwp229 {
  padding-top: var(--_1bcwwp2n);
}
._1bcwwp22a {
  padding-top: var(--_1bcwwp2o);
}
._1bcwwp22b {
  padding-top: var(--_1bcwwp2p);
}
._1bcwwp22c {
  padding-bottom: var(--_1bcwwp2i);
}
._1bcwwp22d {
  padding-bottom: var(--_1bcwwp2j);
}
._1bcwwp22e {
  padding-bottom: var(--_1bcwwp2k);
}
._1bcwwp22f {
  padding-bottom: var(--_1bcwwp2l);
}
._1bcwwp22g {
  padding-bottom: var(--_1bcwwp2m);
}
._1bcwwp22h {
  padding-bottom: var(--_1bcwwp2n);
}
._1bcwwp22i {
  padding-bottom: var(--_1bcwwp2o);
}
._1bcwwp22j {
  padding-bottom: var(--_1bcwwp2p);
}
._1bcwwp22k {
  padding-left: var(--_1bcwwp2i);
}
._1bcwwp22l {
  padding-left: var(--_1bcwwp2j);
}
._1bcwwp22m {
  padding-left: var(--_1bcwwp2k);
}
._1bcwwp22n {
  padding-left: var(--_1bcwwp2l);
}
._1bcwwp22o {
  padding-left: var(--_1bcwwp2m);
}
._1bcwwp22p {
  padding-left: var(--_1bcwwp2n);
}
._1bcwwp22q {
  padding-left: var(--_1bcwwp2o);
}
._1bcwwp22r {
  padding-left: var(--_1bcwwp2p);
}
._1bcwwp22s {
  padding-right: var(--_1bcwwp2i);
}
._1bcwwp22t {
  padding-right: var(--_1bcwwp2j);
}
._1bcwwp22u {
  padding-right: var(--_1bcwwp2k);
}
._1bcwwp22v {
  padding-right: var(--_1bcwwp2l);
}
._1bcwwp22w {
  padding-right: var(--_1bcwwp2m);
}
._1bcwwp22x {
  padding-right: var(--_1bcwwp2n);
}
._1bcwwp22y {
  padding-right: var(--_1bcwwp2o);
}
._1bcwwp22z {
  padding-right: var(--_1bcwwp2p);
}
._1bcwwp230 {
  margin-top: var(--_1bcwwp2i);
}
._1bcwwp231 {
  margin-top: var(--_1bcwwp2j);
}
._1bcwwp232 {
  margin-top: var(--_1bcwwp2k);
}
._1bcwwp233 {
  margin-top: var(--_1bcwwp2l);
}
._1bcwwp234 {
  margin-top: var(--_1bcwwp2m);
}
._1bcwwp235 {
  margin-top: var(--_1bcwwp2n);
}
._1bcwwp236 {
  margin-top: var(--_1bcwwp2o);
}
._1bcwwp237 {
  margin-top: var(--_1bcwwp2p);
}
._1bcwwp238 {
  margin-bottom: var(--_1bcwwp2i);
}
._1bcwwp239 {
  margin-bottom: var(--_1bcwwp2j);
}
._1bcwwp23a {
  margin-bottom: var(--_1bcwwp2k);
}
._1bcwwp23b {
  margin-bottom: var(--_1bcwwp2l);
}
._1bcwwp23c {
  margin-bottom: var(--_1bcwwp2m);
}
._1bcwwp23d {
  margin-bottom: var(--_1bcwwp2n);
}
._1bcwwp23e {
  margin-bottom: var(--_1bcwwp2o);
}
._1bcwwp23f {
  margin-bottom: var(--_1bcwwp2p);
}
._1bcwwp23g {
  margin-left: var(--_1bcwwp2i);
}
._1bcwwp23h {
  margin-left: var(--_1bcwwp2j);
}
._1bcwwp23i {
  margin-left: var(--_1bcwwp2k);
}
._1bcwwp23j {
  margin-left: var(--_1bcwwp2l);
}
._1bcwwp23k {
  margin-left: var(--_1bcwwp2m);
}
._1bcwwp23l {
  margin-left: var(--_1bcwwp2n);
}
._1bcwwp23m {
  margin-left: var(--_1bcwwp2o);
}
._1bcwwp23n {
  margin-left: var(--_1bcwwp2p);
}
._1bcwwp23o {
  margin-right: var(--_1bcwwp2i);
}
._1bcwwp23p {
  margin-right: var(--_1bcwwp2j);
}
._1bcwwp23q {
  margin-right: var(--_1bcwwp2k);
}
._1bcwwp23r {
  margin-right: var(--_1bcwwp2l);
}
._1bcwwp23s {
  margin-right: var(--_1bcwwp2m);
}
._1bcwwp23t {
  margin-right: var(--_1bcwwp2n);
}
._1bcwwp23u {
  margin-right: var(--_1bcwwp2o);
}
._1bcwwp23v {
  margin-right: var(--_1bcwwp2p);
}
._1bcwwp23w {
  overflow: hidden;
}
._1bcwwp23x {
  overflow: auto;
}
._1bcwwp23y {
  box-shadow: var(--_1bcwwp21d);
}
._1bcwwp23z {
  box-shadow: var(--_1bcwwp21e);
}
._1bcwwp240 {
  border-radius: var(--_1bcwwp29);
}
._1bcwwp241 {
  border-radius: var(--_1bcwwp2a);
}
._1bcwwp242 {
  border-radius: var(--_1bcwwp2b);
}
._1bcwwp243 {
  border-radius: var(--_1bcwwp2c);
}
._1bcwwp244 {
  transition: var(--_1bcwwp2f);
}
._1bcwwp245 {
  transition: var(--_1bcwwp2g);
}
._1bcwwp246 {
  transition: var(--_1bcwwp2h);
}
._1bcwwp247 {
  cursor: pointer;
}
._1bcwwp248 {
  pointer-events: none;
}
._1bcwwp249 {
  pointer-events: auto;
}
._1bcwwp24a {
  user-select: none;
}
._1bcwwp24b {
  appearance: none;
}
._1bcwwp24c {
  opacity: 0;
}
._1bcwwp24d {
  z-index: 0;
}
._1bcwwp24e {
  z-index: 1;
}
._1bcwwp24f {
  font: var(--_1bcwwp22);
}
._1bcwwp24g {
  font: var(--_1bcwwp23);
}
._1bcwwp24h {
  font: var(--_1bcwwp24);
}
._1bcwwp24i {
  font: var(--_1bcwwp25);
}
._1bcwwp24j {
  font-weight: var(--_1bcwwp26);
}
._1bcwwp24k {
  font-weight: var(--_1bcwwp27);
}
._1bcwwp24l {
  width: 100%;
}
._1bcwwp24m {
  width: 100vw;
}
._1bcwwp24n {
  height: 100%;
}
._1bcwwp24o {
  height: 100vh;
}
._1bcwwp24p {
  white-space: nowrap;
}
._1bcwwp24q {
  box-sizing: border-box;
}
._1bcwwp24r {
  text-align: center;
}
._1bcwwp24s {
  text-align: left;
}
._1bcwwp24t {
  text-align: right;
}
._1bcwwp24u {
  border: 0;
}
.zq42911 {
  color: var(--_1bcwwp2y);
}
.zq42912 {
  color: var(--_1bcwwp211);
}
.zq42919 {
  text-overflow: ellipsis;
}
._1pb2pg71 {
  overflow-x: auto;
  overflow-y: hidden;
}
._1pb2pg71::before {
  content: "";
  flex: 1;
}
._1pb2pg71::after {
  content: "";
  flex: 1;
}
._1pb2pg75 {
  flex-grow: 1;
}
._1pb2pg77:not(:hover) {
  opacity: 0.8;
}
._1pb2pg79 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
._1pb2pg73:not(:hover) ._1pb2pg79 {
  opacity: 0.3;
}
._1euwoqw1 {
  color: var(--_1bcwwp2y);
  font-family: var(--_1bcwwp20);
}
._1euwoqw2 {
  font-size: 36px;
}
._1euwoqw3 {
  font-size: 24px;
}
._1euwoqw4 {
  font-size: 16px;
}
._1lnzm2h2 {
  border-top: 1px solid var(--_1bcwwp21c);
}
._1li4cmf1:not(:last-child) {
  padding-bottom: var(--_1li4cmf0);
}
._1li4cmf2 {
  --_1li4cmf0: var(--_1bcwwp28);
}
._1li4cmf3 {
  --_1li4cmf0: calc(var(--_1bcwwp28) * 2);
}
._1li4cmf4 {
  --_1li4cmf0: calc(var(--_1bcwwp28) * 3);
}
._1li4cmf5 {
  --_1li4cmf0: calc(var(--_1bcwwp28) * 4);
}
._1li4cmf6 {
  --_1li4cmf0: calc(var(--_1bcwwp28) * 6);
}
._1li4cmf7 {
  --_1li4cmf0: calc(var(--_1bcwwp28) * 12);
}
._1m2bs0f2 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--_1bcwwp2l) * -1);
}
._1m2bs0f2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1bcwwp2b);
  box-shadow: var(--_1bcwwp21e);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--_1bcwwp2g);
}
._1m2bs0f2:focus::before, ._1m2bs0f2:hover::before {
  opacity: 1;
  transform: scale(1);
}
._1m2bs0f4 {
  height: calc(var(--_1bcwwp28) * 9);
}
._1m2bs0f6 {
  height: 20px;
  width: 20px;
}
._1m2bs0f8 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--_1bcwwp2j) * 2));
  width: calc(20px - (var(--_1bcwwp2j) * 2));
}
._1m2bs0f8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1bcwwp2a);
  box-shadow: var(--_1bcwwp21e);
  transition: var(--_1bcwwp2g);
  opacity: 0;
  transform: scale(0.5);
}
._1m2bs0f8::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1bcwwp2a);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_1bcwwp219);
}
._1m2bs0f6:hover:not(:focus) ~ ._1m2bs0f8::before, ._1m2bs0f6:focus ~ ._1m2bs0f8::before {
  opacity: 1;
  transform: scale(1);
}
._1m2bs0f8 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--_1bcwwp2h);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._1m2bs0f6:checked ~ ._1m2bs0f8 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--_1bcwwp2h);
}
._15vbv6q0 {
  transition: var(--_1bcwwp2g);
  transform-origin: 50% 50%;
}
._15vbv6q1 {
  transform: rotate(90deg);
}
._15vbv6q2 {
  transform: rotate(180deg);
}
._15vbv6q3 {
  transform: rotate(270deg);
}
._7poj9z4 {
  min-width: 0;
}
._7poj9z5 {
  flex-shrink: 0;
}
._7poj9z9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._7poj9z7:focus:not(:hover) ~ ._7poj9z9 {
  opacity: 1;
}
.e66w871 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--_1bcwwp2e);
  -webkit-tap-highlight-color: transparent;
}
.e66w874 {
  --e66w872: currentColor;
  color: var(--e66w872);
  border: 1px solid var(--_1bcwwp2x);
  height: calc(var(--_1bcwwp28) * 9);
}
.e66w874:hover {
  --e66w872: var(--_1bcwwp212);
  border-color: var(--e66w872);
}
.e66w874:active {
  transform: scale(0.98);
}
.e66w874::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--_1bcwwp2e);
  min-width: var(--_1bcwwp2e);
  left: calc((var(--_1bcwwp28) * 2) * -1);
  right: calc((var(--_1bcwwp28) * 2) * -1);
  height: 100%;
  top: 50%;
}
.e66w874:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_1bcwwp21e);
}
.e66w875 {
  --e66w872: var(--_1bcwwp213) !important;
  border-color: var(--e66w872);
}
.e66w877 {
  top: 1px;
}
.yea42u2 {
  margin-top: calc(var(--yea42u0) * -1);
  margin-left: calc(var(--yea42u0) * -1);
}
.yea42u3 {
  padding-top: var(--yea42u0);
  padding-left: var(--yea42u0);
}
.yea42u4 {
  --yea42u0: var(--_1bcwwp28);
}
.yea42u5 {
  --yea42u0: calc(var(--_1bcwwp28) * 2);
}
.yea42u6 {
  --yea42u0: calc(var(--_1bcwwp28) * 3);
}
.yea42u7 {
  --yea42u0: calc(var(--_1bcwwp28) * 4);
}
.yea42u8 {
  --yea42u0: calc(var(--_1bcwwp28) * 5);
}
.yea42u9 {
  --yea42u0: calc(var(--_1bcwwp28) * 6);
}
._1nkd07z1 {
  color: var(--_1bcwwp2y);
  height: var(--_1bcwwp2e);
  background: var(--_1bcwwp219);
}
._1nkd07z1:focus {
  outline: none;
}
._1nkd07z1::placeholder {
  color: var(--_1bcwwp2x);
}
._1q6lojc5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_1bcwwp219);
  -webkit-tap-highlight-color: transparent;
}
._1q6lojc5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1bcwwp21b);
  opacity: 0;
  transition: var(--_1bcwwp2f);
  pointer-events: none;
}
._1q6lojc5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--_1bcwwp2f);
}
._1q6lojc5._1q6lojc0 {
  color: var(--_1bcwwp213);
}
._1q6lojc5:not(._1q6lojc1) {
  cursor: pointer;
}
._1q6lojc5._1q6lojc1 {
  color: var(--_1bcwwp2x);
}
._1q6lojc5._1q6lojc2,._1q6lojc5._1q6lojc3:not(._1q6lojc0):not(._1q6lojc1),html:not([data-playroom-dark]) ._1q6lojc5:hover:not(._1q6lojc0):not(._1q6lojc1) {
  color: var(--_1bcwwp212);
}
._1q6lojc5:not(._1q6lojc0):not(:hover):focus::before {
  color: var(--_1bcwwp2y);
}
._1q6lojc5:not(._1q6lojc0):not(._1q6lojc1):focus::before,._1q6lojc5:not(._1q6lojc0):not(._1q6lojc1):hover::before {
  opacity: 1;
}
._1q6lojc5:not(._1q6lojc3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._1q6lojc8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_1bcwwp215);
  border: 2px solid var(--_1bcwwp219);
}
._1q6lojc8:not(._1q6lojc6) {
  transform: scale(0);
  opacity: 0;
}
._1q6lojca {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_1bcwwp213);
  border: 2px solid var(--_1bcwwp219);
}
._1q6lojca:not(._1q6lojc6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._1q6lojca svg {
  color: var(--_1bcwwp2z);
}
.g9hpfc2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_1bcwwp21c);
}
.g9hpfc4 {
  top: 60px;
}
.g9hpfc6 {
  color: var(--_1bcwwp2y);
  background-color: var(--_1bcwwp219);
}
.g9hpfc6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1bcwwp21b);
  border-radius: var(--_1bcwwp2a);
  opacity: 0;
  transition: var(--_1bcwwp2f);
  pointer-events: none;
}
.g9hpfc8 {
  color: var(--_1bcwwp210);
}
.g9hpfc9 {
  color: var(--_1bcwwp212);
}
.g9hpfc9::before {
  opacity: 1;
}
._7fnt2g2 {
  color: var(--_1bcwwp2y);
  min-width: calc(60px + 1px);
}
._7fnt2g2._7fnt2g0 {
  width: 100vw;
}
._7fnt2g8 {
  bottom: 60px;
}
._7fnt2g8:not(._7fnt2g6) {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
._7fnt2ga {
  width: 60px;
  background-color: var(--_1bcwwp219);
  border-left: 1px solid var(--_1bcwwp21c);
}
._7fnt2gc {
  width: 320px;
  background-color: var(--_1bcwwp219);
  border-left: 1px solid var(--_1bcwwp21c);
}
._7fnt2g2:not(._7fnt2g0) ._7fnt2gc {
  transform: translateX(calc(320px * 0.3));
  opacity: 0;
  pointer-events: none;
}
.jh45pb2 {
  display: flex;
  align-items: center;
}
.jh45pb2 > *:first-child {
  flex: 1;
}
.jh45pb2 > *:nth-child(2) {
  flex: 0 0 43%;
}
.jh45pb4 {
  display: inline-block;
  background: var(--_1bcwwp218);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
.jh45pb6 {
  height: var(--_1bcwwp2e);
  width: var(--_1bcwwp2e);
}
.jh45pb9 {
  height: var(--_1bcwwp2e);
  width: var(--_1bcwwp2e);
}
.jh45pb9::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1bcwwp21b);
  border-radius: var(--_1bcwwp2b);
  transition: var(--_1bcwwp2g);
  opacity: 0;
  transform: scale(0.8);
}
.jh45pb6:checked ~ .jh45pb9,html:not([data-playroom-dark]) .jh45pb6:hover ~ .jh45pb9 {
  color: var(--_1bcwwp212);
}
.jh45pb6:focus ~ .jh45pb9::before, .jh45pb6:hover ~ .jh45pb9::before {
  opacity: 1;
  transform: scale(1);
}
._18dm55 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--_1bcwwp28) * 5);
  height: calc(var(--_1bcwwp28) * 8);
  max-width: calc((100vw - 60px) - (var(--_1bcwwp2d) * 2));
}
._18dm55._18dm50 {
  padding-right: calc((15px * 2) + 16px);
}
._18dm55:not(._18dm51) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
._18dm55._18dm52 {
  background-color: var(--_1bcwwp216);
}
._18dm55._18dm53 {
  background-color: var(--_1bcwwp217);
}
._18dm57 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
._18dm57:not(:hover) {
  opacity: 0.4;
}
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line > span::selection, 
.cm-fat-cursor .CodeMirror-line > span > span::selection { background: transparent; }
.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span > span::-moz-selection { background: transparent; }
.cm-fat-cursor { caret-color: transparent; }
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

/* neo theme for codemirror */

/* Color scheme */

.cm-s-neo.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
}
.cm-s-neo .cm-comment { color:#75787b; }
.cm-s-neo .cm-keyword, .cm-s-neo .cm-property { color:#1d75b3; }
.cm-s-neo .cm-atom,.cm-s-neo .cm-number { color:#75438a; }
.cm-s-neo .cm-node,.cm-s-neo .cm-tag { color:#9c3328; }
.cm-s-neo .cm-string { color:#b35e14; }
.cm-s-neo .cm-variable,.cm-s-neo .cm-qualifier { color:#047d65; }


/* Editor styling */

.cm-s-neo pre {
  padding:0;
}

.cm-s-neo .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}

.cm-s-neo .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
}

.cm-s-neo .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-neo .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-neo .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(155,157,162,0.37);
  z-index: 1;
}

@keyframes voybqu1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.voybqu0 {
  background-color: var(--_1bcwwp21b);
}
.voybqu3 {
  background-color: var(--_1bcwwp217);
  color: var(--_1bcwwp211);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: voybqu1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.voybqu4 {
  width: 1em;
  padding: 0 8px;
}
.voybqu6::after {
  content: "-";
}
.voybqu8::after {
  content: "+";
  color: var(--_1bcwwp212);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_1bcwwp219);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--_1bcwwp21);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--_1bcwwp2d);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_1bcwwp21d);
  border-radius: var(--_1bcwwp2a);
  background-color: var(--_1bcwwp219);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--_1bcwwp21);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_1bcwwp218);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--_1bcwwp29);
  white-space: pre;
  color: var(--_1bcwwp2q);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_1bcwwp215);
  color: var(--_1bcwwp2z);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_1bcwwp212);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--_1bcwwp28);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_1bcwwp219);
  color: var(--_1bcwwp2q);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_1bcwwp2y);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_1bcwwp219);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_1bcwwp219);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_1bcwwp219);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_1bcwwp21b);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_1bcwwp2y);
  transition: var(--_1bcwwp2h);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(.voybqu8) {
  color: var(--_1bcwwp2x);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_1bcwwp2y);
  transition: var(--_1bcwwp2h);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_1bcwwp2x);
}
.cm-s-neo .cm-tag {
  color: var(--_1bcwwp2r);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_1bcwwp2s);
}
.cm-s-neo .cm-string {
  color: var(--_1bcwwp2t);
}
.cm-s-neo .cm-atom {
  color: var(--_1bcwwp2u);
}
.cm-s-neo .cm-variable {
  color: var(--_1bcwwp2v);
}
.cm-s-neo .cm-number {
  color: var(--_1bcwwp2w);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--_1bcwwp21a);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
.hkfj3n3 {
  position: absolute !important;
}
.hkfj3n6 {
  max-width: 90vw;
}
.hkfj3n6.hkfj3n4 {
  transform: translateX(100%);
}
.hkfj3n8 {
  max-height: 90vh;
}
.hkfj3n8.hkfj3n4 {
  transform: translateY(100%);
}
.hkfj3nb.hkfj3n9 {
  width: 60px;
}
.hkfj3nd {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--_1bcwwp2e);
  height: var(--_1bcwwp2e);
}
.hkfj3nd::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--_1bcwwp2b);
  transition: var(--_1bcwwp2f);
}
.hkfj3nd:not(:hover):not(:focus) {
  opacity: 0.3;
}
.hkfj3nd:hover::before, .hkfj3nd:focus::before {
  opacity: 0.05;
}
.hkfj3nf {
  right: 60px;
}
