:root {
  --_1bcwwp20: Helvetica, arial, sans-serif;
  --_1bcwwp21: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --_1bcwwp22: normal 10px Helvetica, arial, sans-serif;
  --_1bcwwp23: normal 12px Helvetica, arial, sans-serif;
  --_1bcwwp24: normal 14px Helvetica, arial, sans-serif;
  --_1bcwwp25: normal 16px/1.3em Helvetica, arial, sans-serif;
  --_1bcwwp26: 100;
  --_1bcwwp27: 700;
  --_1bcwwp28: 4px;
  --_1bcwwp29: 2px;
  --_1bcwwp2a: 4px;
  --_1bcwwp2b: 6px;
  --_1bcwwp2c: 100%;
  --_1bcwwp2d: 70px;
  --_1bcwwp2e: 44px;
  --_1bcwwp2f: opacity 300ms ease, transform 300ms ease;
  --_1bcwwp2g: opacity 200ms ease, transform 200ms ease;
  --_1bcwwp2h: opacity 100ms ease, transform 100ms ease;
  --_1bcwwp2i: 0;
  --_1bcwwp2j: 2px;
  --_1bcwwp2k: 4px;
  --_1bcwwp2l: 6px;
  --_1bcwwp2m: 12px;
  --_1bcwwp2n: 16px;
  --_1bcwwp2o: 20px;
  --_1bcwwp2p: 40px;
}
:root {
  --_1bcwwp2q: #000;
  --_1bcwwp2r: #040080;
  --_1bcwwp2s: #005ad2;
  --_1bcwwp2t: #00439c;
  --_1bcwwp2u: #00439c;
  --_1bcwwp2v: #0088ff;
  --_1bcwwp2w: #75438a;
  --_1bcwwp2x: #a7a7a7;
  --_1bcwwp2y: #515151;
  --_1bcwwp2z: #fff;
  --_1bcwwp210: #a7a7a7;
  --_1bcwwp211: #cd193d;
  --_1bcwwp212: #005ad2;
  --_1bcwwp213: #1da584;
  --_1bcwwp214: rgba(0, 0, 0, .05);
  --_1bcwwp215: #005ad2;
  --_1bcwwp216: #c5f5e9;
  --_1bcwwp217: #fee1e9;
  --_1bcwwp218: #eeeeee;
  --_1bcwwp219: #fff;
  --_1bcwwp21a: #f4f4f4;
  --_1bcwwp21b: #e5f3ff;
  --_1bcwwp21c: #eeeeee;
  --_1bcwwp21d: 0 2px 8px rgba(18, 21, 26, 0.3);
  --_1bcwwp21e: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --_1bcwwp2q: #f6f8fa;
  --_1bcwwp2r: #c8e1f7;
  --_1bcwwp2s: #68aeea;
  --_1bcwwp2t: #97c8f1;
  --_1bcwwp2u: #97c8f1;
  --_1bcwwp2v: #3e8fe0;
  --_1bcwwp2w: #aa83f2;
  --_1bcwwp2x: #3d4b63;
  --_1bcwwp2y: #f6f8fa;
  --_1bcwwp2z: #000;
  --_1bcwwp210: #828ea4;
  --_1bcwwp211: #fa6b6c;
  --_1bcwwp212: #3e8fe0;
  --_1bcwwp213: #28b888;
  --_1bcwwp214: rgba(0, 0, 0, .15);
  --_1bcwwp215: #3e8fe0;
  --_1bcwwp216: #195546;
  --_1bcwwp217: #4c1a20;
  --_1bcwwp218: #1c2230;
  --_1bcwwp219: #0f131b;
  --_1bcwwp21a: #0a0c11;
  --_1bcwwp21b: rgba(41,111,192,0.15);
  --_1bcwwp21c: #1c2230;
  --_1bcwwp21d: 0 0 10px -2px #2d3648;
  --_1bcwwp21e: 0 0 0 5px rgba(104,174,234,0.4);
}
._1bcwwp21f {
  position: absolute;
}
._1bcwwp21g {
  position: relative;
}
._1bcwwp21h {
  position: fixed;
}
._1bcwwp21i {
  top: 0;
}
._1bcwwp21j {
  bottom: 0;
}
._1bcwwp21k {
  left: 0;
}
._1bcwwp21l {
  right: 0;
}
._1bcwwp21m {
  display: none;
}
._1bcwwp21n {
  display: flex;
}
._1bcwwp21o {
  display: block;
}
._1bcwwp21p {
  display: inline;
}
._1bcwwp21q {
  flex-direction: row;
}
._1bcwwp21r {
  flex-direction: column;
}
._1bcwwp21s {
  flex-direction: row-reverse;
}
._1bcwwp21t {
  flex-wrap: wrap;
}
._1bcwwp21u {
  justify-content: stretch;
}
._1bcwwp21v {
  justify-content: flex-start;
}
._1bcwwp21w {
  justify-content: center;
}
._1bcwwp21x {
  justify-content: flex-end;
}
._1bcwwp21y {
  justify-content: space-around;
}
._1bcwwp21z {
  justify-content: space-between;
}
._1bcwwp220 {
  align-items: stretch;
}
._1bcwwp221 {
  align-items: flex-start;
}
._1bcwwp222 {
  align-items: center;
}
._1bcwwp223 {
  align-items: flex-end;
}
._1bcwwp224 {
  padding-top: var(--_1bcwwp2i);
}
._1bcwwp225 {
  padding-top: var(--_1bcwwp2j);
}
._1bcwwp226 {
  padding-top: var(--_1bcwwp2k);
}
._1bcwwp227 {
  padding-top: var(--_1bcwwp2l);
}
._1bcwwp228 {
  padding-top: var(--_1bcwwp2m);
}
._1bcwwp229 {
  padding-top: var(--_1bcwwp2n);
}
._1bcwwp22a {
  padding-top: var(--_1bcwwp2o);
}
._1bcwwp22b {
  padding-top: var(--_1bcwwp2p);
}
._1bcwwp22c {
  padding-bottom: var(--_1bcwwp2i);
}
._1bcwwp22d {
  padding-bottom: var(--_1bcwwp2j);
}
._1bcwwp22e {
  padding-bottom: var(--_1bcwwp2k);
}
._1bcwwp22f {
  padding-bottom: var(--_1bcwwp2l);
}
._1bcwwp22g {
  padding-bottom: var(--_1bcwwp2m);
}
._1bcwwp22h {
  padding-bottom: var(--_1bcwwp2n);
}
._1bcwwp22i {
  padding-bottom: var(--_1bcwwp2o);
}
._1bcwwp22j {
  padding-bottom: var(--_1bcwwp2p);
}
._1bcwwp22k {
  padding-left: var(--_1bcwwp2i);
}
._1bcwwp22l {
  padding-left: var(--_1bcwwp2j);
}
._1bcwwp22m {
  padding-left: var(--_1bcwwp2k);
}
._1bcwwp22n {
  padding-left: var(--_1bcwwp2l);
}
._1bcwwp22o {
  padding-left: var(--_1bcwwp2m);
}
._1bcwwp22p {
  padding-left: var(--_1bcwwp2n);
}
._1bcwwp22q {
  padding-left: var(--_1bcwwp2o);
}
._1bcwwp22r {
  padding-left: var(--_1bcwwp2p);
}
._1bcwwp22s {
  padding-right: var(--_1bcwwp2i);
}
._1bcwwp22t {
  padding-right: var(--_1bcwwp2j);
}
._1bcwwp22u {
  padding-right: var(--_1bcwwp2k);
}
._1bcwwp22v {
  padding-right: var(--_1bcwwp2l);
}
._1bcwwp22w {
  padding-right: var(--_1bcwwp2m);
}
._1bcwwp22x {
  padding-right: var(--_1bcwwp2n);
}
._1bcwwp22y {
  padding-right: var(--_1bcwwp2o);
}
._1bcwwp22z {
  padding-right: var(--_1bcwwp2p);
}
._1bcwwp230 {
  margin-top: var(--_1bcwwp2i);
}
._1bcwwp231 {
  margin-top: var(--_1bcwwp2j);
}
._1bcwwp232 {
  margin-top: var(--_1bcwwp2k);
}
._1bcwwp233 {
  margin-top: var(--_1bcwwp2l);
}
._1bcwwp234 {
  margin-top: var(--_1bcwwp2m);
}
._1bcwwp235 {
  margin-top: var(--_1bcwwp2n);
}
._1bcwwp236 {
  margin-top: var(--_1bcwwp2o);
}
._1bcwwp237 {
  margin-top: var(--_1bcwwp2p);
}
._1bcwwp238 {
  margin-bottom: var(--_1bcwwp2i);
}
._1bcwwp239 {
  margin-bottom: var(--_1bcwwp2j);
}
._1bcwwp23a {
  margin-bottom: var(--_1bcwwp2k);
}
._1bcwwp23b {
  margin-bottom: var(--_1bcwwp2l);
}
._1bcwwp23c {
  margin-bottom: var(--_1bcwwp2m);
}
._1bcwwp23d {
  margin-bottom: var(--_1bcwwp2n);
}
._1bcwwp23e {
  margin-bottom: var(--_1bcwwp2o);
}
._1bcwwp23f {
  margin-bottom: var(--_1bcwwp2p);
}
._1bcwwp23g {
  margin-left: var(--_1bcwwp2i);
}
._1bcwwp23h {
  margin-left: var(--_1bcwwp2j);
}
._1bcwwp23i {
  margin-left: var(--_1bcwwp2k);
}
._1bcwwp23j {
  margin-left: var(--_1bcwwp2l);
}
._1bcwwp23k {
  margin-left: var(--_1bcwwp2m);
}
._1bcwwp23l {
  margin-left: var(--_1bcwwp2n);
}
._1bcwwp23m {
  margin-left: var(--_1bcwwp2o);
}
._1bcwwp23n {
  margin-left: var(--_1bcwwp2p);
}
._1bcwwp23o {
  margin-right: var(--_1bcwwp2i);
}
._1bcwwp23p {
  margin-right: var(--_1bcwwp2j);
}
._1bcwwp23q {
  margin-right: var(--_1bcwwp2k);
}
._1bcwwp23r {
  margin-right: var(--_1bcwwp2l);
}
._1bcwwp23s {
  margin-right: var(--_1bcwwp2m);
}
._1bcwwp23t {
  margin-right: var(--_1bcwwp2n);
}
._1bcwwp23u {
  margin-right: var(--_1bcwwp2o);
}
._1bcwwp23v {
  margin-right: var(--_1bcwwp2p);
}
._1bcwwp23w {
  overflow: hidden;
}
._1bcwwp23x {
  overflow: auto;
}
._1bcwwp23y {
  box-shadow: var(--_1bcwwp21d);
}
._1bcwwp23z {
  box-shadow: var(--_1bcwwp21e);
}
._1bcwwp240 {
  border-radius: var(--_1bcwwp29);
}
._1bcwwp241 {
  border-radius: var(--_1bcwwp2a);
}
._1bcwwp242 {
  border-radius: var(--_1bcwwp2b);
}
._1bcwwp243 {
  border-radius: var(--_1bcwwp2c);
}
._1bcwwp244 {
  transition: var(--_1bcwwp2f);
}
._1bcwwp245 {
  transition: var(--_1bcwwp2g);
}
._1bcwwp246 {
  transition: var(--_1bcwwp2h);
}
._1bcwwp247 {
  cursor: pointer;
}
._1bcwwp248 {
  pointer-events: none;
}
._1bcwwp249 {
  pointer-events: auto;
}
._1bcwwp24a {
  user-select: none;
}
._1bcwwp24b {
  appearance: none;
}
._1bcwwp24c {
  opacity: 0;
}
._1bcwwp24d {
  z-index: 0;
}
._1bcwwp24e {
  z-index: 1;
}
._1bcwwp24f {
  font: var(--_1bcwwp22);
}
._1bcwwp24g {
  font: var(--_1bcwwp23);
}
._1bcwwp24h {
  font: var(--_1bcwwp24);
}
._1bcwwp24i {
  font: var(--_1bcwwp25);
}
._1bcwwp24j {
  font-weight: var(--_1bcwwp26);
}
._1bcwwp24k {
  font-weight: var(--_1bcwwp27);
}
._1bcwwp24l {
  width: 100%;
}
._1bcwwp24m {
  width: 100vw;
}
._1bcwwp24n {
  height: 100%;
}
._1bcwwp24o {
  height: 100vh;
}
._1bcwwp24p {
  white-space: nowrap;
}
._1bcwwp24q {
  box-sizing: border-box;
}
._1bcwwp24r {
  text-align: center;
}
._1bcwwp24s {
  text-align: left;
}
._1bcwwp24t {
  text-align: right;
}
._1bcwwp24u {
  border: 0;
}
@keyframes _1ag4tjg4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
._1ag4tjg1 {
  z-index: 100;
  background: #1c2230;
  color: var(--_1bcwwp2z);
}
._1ag4tjg3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: _1ag4tjg4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
._1ag4tjg5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
.zq42911 {
  color: var(--_1bcwwp2y);
}
.zq42912 {
  color: var(--_1bcwwp211);
}
.zq42919 {
  text-overflow: ellipsis;
}
